@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");

body {
    font-family: Ubuntu;
}

main {
    .preloader {
        height: 100vh;        
        text-align: center;
        position: relative;
        background: url('../images/preloader.png') no-repeat 0 0;
        background-size: cover;

        img {
            width: fit-content;
        }

        .preloader-text {
            font-size: 7rem;
            font-weight: 900;
            letter-spacing: -0.88px;
        }

        .scroll-text {
            font-size: 1.8rem;
            letter-spacing: 0.51px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            padding-bottom: 100px;
            
            &:after {
                content:'';
                position: absolute;
                height: 0;
                width: 1px;
                background-color: $colorBlack;
                left: 50%;
                top: 25px;
                animation: scroll-down-line 2s infinite ease-in-out;
            }
        }

        @keyframes scroll-down-line {
            0% {
                height: 0;
            }
    
            50% {
                height: 86px;
            }
    
            100% {
                height: 0;
            }
        }
    }

    header {
        padding: 16px 0;

        .display-flex {
            justify-content: space-between;

            .logo {
                width: 20%;

                img {
                    max-width: 120px;
                }
            }

            nav {
                width: 74%;
                padding-right: 20px;
    
                ul {
                    display: flex;
                    justify-content: flex-end;
                    font-size: 2rem;
    
                    li {
                        margin-left: 30px;
    
                        &:first-child {
                            margin-left: 0;
                        }
    
                        a {
                            letter-spacing: -0.75px;
                            color: $color202020;
                        }

                        &.active {
                            text-decoration: underline;
                        }
                    }
                }
            }

            .site-search, .hamburger-menu {
                width: 3%;
            }

            .hamburger-menu {
                border-bottom: 2px solid $color202020;
                position: relative;
                width: 24px;
                height: 24px;
    
                &:before, &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    width: 100%;
                    border-bottom: 2px solid $color202020;
                }
    
                &:after {
                    top: 50%;
                }
            }

            .site-search {
                i {
                    display: block;
                    font-size: 0px;
                    width: 15px;
                    height: 15px;
                    border: 2px solid $color202020;
                    border-radius: 50%;
                    position: relative;
                    opacity: 0.3;
                    cursor: pointer;
                    transition: 0.5s all ease;

                    &:hover {
                        opacity: 0.8;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        width: 2px;
                        height: 7px;
                        bottom: -6px;
                        right: -3px;
                        background-color: $color202020;
                        transform: rotate(-41deg);
                    }
                }
            }
        }
    }

    .banner-wrapper {
        height: calc(100vh - 56px);
        margin-bottom: 164px;
        overflow: hidden;
        

        .banner-container {
            .carousel-content {
                display: inline-block;
                width: 100%;
                height: calc(100vh - 56px);
                position: relative;

                & > img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .child-companies {
                    position: absolute;
                    bottom: 150px;
                    display: flex;
                    // justify-content: space-around;
                    opacity: 0;
                    transition: 2s all ease;
                    
                    img {
                        height: fit-content;
                        margin-left: 40px;

                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }

                .know-more {
                    position: absolute;
                    bottom: 30px;
                    opacity: 0;
                    transition: 2s all ease;

                    .tagline {
                        font-size: 3rem;
                    }

                    &.full-width {
                        width: 95%;
                        left: 50%;
                        transform: translateX(-50%);
                    }

                    .link-text {
                        color: $colorBlack;
                        text-decoration: underline;

                        &:before {
                            background-color: $colorBlack;
                        }

                        &:after {
                            border-top-color: $colorBlack;
                            border-right-color: $colorBlack;
                        }
                    }
                }
            }

            .owl-dots {
                display: flex;
                position: absolute;
                bottom: 120px;
                width: 95%;
                left: 50%;
                transform: translateX(-50%);

                .owl-dot {
                    background-color: $color202020;
                    opacity: 0.5;
                    width: 16%;
                    height: 3px;
                    margin-left: 10px;

                    &:first-child {
                        margin-left: 0;
                    }

                    &.active {
                        opacity: 1;
                    }
                }
            }

            
        }

        .owl-item {
            &.active {
                .child-companies, .know-more {
                    opacity: 1;
                }
            }
        }
    }

    .ht-media-intro {
        margin-bottom: 113px;

        .ht-media-logo {
            margin-bottom: 71px;
        }

        h1 {
            color: $color202020;
            margin-bottom: 20px;
        }

        h2 {
            font-size: 2.8rem;
            color: #3e3e3e;
            line-height: 44px;
            margin-bottom: 40px;
            width: 70%;
            text-align: center;
        }

        .child-companies {
            width: 63%;
            position: relative;

            .carousel-content {
                display: inline-block;
                width: 100%;
                
                img {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100%;
                }
            }

            .owl-nav {
                .owl-prev, .owl-next {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);

                    span {
                        color: $colorFFCC3A;
                        font-size: 0px;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        border-top: 2px solid $colorFFCC3A;
                        border-right: 2px solid $colorFFCC3A;
                        width: 14px;
                        height: 14px;
                        opacity: 1;
                        transition: 0.5s all ease;
                    }

                    &.disabled {
                        &:before {
                            opacity: 0.2;
                        }
                    }
                    
                }

                .owl-prev {
                    left: -30px;
                    top: 57%;
                    transform: rotate(-135deg);
                }

                .owl-next {
                    right: -30px;
                    transform: rotate(45deg);
                }
            }
        }
    }

    .ht-reach-wrapper {
        padding: 0 0 36px 0;
        background: url('../images/homepage-banner-1-dummy.png') no-repeat 0 0;
        background-size: cover;
        height: 100vh;
        align-items: flex-end;

        h2 {
            margin-bottom: 144px;
            color: $colorWhite;
        }

        .ht-reach-content {
            padding-bottom: 28px;
            margin-bottom: 26px;
            border-bottom: 3px solid $colorWhite;
            justify-content: space-around;
            width: 100%;

            .box {
                color: $colorWhite;
                font-size: 3rem;
                line-height: 35px;
                text-align: center;

                span {
                    color: $colorFFCC3A;
                    font-size: 7.2rem;
                    font-weight: bold;
                    margin-bottom: 19px;
                    display: block;
                }
            }
        }
    }

    .message-box-wrapper {
        background-color: $colorFFCC3A;
        padding-top: 76px;
        padding-bottom: 76px;
        margin-bottom: 100px;

        p {
            color: $color202020;
            font-size: 5rem;
            letter-spacing: -1.88px;
            line-height: 68px;
            width: 70%;
            text-align: center;
        }
    }

    .ht-gallery-wrapper {
        margin-bottom: 40px;

        .ht-gallery-content {
            .owl-item {
                &.center {
                    .carousel-content {
                        img {
                            & ~ * {
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            .carousel-content {
                display: inline-block;
                text-align: center;

                img {
                    margin-bottom: 45px;

                    & ~ * {
                        opacity: 0;
                        transition: 2s all ease;
                    }
                }
            }

            .owl-dots {
                text-align: center;
                margin-top: 40px;
                
                button {
                    width: 54px;
                    height: 3px;
                    background-color: $color202020;
                    opacity: 0.4;
                    transition: 0.5s all ease;
                    margin-left: 10px;

                    &:first-child {
                        margin-left: 0;
                    }

                    &.active {
                        opacity: 1;
                    }
                }
            }
        }
    }

    footer {
        background-color: $color202020;
        padding: 35px 0;

        nav {
            ul {
                width: 60%;

                li {
                    width: 33%;
                    margin-top: 30px;

                    &:first-child, &:nth-child(2), &:nth-child(3) {
                        margin-top: 0;
                    }

                    a {
                        color: $colorWhite;
                        font-size: 1.6rem;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            
        }

        .social-copyrights-wrapper {
            align-items: flex-end;

            .ht-media-logo {
                max-width: 195px;
                margin-bottom: 30px;
            }

            .social-media-wrapper {
                margin-bottom: 15px;

                a {
                    background: url('../images/social-media-icons.png') no-repeat 0 0;
                    display: inline-block;
                    margin-left: 20px;
                    width: 30px;
                    height: 30px;

                    &:first-child {
                        margin-left: 0;
                    }

                    &.youtube {
                        background-position: -93px -4px;
                        width: 32px;
                        height: 23px;
                    }

                    &.instagram {
                        background-position: -139px 0;
                    }

                    &.twitter {
                        background-position: -48px -3px;
                        height: 24px;
                    }

                    &.linkedin {
                        background-position: -179px 0;
                    }
                }
            }

            .copyrights-text {
                font-size: 1.2rem;
                color: $colorWhite;
                text-align: center;
            }
        }
    }

    .advertise-with-us {
        background-color: $colorFFCC3A;
        padding: 15px 0;

        p {
            font-size: 2.8rem;
            color: $color202020;
        }
    }

    .social-feed-wrapper {
        background-color: $colorFFCC3A;
        padding: 80px 0 185px 0;
    }

    h1, h2, h3 {
        font-size: 5rem;
        color: $colorBlack;
    }

    .headline, .tagline {
        color: $colorBlack;
    }

    .headline {
        font-size: 5rem;
    }

    .tagline {
        font-size: 2rem;
    }

    .link-text {
        color: $colorWhite;
        font-size: 2rem;

        &.with-underline {
            text-decoration: underline;
        }

        &.with-arrow {
            position: relative;
            padding-right: 20px;

            &:before {
                content: '';
                position: absolute;
                height: 2px;
                width: 10px;
                background-color: $colorWhite;
                top: 50%;
                right: 0;
            }

            &:after {
                content: '';
                position: absolute;
                height: 5px;
                width: 5px;
                border-top: 2px solid $colorWhite;
                border-right: 2px solid $colorWhite;
                top: 50%;
                right: -1px;
                transform: rotate(45deg) translateY(-50%);
            }
        }
    }

    .full-width {
        width: 100%;
    }

    .fixed-wrapper {
        width: 1280px;
        margin: 0 auto;
    }

    .padded-box-left-right-72 {
        padding-left: 72px;
        padding-right: 72px;
    }

    .display-flex {
        display: flex;
    }

    .flex-direction-column {
        flex-direction: column;
    }

    .flex-direction-row {
        flex-direction: row;
    }

    .flex-wrap {
        flex-wrap: wrap;
    }
    
    .align-items-center {
        align-items: center;
    }

    .justify-content-center {
        justify-content: center;
    }

    .space-between {
        justify-content: space-between;
    }

}