* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}

html,
body {
    height: 100%;
}

body {

    color: #000;
    font-family: 'AktivGroteskEx-Regular', sans-serif;
}

.primaryBtn {
    /*height: 37px;*/
    background: #000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 120.7%;

    /* or 16px */
    font-family: 'AktivGroteskEx-Regular', sans-serif;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    /* width: 136px; */
    /*padding: 17px 36px 12px;*/
    transition: all ease-in 0.3s;
    transform: translate(0, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
    transition-delay: unset;
    width: 150px;
    /*height:45px;*/
    padding: 17px 0 12px;

    &:hover {
        /*transform: translate(-5px, -5px);*/
        /*box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.5);*/
        background: #fff;
        color: #000;

    }
}

header {
    display: flex;
    left: 0;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 94%;

        .search {
            display: flex;
            width: 150px;

            input {
                border: none;
                background: url(../images/search.svg) no-repeat 90% center transparent;
                background-size: 17px;
                color: #000;
                line-height: 1;
                padding: 9px 10px 5px;
                width: 140px;

                /**/
                font-style: normal;
                font-family: 'AktivGroteskEx-Bold';
                font-size: 14px;
                line-height: 107.7%;
                transition: all linear 0.3s;

                /* or 11px */
                letter-spacing: -0.03em;
                text-transform: uppercase;

                &::-webkit-input-placeholder {
                    /* Edge */
                    color: #000;
                }

                &:-ms-input-placeholder {
                    /* Internet Explorer 10-11 */
                    color: #000;
                }

                &::placeholder {
                    color: #000;
                }

                &:focus {
                    background: url(../images/search.svg) no-repeat 95% center #fff;
                    background-size: 17px;
                    border: none;
                    outline: none;
                    width: 160px;
                }
            }
        }

        .logo {
            position: relative;
            width: 60%;

            img,
            svg {
                float: right;
                width: 100%;

                &.brand_tag_line {
                    left: 50%;
                    position: absolute;
                    top: 45%;
                    transform: translate(-50%, -50%);
                    width: 70%;
                }
            }
        }

        .headRight {
            display: flex;
            font-family: 'AktivGroteskEx-Bold';
            justify-content: center;
            align-items: center;

            a {
                display: flex;
                font-size: 14px;
                margin: 0 0 0 22px;
                width: 30px;

                img {
                    float: left;
                    width: 17px;
                }

                &:first-child {
                    padding: 6px 0 0;
                }

                &:last-child {

                    img {
                        width: 14px;
                    }

                }
            }
        }
    }

    nav {
        position: absolute;
        top: 200px;
        left: 3%;

        li {
            font-size: 16px;
            font-style: normal;
            font-family: 'AktivGroteskEx-Bold';
            line-height: 120.7%;
            list-style: none;
            margin: 0 0 8px;
            text-transform: uppercase;

            a {
                color: #000;
                display: inline-block;
                transition: all linear 0.3s;

                /*&:after {
                    background: #000;
                    display: block;
                    content: '';
                    height: 2px;
                    width: 0%;
                    transition: all linear 0.3s;
                }*/
            }

            &:hover {
                a {
                    color: #fff;
                    /*&:after {
                        width: 100%;
                    }*/
                }
            }
        }
    }
}

footer {
    background: #3F3F3F;
    height: 500px;
    width: 100%;

    .row {
        width: calc(100% - 400px);
        margin: 0 auto;
        flex-direction: row;
        display: flex;
        padding: 60px 0 120px;
        justify-content: space-between;

        .col {
            &:nth-child(1) {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0;

                label {
                    font-style: normal;
                    font-family: AktivGroteskEx-Light;
                    /*font-weight: 300;*/
                    font-size: 32px;
                    line-height: 1.2;

                    /* or 32px */
                    letter-spacing: -0.04em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    margin: 0 0 22px;
                }

                input[type="text"] {
                    border: 2px solid #fff;
                    background: no-repeat;
                    color: #fff;
                    padding: 15px 10px;
                    margin: 0 0 15px 0;
                    width: 100%;

                    &:focus {
                        outline: none;
                    }

                    &::-webkit-input-placeholder {
                        /* Edge */
                        color: #555454;
                        line-height: 1.2;
                    }

                    &:-ms-input-placeholder {
                        /* Internet Explorer 10-11 */
                        color: #555454;
                        line-height: 1.2;
                    }

                    &::placeholder {
                        color: #555454;
                        line-height: 1.2;
                    }
                }
            }

            &:nth-child(2) {
                display: flex;
                flex-direction: column;
                margin: 0 100px;

                ul {
                    display: flex;
                    flex-wrap: wrap;

                    li {
                        list-style: none;
                        margin: 0 0 24px;
                        width: 50%;

                        a {

                            font-style: normal;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 120.7%;

                            /* or 12px */
                            color: #FFFFFF;
                        }
                    }
                }

                p {

                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 70%;
                    margin: 0 0 10px;

                    /* or 7px */
                    color: #FFFFFF;

                    a {
                        color: #FFFFFF;
                    }

                    &.social {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        margin: 50px 0 0;
                        width: 90%;

                        a {
                            width: 50px;

                            .cls-1 {
                                fill: #fff;
                            }
                        }
                    }
                }
            }

            &:nth-child(3) {
                .tip {
                    background: #fff;
                    padding: 20px 20px 30px;
                    text-align: right;
                    width: 200px;

                    .subText {
                        font-family: Bressay Trial;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 107.7%;

                        /* identical to box height, or 14px */
                        letter-spacing: -0.03em;
                        color: #000000;
                        text-decoration: underline;
                    }

                    .tipTitle {

                        font-style: normal;
                        font-weight: normal;
                        font-size: 21px;
                        line-height: 95.7%;

                        /* or 20px */
                        text-align: right;
                        letter-spacing: -0.03em;
                        text-transform: uppercase;
                        color: #B97759;
                        width: 100%;
                        display: inline-block;
                        margin: 15px 0 5px;
                    }

                    .tipText {
                        font-family: Bressay Trial;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 129.7%;

                        /* or 16px */
                        text-align: right;
                        letter-spacing: -0.02em;
                        color: #000000;
                    }
                }
            }
        }
    }
}

/*.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;*/
.secs {
    height: 100%;
    width: 100%;

    .sec {
        display: flex;
        height: 100%;
        overflow: hidden;
        width: 100%;


        &:nth-child(1) {
            background: #AECDD2;

            .content {
                .img {
                    /*margin: 40px 0 0;*/
                }
            }
        }

        &:nth-child(2) {
            background: #EBE0A9;

            .content {
                .desc {
                    bottom: 0;
                    right: -107px;
                    width: 170px;
                }
            }
        }

        &:nth-child(3) {
            background: #CBD7B7;

            .content .desc {
                bottom: 5%;
                right: -109px;
            }
        }

        &:nth-child(4) {
            background: #68769B;

            .content .desc {
                right: -100px;
                bottom: 10px;
            }
        }

        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            position: relative;
            width: calc(36%);

            .title {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                font-family: 'AktivGroteskEx-Light';
                /*font-style: normal;*/
                /*font-weight: 300;*/
                font-size: 75px;
                line-height: 0.9;

                /* or 61px */
                letter-spacing: -0.08em;
                text-transform: uppercase;
                color: #FFFFFF;
                position: absolute;
                top: 30%;
                left: -27%;
                z-index: 1;

                p {
                    margin: 0 0 20px;

                    span {
                        float: left;
                        overflow: hidden;

                        i {
                            display: block;
                            font-style: normal;
                            padding: 0 10px 0 0;

                        }
                    }
                }
            }

            .desc {
                font-family: Bressay Trial;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 1.2;

                /* or 17px */
                color: #000000;
                position: absolute;
                bottom: 20%;
                right: -142px;
                width: 150px;
                margin: 0 0 0 30px
            }

            .img {
                height: 100%;
                width: 100%;
                position: relative;

                div {
                    position: relative;
                    overflow: hidden;
                    width: 100%;
                    /*top: 0;
                    left: 0;
                    width: 100%;*/
                }

                img {
                    /*position: absolute;*/
                    top: 0;
                    left: 0;
                    width: 100%;
                }
            }
        }
    }
}

/*}*/

.clock {
    position: fixed;
    top: 50%;
    right: 0;
    /*transform: translate(50%, -50%);*/
    transform-origin: 100% 0;
    width: 250px;

    .timeofday {
        position: relative;

        svg {
            /*transform: ;*/
            width: 100%;
            transition: all linear 0.2s;

            path {
                transition: all linear 0.2s;
            }
        }

        &.morning {
            svg {
                transform: rotate(0deg);

                path {
                    fill: #fff;

                    &.morning {
                        fill: #000;
                    }
                }
            }

            .time {
                color: #6691A2;
            }
        }

        &.afternoon {
            svg {
                transform: rotate(-100deg);

                path {
                    fill: #fff;

                    &.afternoon {
                        fill: #000;
                    }
                }
            }

            .time {
                color: #B3AB85;
            }
        }

        &.evening {
            .time {
                color: #8A9579;
            }

            svg {
                transform: rotate(-205deg);

                path {
                    fill: #fff;

                    &.evening {
                        fill: #000;
                    }
                }
            }
        }

        &.night {
            .time {
                color: #2B3E6E;
            }

            svg {
                transform: rotate(-280deg);

                path {
                    fill: #fff;

                    &.night {
                        fill: #000;
                    }
                }
            }
        }

        .time {
            font-family: Bressay Trial;
            font-style: normal;
            font-weight: normal;
            font-size: 28px;
            line-height: 26px;

            /* or 26px */
            /*color: #2B3E6E;*/
            position: absolute;
            top: 50%;
            left: 26%;
            transform: translate(0, -50%);
            /*opacity: 0;*/
            transition: all ease-in 0.2s;

            &.blink {
                /*opacity: 1;*/

                animation: blinker linear 1.5s;
                animation-iteration-count: infinite;
                transform-origin: 50% 50%;

                @keyframes blinker {
                    0% {
                        opacity: 1;
                    }

                    49% {
                        opacity: 1;
                    }

                    50% {
                        opacity: 0;
                    }

                    99% {
                        opacity: 0;
                    }

                    100% {
                        opacity: 1;
                    }
                }
            }

            span {
                display: inline-block;
                font-size: 21px;
                transform: translate(0, -7px);
            }
        }
    }
}

@media only screen and (max-width: 1920px) {
    .secs .sec .content {
        width: calc(37%);
    }

    header nav {
        top: 195px;
    }
}

@media only screen and (max-width: 1680px) {

    .sec .content {
        width: 40%;
    }

    .sec:nth-child(3) .content .desc {
        right: -109px;
    }

    .sec:nth-child(4) .content .desc {
        right: -111px;
    }

    .sec:nth-child(5) .content .desc {
        right: -103px;
    }

    .secs .sec .content {
        width: calc(40%);
    }

    header .container .logo {
        width: 65%;
    }


}

@media only screen and (max-width: 1600px) {


    .sec .content .title {
        font-size: 70px;
    }

    .sec .content .desc {
        font-size: 16px;
    }

    .sec .content {
        width: 35%;
    }

    .sec:nth-child(3) .content .desc {
        right: -113px;
    }

    .sec .content .desc {
        right: -148px;
    }

    .sec:nth-child(3) .content .desc {
        right: -125px;
        bottom: 104px;
    }

    .sec:nth-child(5) .content .desc {
        right: -116px;
    }

    .sec:nth-child(5) .content .desc {
        bottom: 18.5%;
    }

    header nav li {
        font-size: 14px;
    }

    header .container .search input {
        background-size: 15px;
        font-size: 12px;
        width: 125px;

        &:focus {
            background-size: 15px;
        }
    }

    header .container .headRight a {
        font-size: 12px;

        /*width: 25px;*/
        img {
            width: 15px;
        }

        &:last-child img {
            width: 13px;
        }
    }

    .clock {
        width: 200px;
        height: auto;
    }

    .clock .timeofday svg {
        width: 100%;
        height: 100%;
    }

    .clock .timeofday .time {
        /*font-size: 24px;*/
    }

    .clock .timeofday .time span {
        /*font-size: 18px;*/
    }

    .secs .sec:nth-child(3) .content {
        justify-content: flex-start;
    }

    .secs .sec:nth-child(3) .content .img {
        width: calc(87%);
    }

    .secs .sec .content .title {
        font-size: 60px;
    }

    /*   .sec .content .title {
        font-size: 50px;
    }
    */
    .secs .sec:nth-child(3) .content .desc {
        right: -40px;
        bottom: 2%;
    }

    .primaryBtn {
        font-size: 12px;
        padding: 12px 26px 8px;
    }

    .sec .content .desc {
        right: -137px;
        margin: 0 0 0 20px;
        width: 140px;
    }

    .sec .content {
        width: 40%;
    }

    .sec:nth-child(3) .content .desc {
        right: -113px;
    }

    .sec:nth-child(5) .content .desc {
        right: -104px;
    }

    footer .row {
        padding: 60px 0 60px;
    }

    footer .row .col:first-child label {
        font-size: 26px;
    }

    footer .row .col:nth-child(3) .tip .tipTitle {
        font-size: 18px;
    }

    footer .row .col:nth-child(2) p.social a {
        width: 45px;
    }

    footer .row .col:nth-child(2) p.social {
        width: 84%;
    }

}

@media only screen and (max-width: 1440px) {
    footer .row .col:first-child input[type="text"] {
        padding: 12px 10px 8px;
        font-size: 12px;
    }

    header nav li {
        font-size: 12px;
    }

    header nav li a:after {
        height: 1px;
    }

    .sec .content .title {
        font-size: 45px;
    }

    .primaryBtn {
        font-size: 10px;
    }

    .sec .content .title p {
        margin: 0 0 10px;
    }

    .clock {
        /*width: 160px;*/
    }

    .clock .timeofday .time {
        /*font-size: 20px;*/
    }

    .clock .timeofday .time span {
        /*font-size: 15px;*/
    }

    .sec .content {
        width: 33%;
    }

    .sec .content .desc {
        font-size: 14px;
        width: 120px;
        right: -115px;
    }

    header .container .search input {
        font-size: 10px;
        width: 109px;
    }

    header .container .headRight a {
        font-size: 10px;
        /*width: 20px;*/
    }

    header .container .logo {
        width: 67%;
    }

    .sec:nth-child(3) .content .desc {
        width: 150px;
        right: -110px;
        bottom: 92px;
    }

    .sec:nth-child(4) .content .desc {
        width: 130px;
        right: -104px;
    }

    .sec:nth-child(5) .content .desc {
        right: -89px;
        bottom: 19%;
    }

    footer .row .col:first-child label {
        font-size: 22px;
    }

    footer .row .col:nth-child(3) .tip .tipTitle {
        font-size: 16px;
    }

    footer .row .col:nth-child(3) .tip .subText {
        font-size: 11px;
    }



    footer .row .col:nth-child(2) p.social a {
        width: 40px;
    }



    footer .row .col:nth-child(2) p.social {
        width: 85%;
    }

    header nav {
        top: 163px;
    }

    .secs .sec .content .title {
        left: -29%;
    }

    .secs .sec .content {
        width: 40%;
    }

    .secs .sec .content .desc {
        font-size: 16px;
    }

    .secs .sec:nth-child(2) .content .desc {
        bottom: 5px;
    }

    p.desc.animate.delay-600.slideFromDown {}

    .secs .sec:nth-child(3) .content .desc {
        right: -120px;
        bottom: 4%;
    }

    .secs .sec:nth-child(3) .content .img {
        width: calc(100%);
    }

    .secs .sec:nth-child(4) .content .desc {
        right: -93px;
        bottom: 6px;
    }
}

@media only screen and (max-width: 1366px) {
    header nav {
        top: 167px;
    }

    .secs .sec .content .title {
        font-size: 50px;
        left: -26.5%;
    }

    .secs .sec .content .desc {
        font-size: 16px;
        margin: 0 0 0 15px;
        right: -134px;
    }

    .secs .sec:nth-child(2) .content .desc {
        right: -106px;
        bottom: 6px;
    }

    .secs .sec:nth-child(3) .content .desc {
        right: -36px;
        bottom: 24%
    }

    .secs .sec:nth-child(3) .content .img {
        width: calc(87%);
    }

    .secs .sec:nth-child(4) .content .desc {
        right: -78px;
        bottom: 20px;
    }

    .primaryBtn {
        font-size: 12px;
        padding: 14px 0;
        width: 140px;
    }

    .secs .sec .content {
        width: 43%;
    }

    header .container .logo {
        width: 69%;
    }

    header nav {
        top: 145px;
    }

    header .container .logo img.brand_tag_line {
        top: 39%;
        width: 66%;
    }

    .clock {
        width: 250px;

        .timeofday .time {
            font-size: 33px;
            line-height: 30px;

            span {
                font-size: 27px;
            }
        }
    }

    header .container .logo img.brand_tag_line {
        top: 39%;
    }

    header .container {
        align-items: flex-start;
    }

    header .headRight {
        margin: 35px 0 0;
    }

    header .container .search {
        margin: 32px 0 0;
    }

    header .container .search input {
        padding: 10px;
    }
}