html {
  /* font-family: halyard-display, sans-serif; */
  font-family: 'Work Sans', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  letter-spacing: -0.40px;
  font-size: 62.5%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary,
img {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 500; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default;
  opacity: 0.5;
  pointer-events: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  -webkit-text-size-adjust: none;
  -webkit-appearance: none; }

@font-face {
  font-family: 'citroenregular';
  src: url("../fonts/citroen_regular-webfont.woff2") format("woff2"), url("../fonts/citroen_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'citroenbold';
  src: url("../fonts/citroen-bold-webfont.woff2") format("woff2"), url("../fonts/citroen-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'citroenblack';
  src: url("../fonts/citroen-black-webfont.woff2") format("woff2"), url("../fonts/citroen-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'citroenblack';
  color: #000;
  text-transform: uppercase;
  background-color: #fff; }
  body.with-animation .col-1-3 .flip-in-out-container {
    left: -350px; }
  body.with-animation .col-3-3 .flip-in-out-container {
    right: -350px; }
  body.popup-compare-visible header nav .hamburger-menu {
    opacity: 0;
    display: none; }
  body.popup-compare-visible header nav .go-back {
    opacity: 1;
    display: block; }
  body.popup-compare-visible .compare-wrapper {
    top: 0; }
  body.popup-compare-visible .main-content-wrapper {
    height: calc(810px - 95px); }
  body.popup-compare-visible .main-tabs-container {
    display: none; }
  body.popup-show {
    overflow: hidden; }
    body.popup-show main:before {
      height: 100%;
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px); }
    body.popup-show .popup-wrapper {
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

input[type=checkbox] {
  -webkit-appearance: auto;
  -moz-appearance: auto;
  appearance: auto;
  height: 13px; }

main {
  width: 1080px;
  height: 100%;
  min-height: 810px;
  margin: auto auto;
  overflow: hidden; }
  main:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.7);
    -webkit-backdrop-filter: blur(0);
    backdrop-filter: blur(0);
    z-index: 4;
    -webkit-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease; }

.full-width {
  width: 100%; }

.fit-content-height {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content; }

.fixed-wrapper {
  padding: 0 30px; }

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex-direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.flex-direction-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.justify-content-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.justify-content-space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.justify-content-space-around {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.align-items-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.align-content-end {
  -ms-flex-line-pack: end;
  align-content: flex-end; }

/* page css starts */
.main-content-wrapper {
  background-color: #f5f5f5;
  padding: 20px 0 25px 0;
  height: calc(810px - 161px);
  /* subtracted header+disclaimer+footer-tabs height */
  position: relative;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
  overflow: hidden; }
  .main-content-wrapper .content-features, .main-content-wrapper .content-versions, .main-content-wrapper .content-accessories,
  .main-content-wrapper .col-1-3 h1 span.content-features {
    display: none; }
  .main-content-wrapper.tab-features-content .content-features, .main-content-wrapper.tab-versions-content .content-versions,
  .main-content-wrapper.tab-accessories-content .content-accessories,
  .main-content-wrapper.tab-features-content .col-1-3 h1 span {
    display: inherit !important; }
  .main-content-wrapper > .fixed-wrapper {
    overflow: hidden;
    position: relative;
    height: 100%; }
  .main-content-wrapper .col-1-3, .main-content-wrapper .col-3-3 {
    width: 310px;
    position: relative;
    z-index: 2;
    overflow: hidden; }
    .main-content-wrapper .col-1-3 > .flip-in-out-container, .main-content-wrapper .col-3-3 > .flip-in-out-container {
      position: relative;
      -webkit-transition: 0.5s all ease;
      -o-transition: 0.5s all ease;
      transition: 0.5s all ease;
      height: 100%; }
  .main-content-wrapper .col-1-3 .flip-in-out-container {
    left: 0; }
  .main-content-wrapper .col-3-3 .flip-in-out-container {
    right: 0; }
  .main-content-wrapper .col-2-3 {
    width: 400px;
    position: relative;
    z-index: 2; }
    .main-content-wrapper .col-2-3 .color-variant-wrapper {
      background: #fff;
      width: 378px;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      padding: 9px 12px;
      border-radius: 70px;
      overflow: auto;
      margin: 0 auto;
      position: absolute;
      bottom: 0; }
      .main-content-wrapper .col-2-3 .color-variant-wrapper ul li {
        width: 42px;
        height: 42px;
        margin-left: 11px;
        border-radius: 50%;
        position: relative;
        padding: 3px;
        cursor: pointer;
        border: 2px solid #fff;
        -webkit-transition: 0.5 all ease;
        -o-transition: 0.5 all ease;
        transition: 0.5 all ease; }
        .main-content-wrapper .col-2-3 .color-variant-wrapper ul li:first-child {
          margin-left: 0; }
        .main-content-wrapper .col-2-3 .color-variant-wrapper ul li.selected {
          border-color: #9D0706; }
        .main-content-wrapper .col-2-3 .color-variant-wrapper ul li > img {
          width: 32px; }
  .main-content-wrapper .col-1-3 h1 {
    font-weight: 900;
    font-size: 3rem;
    line-height: 36px;
    margin-bottom: 30px; }
    .main-content-wrapper .col-1-3 h1 span {
      font-family: 'citroenbold';
      display: block;
      font-size: 2.4rem;
      line-height: 26px; }
      .main-content-wrapper .col-1-3 h1 span a {
        font-size: 1.6rem;
        line-height: 21px;
        color: #9D0605;
        padding-left: 30px; }
        .main-content-wrapper .col-1-3 h1 span a.change-model {
          background: url("../images/icon-edit.svg") no-repeat 0 0; }
        .main-content-wrapper .col-1-3 h1 span a.all-accessories {
          background: url("../images/icon-new-window.svg") no-repeat 0 0;
          margin-top: 17px;
          opacity: 1;
          -webkit-transition: 0.5s all ease;
          -o-transition: 0.5s all ease;
          transition: 0.5s all ease; }
          .main-content-wrapper .col-1-3 h1 span a.all-accessories.hide-elem {
            opacity: 0; }
  .main-content-wrapper .col-1-3 .automobile-features-wrapper, .main-content-wrapper .col-1-3 .automobile-versions-wrapper {
    max-width: 299px; }
  .main-content-wrapper .col-1-3 .automobile-features-wrapper {
    position: relative;
    overflow: hidden;
    height: 100%; }
    .main-content-wrapper .col-1-3 .automobile-features-wrapper ul li {
      margin-bottom: 20px;
      cursor: pointer; }
      .main-content-wrapper .col-1-3 .automobile-features-wrapper ul li:last-child {
        margin-bottom: 0; }
      .main-content-wrapper .col-1-3 .automobile-features-wrapper ul li span {
        font-weight: 900;
        font-size: 2rem;
        line-height: 24px;
        display: block;
        width: 100%;
        position: relative;
        border-bottom: 1px solid #000;
        padding-bottom: 8px; }
        .main-content-wrapper .col-1-3 .automobile-features-wrapper ul li span:after {
          content: '';
          position: absolute;
          top: 40%;
          right: 20px;
          width: 7px;
          height: 7px;
          border-top: 1px solid #000;
          border-right: 1px solid #000;
          -webkit-transform: translateY(-50%) rotate(45deg);
          -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
          -webkit-transition: 0.5s all ease;
          -o-transition: 0.5s all ease;
          transition: 0.5s all ease; }
      .main-content-wrapper .col-1-3 .automobile-features-wrapper ul li > ul {
        background-color: #fff;
        max-height: 180px;
        overflow: auto;
        display: none; }
        .main-content-wrapper .col-1-3 .automobile-features-wrapper ul li > ul > li {
          margin-bottom: 0; }
          .main-content-wrapper .col-1-3 .automobile-features-wrapper ul li > ul > li span {
            font-family: 'citroenregular';
            font-weight: normal;
            font-size: 1.6rem;
            line-height: 20px;
            border-color: #e7e7e7;
            padding: 12px 10px 12px 5px;
            width: 95%;
            margin: 0 auto; }
            .main-content-wrapper .col-1-3 .automobile-features-wrapper ul li > ul > li span:after {
              right: 15px; }
          .main-content-wrapper .col-1-3 .automobile-features-wrapper ul li > ul > li:last-child span {
            border-color: transparent; }
          .main-content-wrapper .col-1-3 .automobile-features-wrapper ul li > ul > li .accessories-content {
            padding: 17px 15px 17px 10px; }
            .main-content-wrapper .col-1-3 .automobile-features-wrapper ul li > ul > li .accessories-content .col-1 {
              width: 40%; }
              .main-content-wrapper .col-1-3 .automobile-features-wrapper ul li > ul > li .accessories-content .col-1 img {
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;
                max-width: 100%; }
            .main-content-wrapper .col-1-3 .automobile-features-wrapper ul li > ul > li .accessories-content .col-2 {
              width: 60%;
              font-family: 'citroenregular';
              -webkit-box-pack: end;
              -ms-flex-pack: end;
              justify-content: flex-end; }
              .main-content-wrapper .col-1-3 .automobile-features-wrapper ul li > ul > li .accessories-content .col-2 .heading {
                width: 100%;
                font-weight: bold;
                font-size: 1.2rem;
                line-height: 13px;
                text-transform: uppercase; }
              .main-content-wrapper .col-1-3 .automobile-features-wrapper ul li > ul > li .accessories-content .col-2 .price, .main-content-wrapper .col-1-3 .automobile-features-wrapper ul li > ul > li .accessories-content .col-2 .cta-button {
                width: 50%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-item-align: end;
                align-self: flex-end; }
              .main-content-wrapper .col-1-3 .automobile-features-wrapper ul li > ul > li .accessories-content .col-2 .price {
                font-size: 1.4rem;
                line-height: 18px;
                height: -webkit-fit-content;
                height: -moz-fit-content;
                height: fit-content;
                -ms-flex-item-align: center;
                -ms-grid-row-align: center;
                align-self: center; }
              .main-content-wrapper .col-1-3 .automobile-features-wrapper ul li > ul > li .accessories-content .col-2 .cta-button {
                font-family: 'citroenblack';
                font-size: 1.2rem;
                line-height: 14px;
                text-align: center;
                text-transform: none;
                color: #fff;
                background-color: #9D0605;
                padding: 8px;
                height: -webkit-fit-content;
                height: -moz-fit-content;
                height: fit-content;
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;
                min-width: 75px;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center; }
                .main-content-wrapper .col-1-3 .automobile-features-wrapper ul li > ul > li .accessories-content .col-2 .cta-button.secondary-button {
                  color: #9D0605;
                  background-color: transparent;
                  border: 1px solid #9D0605; }
      .main-content-wrapper .col-1-3 .automobile-features-wrapper ul li.accordion-open > span:after {
        -webkit-transform: translateY(-50%) rotate(135deg);
        -ms-transform: translateY(-50%) rotate(135deg);
        transform: translateY(-50%) rotate(135deg); }
  .main-content-wrapper .col-1-3 .automobile-versions-wrapper {
    position: relative; }
    .main-content-wrapper .col-1-3 .automobile-versions-wrapper > .heading {
      font-family: 'citroenblack';
      font-weight: 900;
      font-size: 2rem;
      line-height: 24px;
      margin-bottom: 9px; }
      .main-content-wrapper .col-1-3 .automobile-versions-wrapper > .heading .info {
        font-family: 'citroenbold';
        font-size: 1.6rem;
        line-height: 18px;
        color: #9D0605;
        position: relative;
        padding-left: 31px;
        margin-left: 12px;
        cursor: pointer; }
        .main-content-wrapper .col-1-3 .automobile-versions-wrapper > .heading .info:before {
          content: '';
          position: absolute;
          top: -2px;
          left: 0;
          background: url("../images/icon-info.svg") no-repeat 0 0;
          width: 24px;
          height: 24px; }
    .main-content-wrapper .col-1-3 .automobile-versions-wrapper .versions-container {
      height: 485px;
      overflow-y: auto; }
      .main-content-wrapper .col-1-3 .automobile-versions-wrapper .versions-container > li {
        border: 1px solid #000;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        padding: 16px 20px;
        height: 139px; }
  .main-content-wrapper .col-3-3 .automobile-accessories-wrapper .accessories-price {
    margin-bottom: 24px; }
    .main-content-wrapper .col-3-3 .automobile-accessories-wrapper .accessories-price p {
      font-family: 'citroenbold';
      font-size: 1.2rem;
      line-height: 13px;
      text-align: right;
      color: #828282;
      border-left: 1px solid #828282;
      padding-left: 21px;
      margin-left: 30px; }
      .main-content-wrapper .col-3-3 .automobile-accessories-wrapper .accessories-price p:first-child {
        border-left-color: transparent;
        padding-left: 0;
        margin-left: 0; }
      .main-content-wrapper .col-3-3 .automobile-accessories-wrapper .accessories-price p span {
        font-family: 'citroenblack';
        display: block;
        font-weight: 900;
        font-size: 2.4rem;
        line-height: 29px;
        color: #000; }
  .main-content-wrapper .col-3-3 .automobile-accessories-wrapper .toggle-option-wrapper {
    padding-bottom: 14px;
    position: relative; }
    .main-content-wrapper .col-3-3 .automobile-accessories-wrapper .toggle-option-wrapper:last-child {
      padding-bottom: 0; }
    .main-content-wrapper .col-3-3 .automobile-accessories-wrapper .toggle-option-wrapper:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 60%;
      height: 1px;
      background-color: #9D0605; }
    .main-content-wrapper .col-3-3 .automobile-accessories-wrapper .toggle-option-wrapper.no-bottom-border:after {
      background-color: transparent; }
    .main-content-wrapper .col-3-3 .automobile-accessories-wrapper .toggle-option-wrapper .toggle-option-container {
      margin-left: 20px; }
      .main-content-wrapper .col-3-3 .automobile-accessories-wrapper .toggle-option-wrapper .toggle-option-container .toggle-options {
        border-left: 1px solid #D0CCCC;
        padding-left: 20px;
        margin-right: 15px; }
        .main-content-wrapper .col-3-3 .automobile-accessories-wrapper .toggle-option-wrapper .toggle-option-container .toggle-options .field-row {
          margin-top: 13px; }
          .main-content-wrapper .col-3-3 .automobile-accessories-wrapper .toggle-option-wrapper .toggle-option-container .toggle-options .field-row:first-of-type {
            margin-top: 0; }
          .main-content-wrapper .col-3-3 .automobile-accessories-wrapper .toggle-option-wrapper .toggle-option-container .toggle-options .field-row label {
            font-family: 'citroenbold';
            font-size: 1.6rem;
            line-height: 18px;
            text-align: right;
            color: #828282;
            cursor: pointer;
            -webkit-transition: 0.5s all ease;
            -o-transition: 0.5s all ease;
            transition: 0.5s all ease; }
          .main-content-wrapper .col-3-3 .automobile-accessories-wrapper .toggle-option-wrapper .toggle-option-container .toggle-options .field-row > input[type=radio]:checked ~ label {
            color: #9D0605; }
      .main-content-wrapper .col-3-3 .automobile-accessories-wrapper .toggle-option-wrapper .toggle-option-container .toggle-switch {
        display: inline-block;
        background: #E4E2E2;
        border: 2px solid #CBC7C6;
        border-radius: 40px;
        width: 24px;
        height: 100%;
        position: relative;
        cursor: pointer; }
        .main-content-wrapper .col-3-3 .automobile-accessories-wrapper .toggle-option-wrapper .toggle-option-container .toggle-switch:before {
          content: '';
          position: absolute;
          top: -2px;
          left: -2px;
          width: 24px;
          height: 24px;
          background-color: #9D0605;
          border: 2px solid #D0CCCC;
          border-radius: 50%;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-transition: 0.3s all ease;
          -o-transition: 0.3s all ease;
          transition: 0.3s all ease; }
      .main-content-wrapper .col-3-3 .automobile-accessories-wrapper .toggle-option-wrapper .toggle-option-container.last-option-selected .toggle-switch:before {
        top: calc(100% - 24px); }
      .main-content-wrapper .col-3-3 .automobile-accessories-wrapper .toggle-option-wrapper .toggle-option-container:only-child, .main-content-wrapper .col-3-3 .automobile-accessories-wrapper .toggle-option-wrapper .toggle-option-container:first-child {
        margin-left: 0; }
        .main-content-wrapper .col-3-3 .automobile-accessories-wrapper .toggle-option-wrapper .toggle-option-container:only-child .toggle-options, .main-content-wrapper .col-3-3 .automobile-accessories-wrapper .toggle-option-wrapper .toggle-option-container:first-child .toggle-options {
          border-left-color: transparent; }
  .main-content-wrapper .col-3-3 .background-option-wrapper .heading {
    font-family: 'citroenregular';
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 18px;
    color: #000000;
    margin-bottom: 7px;
    text-align: right; }
  .main-content-wrapper .col-3-3 .background-option-wrapper ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #e4e2e2;
    border: 1px solid #d0cccc; }
    .main-content-wrapper .col-3-3 .background-option-wrapper ul li input {
      display: none; }
    .main-content-wrapper .col-3-3 .background-option-wrapper ul li label {
      font-family: 'citroenbold';
      font-size: 1.2rem;
      line-height: 13px;
      color: #000;
      padding: 13px 19px;
      display: block;
      background-color: transparent;
      -webkit-transition: 0.5 all ease;
      -o-transition: 0.5 all ease;
      transition: 0.5 all ease;
      position: relative;
      cursor: pointer; }
      .main-content-wrapper .col-3-3 .background-option-wrapper ul li label:after {
        content: '';
        position: absolute;
        width: 1px;
        height: 22px;
        background-color: #d0cccc;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
      .main-content-wrapper .col-3-3 .background-option-wrapper ul li label:first-child:after {
        background-color: transparent; }
    .main-content-wrapper .col-3-3 .background-option-wrapper ul li input:checked ~ label {
      background-color: #9D0605;
      color: #fff; }
      .main-content-wrapper .col-3-3 .background-option-wrapper ul li input:checked ~ label:after {
        background-color: transparent; }
  .main-content-wrapper .col-3-3 .cta-wrapper {
    margin-top: 25px; }
    .main-content-wrapper .col-3-3 .cta-wrapper:last-child {
      position: absolute;
      bottom: 0;
      right: 0; }
    .main-content-wrapper .col-3-3 .cta-wrapper .cta-button.go-to-next-step {
      background: #9D0605;
      color: #f5f5f5;
      line-height: 17px;
      padding: 15px 60px 15px 25px; }
      .main-content-wrapper .col-3-3 .cta-wrapper .cta-button.go-to-next-step:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 30px;
        width: 8px;
        height: 8px;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        -webkit-transform: translateY(-50%) rotate(45deg);
        -ms-transform: translateY(-50%) rotate(45deg);
        transform: translateY(-50%) rotate(45deg); }
    .main-content-wrapper .col-3-3 .cta-wrapper .cta-button.compare-btn {
      border: 1px solid #d0cccc;
      background: #fff;
      padding: 13px 18px 12px 58px;
      line-height: 15px;
      color: #000;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; }
      .main-content-wrapper .col-3-3 .cta-wrapper .cta-button.compare-btn:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 14px;
        width: 30px;
        height: 30px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        background: url("../images/icon-compare.svg") no-repeat 0 0; }
  .main-content-wrapper .color-variant-container {
    position: relative;
    z-index: 2; }
  .main-content-wrapper.tab-accessories-content .col-1-3 h1 {
    margin-bottom: 11px; }
  .main-content-wrapper.tab-accessories-content .col-1-3 .automobile-features-wrapper ul {
    -webkit-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease; }
    .main-content-wrapper.tab-accessories-content .col-1-3 .automobile-features-wrapper ul li > ul {
      max-height: 400px; }
      .main-content-wrapper.tab-accessories-content .col-1-3 .automobile-features-wrapper ul li > ul li {
        border-bottom: 1px solid #e7e7e7; }
        .main-content-wrapper.tab-accessories-content .col-1-3 .automobile-features-wrapper ul li > ul li:last-child {
          border-bottom-color: transparent; }
    .main-content-wrapper.tab-accessories-content .col-1-3 .automobile-features-wrapper ul.more-options-container {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 100%;
      -webkit-transition: 0.5s all ease;
      -o-transition: 0.5s all ease;
      transition: 0.5s all ease; }
      .main-content-wrapper.tab-accessories-content .col-1-3 .automobile-features-wrapper ul.more-options-container .accordion-open {
        margin-bottom: 0; }
        .main-content-wrapper.tab-accessories-content .col-1-3 .automobile-features-wrapper ul.more-options-container .accordion-open .go-back {
          font-size: 2rem;
          line-height: 24px;
          color: #9D0605;
          position: relative;
          padding: 0 0 9px 24px;
          border-bottom: 1px solid #000;
          display: block;
          width: 100%; }
          .main-content-wrapper.tab-accessories-content .col-1-3 .automobile-features-wrapper ul.more-options-container .accordion-open .go-back:before {
            content: '';
            position: absolute;
            top: 40%;
            left: 5px;
            width: 8px;
            height: 8px;
            border-left: 1px solid #9D0605;
            border-top: 1px solid #9D0605;
            -webkit-transform: translateY(-50%) rotate(-45deg);
            -ms-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg); }
        .main-content-wrapper.tab-accessories-content .col-1-3 .automobile-features-wrapper ul.more-options-container .accordion-open > ul {
          display: block;
          max-height: 455px; }
  .main-content-wrapper.tab-accessories-content .col-1-3 .automobile-features-wrapper.display-more-options > ul:first-child {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%); }
  .main-content-wrapper.tab-accessories-content .col-1-3 .automobile-features-wrapper.display-more-options .more-options-container {
    left: 0; }

.disclaimer-text {
  font-family: 'citroenregular';
  text-transform: none;
  font-size: 1rem;
  line-height: 11px;
  background-color: #f1f0f0;
  padding-top: 2px;
  padding-bottom: 2px; }

.main-tabs-container {
  position: relative; }
  .main-tabs-container > span {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 4px;
    background-color: #9D0605;
    -webkit-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease; }
  .main-tabs-container ul li {
    padding: 18px 0;
    cursor: pointer;
    position: relative;
    width: 25%; }
    .main-tabs-container ul li > div {
      margin-right: 12px;
      width: 30px;
      height: 30px;
      overflow: hidden; }
      .main-tabs-container ul li > div > svg {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: 0.5s all ease;
        -o-transition: 0.5s all ease;
        transition: 0.5s all ease; }
    .main-tabs-container ul li a {
      font-family: 'citroenblack';
      font-weight: 900;
      font-size: 2rem;
      line-height: 24px;
      color: #3B3938;
      height: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-transition: 0.5s all ease;
      -o-transition: 0.5s all ease;
      transition: 0.5s all ease; }
    .main-tabs-container ul li.selected > div > svg {
      -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      transform: translateY(-30px); }
    .main-tabs-container ul li.selected a {
      color: #9D0605; }

.cta-wrapper .cta-button {
  font-family: 'citroenblack';
  font-size: 1.4rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  background: #9D0605;
  color: #f5f5f5;
  line-height: 17px;
  padding: 9px 0;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease; }

.compare-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #f5f5f5;
  padding: 20px 30px 35px 30px;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease; }
  .compare-wrapper .compare-column {
    background-color: #fff;
    padding: 15px 24px 0 24px;
    margin-left: 20px;
    min-width: 327px;
    max-width: 327px;
    border: 1px solid transparent;
    -webkit-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
    position: relative;
    cursor: pointer; }
    .compare-wrapper .compare-column:first-child {
      margin-left: 0; }
    .compare-wrapper .compare-column:hover {
      border-color: #9D0605; }
    .compare-wrapper .compare-column:after {
      content: '';
      position: absolute;
      top: 12px;
      right: 10px;
      background: url("../images/icon-check.svg") no-repeat 0 0;
      width: 20px;
      height: 20px;
      opacity: 0;
      -webkit-transition: 0.5s all ease;
      -o-transition: 0.5s all ease;
      transition: 0.5s all ease; }
    .compare-wrapper .compare-column.selected {
      border-color: #9D0605; }
      .compare-wrapper .compare-column.selected:after {
        opacity: 1; }
      .compare-wrapper .compare-column.selected .cta-button {
        background-color: #d0cccc; }
    .compare-wrapper .compare-column .versions-container > li {
      margin-bottom: 16px;
      height: 120px; }
    .compare-wrapper .compare-column .cta-wrapper {
      margin-bottom: 20px; }
    .compare-wrapper .compare-column .automobile-features-wrapper {
      padding-top: 20px;
      font-family: 'citroenregular';
      border-top: 1px solid #d0cccc; }
      .compare-wrapper .compare-column .automobile-features-wrapper .scrollable-content-wrapper {
        height: 410px;
        overflow-y: auto; }
      .compare-wrapper .compare-column .automobile-features-wrapper .heading {
        font-weight: 900;
        font-size: 1.6rem;
        line-height: 19px;
        color: #000;
        margin-bottom: 10px; }
        .compare-wrapper .compare-column .automobile-features-wrapper .heading span {
          color: #9D0605; }
      .compare-wrapper .compare-column .automobile-features-wrapper ul li {
        font-size: 1.4rem;
        line-height: 15px;
        color: #3B3938;
        margin-top: 13px;
        position: relative;
        padding: 0 13px; }
        .compare-wrapper .compare-column .automobile-features-wrapper ul li:first-child {
          margin-top: 0; }
        .compare-wrapper .compare-column .automobile-features-wrapper ul li:before {
          content: '';
          position: absolute;
          top: 8px;
          left: 0;
          width: 3px;
          height: 2px;
          background-color: #9D0605; }

.popup-wrapper {
  position: absolute;
  top: 120%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 690px;
  height: 507px;
  overflow: hidden;
  background-color: #fff;
  z-index: 4;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease; }
  .popup-wrapper .close-popup {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer; }
    .popup-wrapper .close-popup:before, .popup-wrapper .close-popup:after {
      content: '';
      position: absolute;
      width: 2px;
      height: 100%;
      background-color: #000; }
    .popup-wrapper .close-popup:before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .popup-wrapper .close-popup:after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .popup-wrapper .heading {
    font-family: 'citroenblack';
    font-weight: 900;
    font-size: 2.4rem;
    line-height: 29px;
    padding: 15px 30px; }
  .popup-wrapper .autmobile-model-details-wrapper {
    border-top: 1px solid #D0CCCC;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .popup-wrapper .autmobile-model-details-wrapper .col-1-2, .popup-wrapper .autmobile-model-details-wrapper .col-2-2 .automobile-models-wrapper {
      padding: 20px; }
    .popup-wrapper .autmobile-model-details-wrapper .col-1-2 {
      width: 190px; }
      .popup-wrapper .autmobile-model-details-wrapper .col-1-2 .heading {
        font-family: 'citroenbold';
        font-size: 1.4rem;
        line-height: 15px;
        margin-bottom: 10px;
        padding: 0; }
      .popup-wrapper .autmobile-model-details-wrapper .col-1-2 .customized-option-wrapper .customized-option-container {
        padding: 0; }
        .popup-wrapper .autmobile-model-details-wrapper .col-1-2 .customized-option-wrapper .customized-option-container:after {
          display: none; }
        .popup-wrapper .autmobile-model-details-wrapper .col-1-2 .customized-option-wrapper .customized-option-container .customized-options {
          width: 100%;
          margin-bottom: 40px; }
          .popup-wrapper .autmobile-model-details-wrapper .col-1-2 .customized-option-wrapper .customized-option-container .customized-options:last-of-type {
            margin-bottom: 0; }
          .popup-wrapper .autmobile-model-details-wrapper .col-1-2 .customized-option-wrapper .customized-option-container .customized-options .field-row {
            margin-top: 15px; }
            .popup-wrapper .autmobile-model-details-wrapper .col-1-2 .customized-option-wrapper .customized-option-container .customized-options .field-row:first-of-type {
              margin-top: 0; }
            .popup-wrapper .autmobile-model-details-wrapper .col-1-2 .customized-option-wrapper .customized-option-container .customized-options .field-row label {
              -webkit-box-ordinal-group: 3;
              -ms-flex-order: 2;
              order: 2;
              -webkit-box-pack: start;
              -ms-flex-pack: start;
              justify-content: flex-start;
              margin-left: 7px;
              color: #828282; }
    .popup-wrapper .autmobile-model-details-wrapper .col-2-2.automobile-models-container {
      background-color: #f5f5f5; }
      .popup-wrapper .autmobile-model-details-wrapper .col-2-2.automobile-models-container .automobile-models-wrapper {
        padding-right: 10px;
        height: 398px;
        overflow-y: auto; }
        .popup-wrapper .autmobile-model-details-wrapper .col-2-2.automobile-models-container .automobile-models-wrapper ul li {
          background-color: #fff;
          width: 220px;
          border: 1px solid #d0cccc;
          margin-top: 20px;
          padding: 10px;
          -webkit-transition: 0.5s all ease;
          -o-transition: 0.5s all ease;
          transition: 0.5s all ease;
          cursor: pointer;
          position: relative; }
          .popup-wrapper .autmobile-model-details-wrapper .col-2-2.automobile-models-container .automobile-models-wrapper ul li:first-child, .popup-wrapper .autmobile-model-details-wrapper .col-2-2.automobile-models-container .automobile-models-wrapper ul li:nth-child(2) {
            margin-top: 0; }
          .popup-wrapper .autmobile-model-details-wrapper .col-2-2.automobile-models-container .automobile-models-wrapper ul li.selected {
            border-color: #9D0605; }
          .popup-wrapper .autmobile-model-details-wrapper .col-2-2.automobile-models-container .automobile-models-wrapper ul li p {
            font-family: 'citroenblack';
            font-size: 1.4rem;
            line-height: 17px;
            text-align: center;
            margin-top: 5px;
            position: relative;
            z-index: 1; }
          .popup-wrapper .autmobile-model-details-wrapper .col-2-2.automobile-models-container .automobile-models-wrapper ul li .download-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(255, 255, 255, 0.9);
            width: 100%;
            height: 100%;
            font-family: 'citroenbold';
            font-size: 1.4rem;
            line-height: 15px;
            color: #000; }
            .popup-wrapper .autmobile-model-details-wrapper .col-2-2.automobile-models-container .automobile-models-wrapper ul li .download-wrapper a {
              color: #000;
              background: url("../images/icon-download.svg") no-repeat 50% 0;
              padding-top: 28px; }
            .popup-wrapper .autmobile-model-details-wrapper .col-2-2.automobile-models-container .automobile-models-wrapper ul li .download-wrapper .downloading-text {
              margin-bottom: 2px; }
            .popup-wrapper .autmobile-model-details-wrapper .col-2-2.automobile-models-container .automobile-models-wrapper ul li .download-wrapper .downloading-time {
              font-family: 'citroenregular';
              font-size: 1.2rem;
              text-transform: capitalize;
              margin-bottom: 6px; }
            .popup-wrapper .autmobile-model-details-wrapper .col-2-2.automobile-models-container .automobile-models-wrapper ul li .download-wrapper .download-progress {
              background-color: #d0cccc;
              height: 1px;
              width: 120px; }
              .popup-wrapper .autmobile-model-details-wrapper .col-2-2.automobile-models-container .automobile-models-wrapper ul li .download-wrapper .download-progress span {
                display: block;
                background-color: #9D0605;
                height: 1px;
                width: 0;
                -webkit-transition: 0.5s all ease;
                -o-transition: 0.5s all ease;
                transition: 0.5s all ease; }
      .popup-wrapper .autmobile-model-details-wrapper .col-2-2.automobile-models-container .cta-wrapper {
        text-align: center; }
        .popup-wrapper .autmobile-model-details-wrapper .col-2-2.automobile-models-container .cta-wrapper a {
          font-weight: 900;
          font-size: 1.6rem;
          line-height: 19px;
          padding: 15px 0; }

.customized-option-wrapper {
  margin-bottom: 20px; }
  .customized-option-wrapper .customized-option-container {
    padding-top: 12px;
    padding-bottom: 20px;
    position: relative; }
    .customized-option-wrapper .customized-option-container:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 60%;
      height: 1px;
      background-color: #D0CCCC; }
    .customized-option-wrapper .customized-option-container > .heading {
      font-family: 'citroenbold';
      font-size: 1.4rem;
      line-height: 15px; }
    .customized-option-wrapper .customized-option-container .customized-options .field-row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 20px; }
      .customized-option-wrapper .customized-option-container .customized-options .field-row input[type=checkbox], .customized-option-wrapper .customized-option-container .customized-options .field-row label {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .customized-option-wrapper .customized-option-container .customized-options .field-row input[type=checkbox] {
        display: none; }
      .customized-option-wrapper .customized-option-container .customized-options .field-row label {
        font-family: 'citroenbold';
        font-size: 1.6rem;
        line-height: 18px;
        color: #3B3938;
        width: 96px;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        margin-right: 15px;
        cursor: pointer; }
      .customized-option-wrapper .customized-option-container .customized-options .field-row span {
        display: block;
        width: 48px;
        height: 24px;
        background: #E4E2E2;
        border: 2px solid #CBC7C6;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 40px;
        position: relative;
        -webkit-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        transition: 0.3s all ease;
        cursor: pointer; }
        .customized-option-wrapper .customized-option-container .customized-options .field-row span:after {
          content: '';
          position: absolute;
          left: calc(100% - 22px);
          top: -2px;
          width: 24px;
          height: 24px;
          background: #fff;
          border: 2px solid #D0CCCC;
          border-radius: 50%;
          -webkit-transition: 0.3s all ease;
          -o-transition: 0.3s all ease;
          transition: 0.3s all ease; }
      .customized-option-wrapper .customized-option-container .customized-options .field-row input[type=checkbox]:checked ~ span {
        background-color: #9D0605; }
        .customized-option-wrapper .customized-option-container .customized-options .field-row input[type=checkbox]:checked ~ span:after {
          left: -2px; }
      .customized-option-wrapper .customized-option-container .customized-options .field-row input[type=checkbox]:checked ~ label {
        color: #9D0605; }

.main-content-wrapper .col-1-3 .automobile-versions-wrapper .versions-container > li, .compare-wrapper .versions-container > li {
  background-color: #fff;
  font-family: 'citroenregular';
  font-weight: bold;
  position: relative;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
  cursor: pointer; }
  .main-content-wrapper .col-1-3 .automobile-versions-wrapper .versions-container > li:before, .main-content-wrapper .col-1-3 .automobile-versions-wrapper .versions-container > li:after, .compare-wrapper .versions-container > li:before, .compare-wrapper .versions-container > li:after {
    content: '';
    position: absolute; }
  .main-content-wrapper .col-1-3 .automobile-versions-wrapper .versions-container > li:before, .compare-wrapper .versions-container > li:before {
    top: 0;
    left: 0;
    background-color: transparent;
    width: 5px;
    height: 100%;
    -webkit-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease; }
  .main-content-wrapper .col-1-3 .automobile-versions-wrapper .versions-container > li:after, .compare-wrapper .versions-container > li:after {
    top: 16px;
    right: 9px;
    background: url("../images/icon-check.svg") no-repeat 0 0;
    width: 20px;
    height: 20px;
    opacity: 0;
    -webkit-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease; }
  .main-content-wrapper .col-1-3 .automobile-versions-wrapper .versions-container > li.selected, .compare-wrapper .versions-container > li.selected {
    border-color: #9D0605; }
    .main-content-wrapper .col-1-3 .automobile-versions-wrapper .versions-container > li.selected:before, .compare-wrapper .versions-container > li.selected:before {
      background-color: #9D0605; }
    .main-content-wrapper .col-1-3 .automobile-versions-wrapper .versions-container > li.selected:after, .compare-wrapper .versions-container > li.selected:after {
      opacity: 1; }
  .main-content-wrapper .col-1-3 .automobile-versions-wrapper .versions-container > li .heading, .compare-wrapper .versions-container > li .heading {
    font-size: 2rem;
    line-height: 22px;
    margin-bottom: 7px; }
  .main-content-wrapper .col-1-3 .automobile-versions-wrapper .versions-container > li .price-tag, .compare-wrapper .versions-container > li .price-tag {
    margin-bottom: 7px; }
    .main-content-wrapper .col-1-3 .automobile-versions-wrapper .versions-container > li .price-tag > *, .compare-wrapper .versions-container > li .price-tag > * {
      margin-right: 4px; }
    .main-content-wrapper .col-1-3 .automobile-versions-wrapper .versions-container > li .price-tag .discounted-price, .compare-wrapper .versions-container > li .price-tag .discounted-price {
      font-size: 2rem;
      line-height: 22px;
      margin-bottom: 7px; }
    .main-content-wrapper .col-1-3 .automobile-versions-wrapper .versions-container > li .price-tag .actual-price, .compare-wrapper .versions-container > li .price-tag .actual-price {
      font-weight: normal;
      font-size: 1.2rem;
      line-height: 15px;
      color: #828282;
      text-decoration: line-through; }
    .main-content-wrapper .col-1-3 .automobile-versions-wrapper .versions-container > li .price-tag .discount-offered, .compare-wrapper .versions-container > li .price-tag .discount-offered {
      font-weight: normal;
      font-size: 1.2rem;
      line-height: 15px;
      color: #9D0605; }
  .main-content-wrapper .col-1-3 .automobile-versions-wrapper .versions-container > li .offer, .compare-wrapper .versions-container > li .offer {
    background: url("../images/bg-factory-offer.svg") no-repeat 0 0;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 15px;
    color: #fff;
    padding: 3px 17px 6px 14px;
    margin-bottom: 10px; }
  .main-content-wrapper .col-1-3 .automobile-versions-wrapper .versions-container > li .automobile-variant, .compare-wrapper .versions-container > li .automobile-variant {
    height: 100%;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 18px;
    color: #3B3938;
    padding: 3px 0; }
    .main-content-wrapper .col-1-3 .automobile-versions-wrapper .versions-container > li .automobile-variant > *, .compare-wrapper .versions-container > li .automobile-variant > * {
      position: relative;
      border-left: 1px solid #adadad;
      padding-left: 52px;
      margin-left: 26px; }
      .main-content-wrapper .col-1-3 .automobile-versions-wrapper .versions-container > li .automobile-variant > *:first-child, .compare-wrapper .versions-container > li .automobile-variant > *:first-child {
        border-left: none;
        padding-left: 26px;
        margin-left: 0; }
    .main-content-wrapper .col-1-3 .automobile-versions-wrapper .versions-container > li .automobile-variant .engine-type, .compare-wrapper .versions-container > li .automobile-variant .engine-type {
      background: url("../images/icon-engine-type.svg") no-repeat 0 0; }
    .main-content-wrapper .col-1-3 .automobile-versions-wrapper .versions-container > li .automobile-variant .automobile-type, .compare-wrapper .versions-container > li .automobile-variant .automobile-type {
      background: url("../images/icon-automobile-type.svg") no-repeat 23px 0; }

/* page css ends */
@media only screen and (max-width: 1080px) and (min-height: 810px) {
  body {
    height: 100vh;
    overflow: hidden; } }

header {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff; }
  header nav {
    width: 67px; }
    header nav .hamburger-menu {
      position: relative;
      display: inline-block;
      width: 30px;
      height: 40px;
      border-top: 3px solid #3B3938;
      padding-bottom: 8px;
      -webkit-transition: 1s all ease;
      -o-transition: 1s all ease;
      transition: 1s all ease; }
      header nav .hamburger-menu:before, header nav .hamburger-menu:after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #3B3938;
        border-radius: 8px; }
      header nav .hamburger-menu:before {
        top: 5px; }
      header nav .hamburger-menu:after {
        top: 13px; }
      header nav .hamburger-menu span {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        font-size: 1rem;
        color: #3B3938; }
    header nav .go-back {
      font-family: 'citroenbold';
      font-size: 2rem;
      line-height: 22px;
      color: #000;
      position: relative;
      padding-left: 20px;
      opacity: 0;
      display: none;
      -webkit-transition: 1s all ease;
      -o-transition: 1s all ease;
      transition: 1s all ease; }
      header nav .go-back:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        border-top: 1px solid #000;
        border-left: 1px solid #000;
        width: 8px;
        height: 8px;
        -webkit-transform: translateY(-50%) rotate(-45deg);
        -ms-transform: translateY(-50%) rotate(-45deg);
        transform: translateY(-50%) rotate(-45deg); }
