footer{
    background-color: #004950;
    padding: 70px 55px;

    height: 213px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: -1;

    .container{
        .inner-wrap{
            .col{

                &.link-wrap{
                    max-width: 446px;
                    width: 100%;

                    ul{
                        display: flex;
                        flex-wrap: wrap;

                        li{
                            width: 148px;
                            padding-bottom: 10px;

                            a{
                                color: #FFFFFF;
                                font-size: 14px;
                                line-height: 19px;
                                position: relative;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                @include transition(.3s ease-in-out);

                                &:hover{

                                    text-decoration: underline;

                                    // span:before{
                                    //     @include transition(.3s ease-in-out);
                                    //     border: 1px solid#000;
                                    //     height: calc(100% + 10px);
                                    //     width: calc(100% + 10px);
                                    //     top: -5px;
                                    //     left: -5px;
                                    // }
                                }

                                p{
                                    padding-left: 10px;
                                }

                                span {
                                    display: block;
                                    position: relative;
                                    height: 4px;
                                    width: 4px;
                                    background-color:#fff;
                                    border-radius: 50%;
                                    
                                    &:before {
                                        position: absolute;
                                        content: '';
                                        height: calc(100% + 6px); 
                                        width: calc(100% + 6px); 
                                        border: 1px solid#fff;
                                        top: -3px;
                                        left: -3px;
                                        border-radius: inherit;
                                    }
                                }
                            }
                        }
                    }
                }

                &.tech-wrap{
                    .row{
                        position: relative;
                        padding-left: 30px;

                        &:before{
                            content: '';
                            box-sizing: border-box;
                            height: 56px;
                            width: 1px;
                            border: 0.5px solid #FFFFFF;
                            // opacity: 0.8;
                            position: absolute;
                            left: 0;
                            top: 50%;
                            margin-top: -28px;
                        }
                        .coll{
                            width: 148px;
                            p{
                                color: #FFFFFF;
                                font-size: 12px;
                                line-height: 17px;
                                padding-right: 20px;
                            }
                            .img{
                                width: 148px;
                                // background-color: #fff;
                                display: block;

                                img{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width : 1199px){
    footer{
        padding: 70px 0px;
    }
}

@media screen and (max-width : 1024px){
    footer{
        .container{
            padding-right: 30px;
            padding-left: 30px;
        }
    }

}


@media screen and (max-width : 991px){
    

    footer{
        height: 460px;
        padding: 50px 0;
        .container{
            .inner-wrap{
                justify-content: flex-start;
                flex-wrap: wrap;
                justify-content: center;

                .col{
                    &.logo-wrap{
                        // order: 2;
                        padding-right: 0px;
                    }
                    &.link-wrap{
                        // order: 1;
                        max-width: 100%;
                        margin: 50px 0 80px;

                        ul{
                            justify-content: center;
                            max-width: 470px;
                            margin: 0 auto;
                            li{
                                width: 26%;
                                padding-bottom: 20px;
                            }
                        }
                    }
                    &.tech-wrap{
                        // order: 3;                        
                        .row{
                            flex-direction: column;
                            padding-left: 0;

                            &:before{   
                                height: 1px;
                                width: 80px;
                                left: 50%;
                                top: 0;
                                margin-left: -40px;
                                margin-top:-38px;
                            }

                            .coll{
                                width: 100%;
                                p{
                                    padding: 0;
                                    margin: 0;
                                }

                                &:first-child{
                                    margin-bottom: 20px;
                                }

                                .img{
                                    width: 100%;

                                    img{
                                        width: auto;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width : 768px){

    // footer{
    //     height: 340px;
    // }
    // footer .container .inner-wrap .col.logo-wrap{
    //     padding-right: 20px;
    // }
    footer .container .inner-wrap .col.link-wrap ul li{
        width: 30%;
    }
    footer .container .inner-wrap .col.tech-wrap .row{
        flex-direction: column;
        // padding-left: 20px;
    }

    footer .container .inner-wrap .col.tech-wrap .row .coll p{
        padding-right: 0;
    }
    footer .container .inner-wrap .col.tech-wrap .row .coll{
        width: 100%;
    }

}


@media screen and (max-width : 480px){

    footer{
        padding: 48px 0px;
        // height: 300px;
    }
    footer .container .inner-wrap{
        justify-content: center;
    }
    footer .container .inner-wrap .col.link-wrap ul{
        justify-content: center;
    }
    footer .container .inner-wrap .col.link-wrap ul li{
        // width: 50%;
        width: 126px;
    }

    footer .container .inner-wrap .col.logo-wrap{
        width: 120px;
    }
    footer .container .inner-wrap .col.logo-wrap img{
        width: 100%;
    }
    footer .container .inner-wrap .col.tech-wrap .row .coll .img{
        text-align: center;
    }
    footer .container .inner-wrap .col.tech-wrap .row .coll .img img{
        width: 120px;
    }
    

}