// header
header{
    // display: none;
    padding: 0px 55px;
    z-index: 9999;
    width: 100%;
    @include transition(.3s ease-in-out);
    background-color: #fff;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;

    box-shadow: 0 5px 10px 0 rgba(88,88,88,0.3);


    .hamburger {
        display: none;
        position: absolute;
        width: 40px;
        height: 40px;
        top: 50%;
        right: 10%;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        background-color:#fff;
        box-shadow: 0 5px 10px 0 rgba(206,206,206,0.3);                  
        border-radius: 50%;
        margin-top: 40px;

        &:hover {
            background: #f3f3f3;
            cursor: pointer;
        }

        &.active{
            display: block;
        }

        &.open{
            .icon {
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
                background: transparent;

                &:before {
                    transform: rotateZ(45deg) scaleX(1.1) translate(5px, 5px);
                }
                &:after {
                    transform: rotateZ(-45deg) scaleX(1.1) translate(3px, -3px);
                }
            }
        }

        .icon {
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            position: absolute;
            height: 2px;
            width: 22px;
            top: 18px;
            background-color: #212121;
            border-radius: 4px;
            left: 9px;

            &:before {
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
                position: absolute;
                width: 22px;
                height: 2px;
                background-color: #212121;
                content: "";
                top: -6px;
                border-radius: 4px;
              }

              &:after {
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
                position: absolute;
                width: 22px;
                height: 2px;
                background-color: #212121;
                content: "";
                top: 6px;
                border-radius: 4px;
              }
          }
      }
      
 
    .container{
        position: unset;

        &.active{
            @include transition(.3s ease-in-out);
        }

        .flex-wrap{
            // position: relative;

            .logo{
                padding: 12px 0;
                &.active{
                    display: none;
                }
                a{
                    display: block;
    
                    img{
                        width: 108px;
                        height: auto;
                    }
                }
            }
            .menu-wrap{
                padding: 12px 0;
                &.active{
                    display: none;
                }
                &.open{
                    display: block !important;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: #9D9D9D;
                    width: 100%;
                    padding: 150px 50px;
                    height: 100vh;
                    color: #fff;

                    nav{
                        max-width: 1180px;
                        width: 100%;
                        margin: 0 auto;

                        ul.menu>li{
                            width: calc(100% / 5 - 24px);
                            &:after {
                                content: '';
                                display: none;
                            }
                            &:before {
                                content: '';
                                width: 1px;
                                height: 380px;
                                background: #fff;
                                position: absolute;
                                top: 0;
                                right: 0;
                            }
                            &:last-child{
                                &:before{
                                    display: none;
                                }
                            }

                            &.li-resources{
                                ul.dropdown{
                                    left: -30px;
                                }
                            }

                            &:hover{
                                >a{
                                    // color: #000000;
                                    font-weight: normal;
                                }
                            }
                            >a {
                                color: #fff;
                                font-family: "Noto Serif JP";
                                font-size: 24px;
                                font-weight: 600;
                                letter-spacing: 0.34px;
                                line-height: 35px;

                                // &.active, &:hover{
                                //     color: #000000;
                                // }
                            }
                            ul.dropdown{
                                display: block !important;
                                background: no-repeat !important;
                                box-shadow: none !important;
                                li {
                                    // &:hover{
                                    //     a{
                                    //         color: #000000;
                                    //     }
                                    // }
                                    a{
                                        color: #fff;
                                        font-size: 14px;
                                        line-height: 19px;
    
                                        // &:hover{
                                        //     color: #000000;
                                        // }
                                    }
                                }
                            }
                        }                        
                    }
                }
                
                nav{
                    ul.menu{
                        > li{
                            padding-top: 12px;
                            padding-bottom: 12px;
                            position: relative;
                            padding-right: 30px; 
                            width: 80px;
                            transition: 50ms ease-out;
                            -webkit-transition: 50ms ease-out;
                            -moz-transition: 50ms ease-out;
                            -ms-transition: 50ms ease-out;
                            -o-transition: 50ms ease-out;                       
    
                            &:last-child{
                                padding-right: 0;
                            }
    
                            > a{
                                text-transform: uppercase;
                                color: #000000;
                                font-family: "Open Sans";
                                font-size: 14px;
                                letter-spacing: 0.2px;
                                line-height: 19px;
                                cursor: pointer;
                                @include transition(.3s ease-in-out);;
                            }
                            &.active, &:hover{
                                transition: 50ms ease-out;
                                -webkit-transition: 50ms ease-out;
                                -moz-transition: 50ms ease-out;
                                -ms-transition: 50ms ease-out;
                                -o-transition: 50ms ease-out;
    
                                > a{
                                    color: #004950;
                                    font-weight: bold;
                                }
                            }
                            
        
                            &:after {
                                content: '';
                                display: block;
                                width: calc(0% - 30px);
                                position: absolute;
                                height: 2px;
                                background: #333;
                                transition: width 350ms ease-out;
                            }
            
                            &:hover:after {
                                width: calc(100% - 30px);
                                transition: width 350ms ease-out;
                            }
                            &.active:after {
                                width: calc(100% - 30px);
                            }
    
                            &:last-child:after {
                                width: calc(0%);
                            }
            
                            &:last-child:hover:after {
                                width: calc(100%);
                            }
                            &:last-child.active:after {
                                width: calc(100%);
                            }
    
                            &:hover{
                                ul.dropdown{
                                    display: block;
                                }
                            }

                            &.li-resources{
                                ul.dropdown{
                                    li{
                                        width: 160px;
                                    }
                                }
                            }
                            
                            ul.dropdown{
                                padding: 30px 30px;
                                display: none;
                                position: absolute;
                                top: 100%;
                                left: -30px;
                                border-radius: 0 0 5px 5px;
                                background-color: #FFFFFF;
                                box-shadow: 0 5px 10px 0 rgba(206,206,206,0.3);
                                

                                li{
                                    width: 130px;
                                    padding-bottom: 12px;
    
                                    &:last-child{
                                        padding-bottom: 0px;
                                    }
    
                                    a{
                                        color: #000000;
                                        font-family: "Open Sans";
                                        font-size: 14px;
                                        line-height: 19px;
                                        cursor: pointer;
                                        @include transition(.3s ease-in-out);
                                        width: 100%;
                                        display: block;
                                    }
    
                                    &:hover{
                                        a{
                                            font-weight: 600;
                                            color: #004950;
                                            transition: 50ms ease-out; 
                                            @include transition(.3s ease-in-out);                   
                                        }
                                    }
                                }
    
                            }
                        }
                    }
                }
            }
        }
    }

}




// media query
@media screen and (max-width : 1680px){

}


@media screen and (max-width : 1600px){
    
    header .container .flex-wrap .menu-wrap nav ul.menu>li ul.dropdown li ul.dropdown{
        width: 120px;
    }
    header .container .flex-wrap .menu-wrap nav ul.menu>li:last-child ul.dropdown{
        left: -100px;
    }
}

@media screen and (max-width : 1440px){
    
}


@media screen and (max-width : 1400px){
    
}


@media screen and (max-width : 1366px){
    
}

@media screen and (max-width : 1280px){
    
}

@media screen and (max-width : 1199px){
    header{
        padding: 0px 30px;
    }
}

@media screen and (max-width : 1024px){
    
    header .container{
        padding: 0 0;
    }
    header .hamburger{
        display: block;
        top: 0;
        right: 30px;
        margin-top: 12px;
        box-shadow:none;

        &:hover{
            background: #fff;
        }
    }
    
    header .container .flex-wrap .menu-wrap{
        display: none;
    }

    header .container .flex-wrap .menu-wrap nav ul.menu>li{
        cursor: pointer;
    }

    header .container .flex-wrap .menu-wrap.open{
        padding: 70px 50px 20px;
        overflow: scroll;
    }

    header .container .flex-wrap .menu-wrap .menu.flex-wrap{
        flex-direction: column;
    }
    header .container .flex-wrap .menu-wrap.open nav ul.menu>li{
        padding: 0;
        margin-bottom: 24px;
        width: 100%;
    }
    header .container .flex-wrap .menu-wrap.open nav ul.menu>li:before{
        display: none;
    }
    header .container .flex-wrap .menu-wrap.open nav ul.menu>li>a{
        font-size: 16px;
        line-height: 21px;
        color: #004950;
    }
    header .container .flex-wrap .menu-wrap.open nav ul.menu>li.li-resources ul.dropdown{
        left: auto;
        top: auto;
    }
    header .container .flex-wrap .menu-wrap.open nav ul.menu>li ul.dropdown{
        padding: 0;
        position: relative;
        left: auto;
        top: auto;
        padding-top: 12px;
        padding-left: 16px;
    }
    header .container .flex-wrap .menu-wrap nav ul.menu>li.li-resources ul.dropdown li{
        width: auto;
    }




}

@media screen and (max-width : 991px){
    
}

@media screen and (max-width : 768px){
    
}

@media screen and (max-width : 480px){
    header{
        padding: 0px 20px;
    }
    header .container .flex-wrap .logo{
        width: 80px;
        a{
            img{
                width: 100%;
                height: auto;
            }
        }
    }
    header .container .flex-wrap .menu-wrap.open{
        padding: 70px 30px 20px;
    }
    // header .hamburger{
    //     right: 20px;
    //     margin-top: 7px;
    //     width: 40px;
    //     height: 40px;

    //     .icon{
    //         height: 2px;
    //         width: 22px;
    //         top: 24px;

    //         &:before{
    //             width: 22px;
    //             height: 2px;
    //             top: -6px;
    //         }
    //         &:after{
    //             width: 22px;
    //             height: 2px;
    //             top: 6px;
    //         }
    //     }    
    // }
    // header .hamburger.open .icon:after{
    //     transform: rotateZ(-42deg) scaleX(1.10) translate(4px,-9px);
    // }   
    // header .hamburger.open .icon:before {
    //     transform: rotateZ(42deg) scaleX(1.10) translate(0px,3.5px);
    // } 
    
}

@media screen and (max-width : 360px){
    
}

@media screen and (max-width : 350px){

}
