// home slider

section.sec-slider{
    // display:none;

    height: calc(100vh - 75px);
    overflow: hidden;
    position: relative;
    
    .banner-wrap{
        display: block;
        position: relative;
        overflow: hidden;
        height: 100%;

        .owl-carousel{
            display: block;
            position: relative;
            overflow: hidden;
            height: 100%;

            .owl-nav{
                position: absolute;
                bottom: 8%;
                left: 50%;
                margin-left: -60px;
                font-size: 40px;
                line-height: 32px;
                color: #fff;
                text-align: center;
                width: 120px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }


            .content-wrap{
                position: absolute;
                z-index: 0;
                left: 50%;
                top: 40%;
                transform: translateX(-50%) translateY(-50%);
                display: block;

                .inner-wrap{
                    color: #FFFFFF;
                    font-family: 'Noto Serif JP', serif;
                    font-size: 36px;
                    letter-spacing: 0.34px;
                    line-height: 51px;
                    text-align: center;
                }
            }
        }
    }

    .owl-carousel .owl-nav .owl-prev span,
    .owl-carousel .owl-nav .owl-next span{
        font-weight: 100;
    }

    .owl-carousel .owl-video-tn {
        background-size: cover;
        padding-bottom: 56.25%; /* 16:9 */
          padding-top: 0px;
      }
      
      .owl-video-frame {
          position: relative;
          padding-bottom: 56.25%; /* 16:9 */
          padding-top: 0px;
          height: 0;
      }
      .owl-video-frame iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
      }
      
      .owl-dots {
        text-align: center;
        position: absolute;
        bottom: 7%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
      .owl-dot {
        display: inline-block;
        position: relative;
      }
      
      .owl-dot span {
        width: 20px;
        height: 1px;
        background-color: #fff;
        border-radius: 0px;
        display: block;
        margin: 0px;
      }

      .owl-dot.active{
          z-index: 2;
      }
      .owl-dot.active span {
        background-color: #000;
        border-radius: 20%;
      }      

}


// our mission
section.sec-mission{
    .container{
        .inner-wrap{
            padding: 100px 125px;

            .title-wrap{
                text-align: left;
                padding-bottom: 20px;
            }

            p{
                color: #29292B;
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 54px;
                max-width: 760px;
            }
            .btn-read{
                display: inline-block;

                a{
                    color: #004950;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 22px;
                    cursor: pointer;

                    span{
                        padding-right: 10px;
                    }
                    img{
                        display: block;
                        width: 24px;
                        height: auto;
                    }
                }
            }
        }
    }
    .img-box{
        img{
            display: block;
            width: 100%;
            height: auto;
        }
    }
}


// our core
section.sec-core{
    background-color: #F4F0EB;
    padding: 120px 0;

    .container{

        .circle-bg{
            position: absolute;
            background: url(../../images/circle-big.svg) no-repeat center;
            background-size: auto;
            width: 100%;
            height: 100%;
            top: 40px;
            animation: spin 90s linear infinite;
        }

        @keyframes spin { 
            100% { 
              transform: rotateZ(360deg); 
            }
        }

        // #Group-11{
        //     #Oval{
        //         animation: spin 90s linear infinite;
        //     }
        // }

        // @keyframes spin { 
        //     100% { 
        //       transform: rotateZ(360deg); 
        //     }
        // }

        // #Group-12{
        //     #Oval{
        //         animation: spin2 90s linear infinite;
        //     }
        // }

        // @keyframes spin2 { 
        //     100% { 
        //       transform: rotateZ(360deg); 
        //     }
        // }

        .inner-wrap{
            padding-top: 60px;
            position: relative;
            z-index: 1;
            .row{
                max-width: 832px;
                width: 100%;
                margin: 0 auto;

                &:nth-child(2){
                    flex-direction: row-reverse;
                    .col{
                        &.desc{
                            padding-left: 60px;
                        }
                        .box{
                            margin-right: 0;
                        }
                    }
                }
                .col{
                    width: 380px;
                    .box{
                        display: block;
                        height: 380px;
                        width: 380px;
                        border-radius: 50%;
                        background-color: #28f32a;
                        margin-right: 50px;
                    }
                    h3{
                        color: #4A4A4A;
                        font-family: 'Noto Serif JP', serif;
                        font-size: 24px;
                        font-weight: bold;
                        line-height: 35px;
                        padding-bottom: 10px;
                    }
                    p{
                        opacity: 0.7;
                        color: #4A4A4A;
                        font-size: 14px;
                        line-height: 19px;
                        max-width: 340px;
                        width: 100%;
                    }
                }
            }
        }
    }
}


// map

section.sec-map{
    padding: 110px 0;
    position: relative;
    display: block;
    
    &:before{
        content: '';
        background-color: #d2dfe0;
        width: 61.7%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .container{

        padding-left: 125px;
        
        .title-wrap{
            text-align: left;
        }
        .content-wrap{
            max-width: 460px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            padding-top: 20px;

            .col{
                border-left: 3px solid;
                padding-left: 30px;
                margin-bottom: 40px;
                width: calc(100% / 2);

                span{
                    font-family: 'Noto Serif JP', serif;
                    color: #004950;
                    font-size: 48px;
                    font-weight: 900;
                    letter-spacing: 0.6px;
                    line-height: 69px;
                }
                p{
                    margin-top: 8px;
                    color: #004950;
                        font-size: 18px;
                    font-weight: 600;
                    letter-spacing: 0.23px;
                    line-height: 24px;
                }
            }
        }
        
        .figure-info{
            padding-top: 78px;
            .inner-wrap{
                max-width: 460px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .coll{
                    width: 50%;
                    padding-right: 20px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;

                    
                    p{
                        color: #004950;
                        font-size: 12px;
                        letter-spacing: 0.15px;
                        line-height: 17px;
                        padding-left: 10px;
                    }
                }
            }
            p.caption{
                padding-top: 14px;
                color: #004950;
                font-size: 14px;
                font-style: italic;
                line-height: 19px;
            }
        }

        .map-wrapper{
            position: absolute;
            top: 0;
            right: 0; 
        }
        .mapData {
            position: absolute;
            background-color: #fff;
            border-radius: 10px;
            padding: 10px;
            transition: 0.5s all ease;
            z-index: 12;
            max-width: 400px;
            width: 100%;
            padding: 30px 30px;
            box-shadow: 0 5px 10px 0 rgba(206,206,206,0.7);
            opacity: 0;

            &:before {
                content: '';
                position: absolute;
                bottom: -10px;
                left: 20px;
                background-color: #fff;
                width: 20px;
                height: 20px;
                transform: rotate(45deg);
                // box-shadow: 0 5px 10px 0 rgba(206,206,206,0.3)
            }

            .flex-box{
                display: flex;
                justify-content: space-between;
                padding-bottom: 24px;
                div{
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    span{
                        &:first-child{
                            font-family: 'Noto Serif JP', serif;
                            color: #4A4A4A;
                            font-size: 16px;
                            font-weight: 900;
                            line-height: 20px;
                        }
                        &:last-child{
                            margin-top: 8px;
                            color: #4A4A4A;
                            font-size: 12px;
                            line-height: 12px;
                        }
                    }
                }
            }
            .btn-read{
                display: inline-block;

                a{
                    color: #004950;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 22px;
                    cursor: pointer;

                    span{
                        padding-right: 10px;
                    }
                    img{
                        display: block;
                        width: 24px;
                        height: auto;
                    }
                }
            }
        }

        polygon:hover {
            stroke: rgb(85, 109, 111);
            stroke-width: 2px;
        }
    }
}


// our partners
section.sec-partners{
    padding: 120px 0;

    .container{
        
        .inner-wrap{
            max-width: 1028px;
            width: 100%;
            margin: 0 auto;
            padding-top: 12px;
        
            .partners-wrap{
                .owl-carousel{
                    .owl-stage{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        .owl-item{
                            position: relative;

                            &:last-child{
                                &:after{
                                    display: none;
                                }
                            }

                            &:after{
                                content: '';
                                box-sizing: border-box;
                                height: 80px;
                                width: 1px;
                                border: 0.5px solid rgba(151, 151, 151, .5);
                                // border: 1px solid rgba(255, 0, 0, .5);
                                -webkit-background-clip: padding-box; /* for Safari */
                                background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */

                                position: absolute;
                                right: 0;
                                top: 50%;
                                margin-top: -40px;
                            }

                            .item{
                                width: 200px;
        
                                img{
                                    width: 100%;
                                    height: auto;
                                }
                            }
                        }
                    }
                    .owl-next,
                    .owl-prev {
                        height: 40px;
                        width: 40px;
                        background-color: #FFFFFF;
                        box-shadow: 0 5px 10px 0 rgba(206,206,206,0.7);                  
                        border-radius: 50%;
                        position: absolute;
                        top: 50%;
                        font-size: 36px;
                        line-height: 1;
                        color: #000;
                        // border: 1px solid #ddd;
                        text-align: center;
                        margin-top: -20px;

                        &:hover{
                            background-color: #ebebeb;
                            // box-shadow: none;
                        }
                    }
                    .owl-prev.disabled,
                    .owl-next.disabled{
                        display: none;
                    }
                    .owl-prev {
                        left: -88px;
                    }
                    .owl-next {
                        right: -88px;
                    }
                    
                }
                
               
            }
        
        }
    }
}


// video
section.sec-video{
    // padding: 170px 0;
    .container{
        .inner-wrap{
            background: url('../../images/mission.jpg') no-repeat center;
            background-size: cover;
            width: 1028px;
            height: 559px;
            border-radius: 18px;
            overflow: hidden;
            margin: 0 auto;
            position: relative;

            img{
                display: block;
                margin: 0 auto;
            }

            .overlay-bg{
                background: #04091e;
                opacity: .8;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }
            .play-btn{
                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: -25px;
                margin-top: -25px;
                z-index: 2;
                cursor: pointer;
            }

            .video-play-button {
                position: absolute;
                z-index: 10;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                box-sizing: content-box;
                display: block;
                width: 32px;
                height: 44px;
                /* background: #fa183d; */
                border-radius: 50%;
                padding: 18px 20px 18px 28px;
              }
              
              .video-play-button:before {
                content: "";
                position: absolute;
                z-index: 0;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                display: block;
                width: 80px;
                height: 80px;
                background: #004950;
                border-radius: 50%;
                animation: pulse-border 2000ms ease-out infinite;
              }
              
              .video-play-button:after {
                content: "";
                position: absolute;
                z-index: 1;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                display: block;
                width: 80px;
                height: 80px;
                // background: #fa183d;
                border-radius: 50%;
                transition: all 200ms;
              }
              
              .video-play-button:hover:after {
                // background-color: darken(#fa183d, 10%);
                background-color: #004950;
              }
              .video-play-button span {
                display: block;
                position: relative;
                z-index: 3;
                width: 0;
                height: 0;
                border-left: 32px solid #fff;
                  border-top: 22px solid transparent;
                  border-bottom: 22px solid transparent;
              }
              
              @keyframes pulse-border {
                0% {
                  transform: translateX(-50%) translateY(-50%) translateZ(0) scale(.4);
                  opacity: 1;
                }
                100% {
                  transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
                  opacity: 0;
                }
              }
              

            .content-wrap{
                max-width: 600px;
                width: 100%;
                position: absolute;
                bottom: 50px;
                left: 50px;

                h4{
                    color: #FFFFFF;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 24px;
                    padding-bottom: 10px;
                }
                p{
                    color: #FFFFFF;
                    font-size: 14px;
                    line-height: 19px;
                }
            }
        }
    }
}


// news and updates
section.sec-news{
    padding: 120px 0px;

    .container{
      
        .inner-wrap{
            max-width: 1028px;
            width: 100%;
            margin: 0 auto;
            padding-top: 60px;
        
            .partners-wrap{

                .owl-carousel{
                    .owl-stage{
                        display: flex;
                        align-items: flex-start;
                        
                        .owl-item{
                            position: relative;

                            .item{
                                // width: 200px;
                                margin-right: 58px;

                                .box{
                                    display: flex;
                                    flex-direction: column;
                                    align-items: flex-start;
                                    width: 270px;

                                    &.rect-box{
                                        width: 370px;
                                        .rect{
                                            height: 258px;
                                            width: 100%;
                                            border: 1px solid #979797;
                                            opacity: 0.6;
                                            background-color: #20352B;
                                            border-radius: 8px;
                                        }
                                    }
                                    
                                    .rect{
                                        height: 258px;
                                        width: 100%;
                                        border: 1px solid #979797;
                                        opacity: 0.6;
                                        background-color: #20352B;
                                        border-radius: 8px;
                                    }
                                    
                                    p{
                                        color: #000000;
                                        font-size: 16px;
                                        letter-spacing: 0.2px;
                                        line-height: 22px;
                                        padding: 20px 0 10px;
                                        min-height: 100px;
                                    }
                                    span{
                                        opacity: 0.7;
                                        color: #000000;
                                        font-size: 14px;
                                        line-height: 19px;
                                    }
            
                                    img{
                                        width: 100%;
                                        height: auto;
                                    }
                                }
                            }
                        }
                    }
                    .owl-next,
                    .owl-prev {
                        height: 40px;
                        width: 40px;
                        background-color: #FFFFFF;
                        box-shadow: 0 5px 10px 0 rgba(206,206,206,0.7);                  
                        border-radius: 50%;
                        position: absolute;
                        top: 30%;
                        font-size: 36px;
                        line-height: 1;
                        color: #000;
                        // border: 1px solid #ddd;
                        text-align: center;
                        margin-top: -20px;

                        &:hover{
                            background-color: #ebebeb;
                            // box-shadow: none;
                        }
                    }
                    .owl-prev.disabled,
                    .owl-next.disabled{
                        display: none;
                    }
                    .owl-prev {
                        left: -88px;
                    }
                    .owl-next {
                        right: -88px;
                    }
                    
                }
               
            }
        
        }
    }
}



// testimonials
section.sec-testimonials{
    padding: 50px 0;

    .container{
        .inner-wrap{
            max-width: 1028px;
            width: 100%;
            margin: 0 auto;
            padding-top: 12px;
        
            .partners-wrap{
                .owl-carousel---{
                    .item{
                        width: 200px;
                        width: calc(100%/4 - 20px);
                        .col{
                            text-align: center;

                            .circle{
                                display: block;
                                height: 170px;
                                width: 170px;
                                background-color: #eee;
                                border-radius: 50%;
                                margin: 0 auto;
                                
                            }
                            p{
                                margin-top: 20px;
                                color: #000000;
                                font-size: 14px;
                                font-weight: 300;
                                line-height: 17px;
                                text-align: center;
                                font-family: 'Helvetica-Light', sans-serif;
                            }
                        }
                    }                    
                }                
            }
        }
    }
}



// timeline
section.sec-timeline{
    background-color: #F4F0EB;
    padding: 120px 0;

    .container{
        .inner-wrap{
            max-width: 1028px;
            width: 100%;
            margin: 0 auto;

            ul{
                display: flex;
                align-items: flex-start;
                position: relative;

                span.line{
                    width: 100%;
                    height: 1px;
                    background: url(../../images/line.png) no-repeat center;
                    background-size: cover;
                    position: absolute;
                    top: -1px;
                }

                li{
                    list-style: none;
                    margin: 0;
                    margin-left: 0;
                    //border-top: 1px dashed #004950;
                    position: relative;
                    width: calc(100% / 5);
                    padding-top: 36px;

                    &:last-child{
                        width: 230px;

                        .content{
                            padding-right: 0;
                        }
                    }


                    .dot{
                        position: absolute;
                        left: 4px;
                        top: -6px;
                        span {
                            display: block;
                            position: relative;
                            height: 8px;
                            width: 8px;
                            background-color:#004950;
                            border-radius: 50%;
                            
                            &:before {
                                position: absolute;
                                content: '';
                                height: calc(100% + 12px); 
                                width: calc(100% + 12px); 
                                border: 1px solid#004950;
                                top: -6px;
                                left: -6px;
                                border-radius: inherit;
                                // @include transition(.3s ease-in-out);
                            }
                        }
                        
                    }

                    
                    

                    .content{
                        padding-right: 16px;
                        //position: relative;

                        &:hover{
                        
                            p{
                                color: #004950;
                            }
                            
                            .dot span:before{
                                // @include transition(.3s ease-in-out);
                                border: 3px solid#004950;
                                height: calc(100% + 20px);
                                width: calc(100% + 20px);
                                top: -10px;
                                left: -10px;
                            }
                        }

                        span.oval{
                            width: 5px;
                            height: 5px;
                            background: url(../../images/oval.png) no-repeat center;
                            background-size: cover;
                            position: absolute;
                            top: -3px;
                        }

                        span.oval-1{
                            left: 25%;
                        }
                        span.oval-2{
                            right: 7%;
                        }
                        span.oval-3{
                            right: 30%;
                        }
                        span.oval-4{
                            right: 27%;
                        }
                        span.oval-5{
                            right: 35%;
                        }
                        span.oval-6{
                            right: 20%;
                        }
                        span.oval-big{
                            width: 8px;
                            height: 8px;
                            top: -5px;
                            right: 0;
                        }

                        p{
                            color: #000102;
                            font-family: 'Noto Serif JP', serif;
                            font-size: 16px;
                            letter-spacing: 0.25px;
                            line-height: 23px;
                        }

                        .btn-read{
                            display: inline-block;
                            padding-top: 10px;
            
                            a{
                                color: #004950;
                                font-size: 16px;
                                font-weight: 600;
                                line-height: 22px;
                                cursor: pointer;
            
                                span{
                                    padding-right: 10px;
                                }
                                img{
                                    display: block;
                                    width: 24px;
                                    height: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
