// home slider

section.sec-slider{
    // display:none;

    height: calc(100vh - 74px);
    overflow: hidden;
    position: relative;
    overflow: hidden;
    
    .bn-overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 11;
    }

    .banner-wrap{
        display: block;
        position: relative;
        overflow: hidden;
        height: 100%;

        .owl-carousel{
            display: block;
            position: relative;
            overflow: hidden;
            height: 100%;

            .item{
                position: relative;
                img.mob{
                    display: none;
                }
            }

            .owl-nav{
                position: absolute;
                bottom: 8.1%;
                left: 50%;
                margin-left: -75px;
                font-size: 40px;
                line-height: 32px;
                color: #fff;
                text-align: center;
                width: 150px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }


            .content-wrap{
                position: absolute;
                z-index: 44;
                left: 50%;
                top: 40%;
                transform: translateX(-50%) translateY(-50%);
                display: block;

                .inner-wrap{
                    z-index: 44;
                    h1{
                        color: #FFFFFF;
                        font-family: 'Noto Serif JP', serif;
                        font-size: 36px;
                        letter-spacing: 0.34px;
                        line-height: 51px;
                        text-align: center;
                        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.55);
                        z-index: 44;
                    }
                }
            }
        }
    }

    .owl-carousel .owl-nav .owl-prev span,
    .owl-carousel .owl-nav .owl-next span{
        font-weight: 100;
    }

    .owl-carousel .owl-video-tn {
        background-size: cover;
        padding-bottom: 56.25%; /* 16:9 */
          padding-top: 0px;
      }
      
      .owl-video-frame {
          position: relative;
          padding-bottom: 56.25%; /* 16:9 */
          padding-top: 0px;
          height: 0;
      }
      .owl-video-frame iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
      }
      
      .owl-dots {
        text-align: center;
        position: absolute;
        bottom: 7%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
      .owl-dot {
        display: inline-block;
        position: relative;
      }
      
      .owl-dot span {
        width: 20px;
        height: 1px;
        background-color: #fff;
        border-radius: 0px;
        display: block;
        margin: 0px;
      }

      .owl-dot.active{
          z-index: 2;
      }
      .owl-dot.active span {
        // background-color: #fff;
        // border-radius: 20%;
        // height: 3px;

        &:after{
            content: '';
            position: absolute;
            left: 0;
            top: -2px;
            width: 20px;
            height: 4px;
            background-color: #fff;
            border-radius: 20%;
        }
      }   
      .owl-nav button span{
        font-weight: 100;
        font-size: 26px;
      }   

}


// our mission
section.sec-mission{
    .container{
        .inner-wrap{
            padding: 100px 125px;

            .title-wrap{
                text-align: left;
                padding-bottom: 20px;
            }

            p{
                color: #29292B;
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 40px;
                max-width: 760px;
            }
            .btn-read{
                display: inline-block;

                a{
                    color: #004950;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 22px;
                    cursor: pointer;

                    &:hover{
                        img, svg{
                            transform: translateX(10px);
                            @include transition(all .3s ease);
                        }
                    }
                    span{
                        padding-right: 10px;
                    }
                    img{
                        display: block;
                        width: 24px;
                        height: auto;
                        @include transition(all .3s ease);
                    }
                }
            }
        }
    }
    .img-box{
        img{
            display: block;
            width: 100%;
            height: auto;
        }
    }
}


// our core
section.sec-core{
    background-color: #F4F0EB;
    padding: 120px 0 200px;

    .container{

        // .circle-bg{
        //     position: absolute;
        //     background: url(../../images/circle-big.svg) no-repeat center;
        //     background-size: auto;
        //     width: 100%;
        //     height: 100%;
        //     top: 40px;
        //     animation: spin 90s linear infinite;
        // }

        // @keyframes spin { 
        //     100% { 
        //       transform: rotateZ(360deg); 
        //     }
        // }

        .circle-wrap{
            // position: absolute;
            // top: 80px;
            // left: 50%;
            // transform: translateX(-50%) translateY(80px);
            position: relative;

            .Oval_1, .Oval_2 {
                position: absolute;
                width: 100%;
                text-align: center;
                left: 5%;

                svg {
                    position: absolute;
                    left: 0;
                }
            }

            .Oval_1 {
                padding-top: 1%;
                svg:first-child {
                    animation: circular-animate-oval-reverse 70s linear infinite;
                }
            }

            .Oval_2 {
                padding-top: 3%;
                left: 2%;
                svg:first-child {
                    animation: circular-animate-oval 70s linear infinite;
                }
            }
        }

        @keyframes circular-animate-oval {
            0%   { transform: rotateZ(0deg); }
            100% { transform: rotateZ(270deg); }
        }
    
        @keyframes circular-animate-oval-reverse {
            0%   { transform: rotateZ(0deg); }
            100% { transform: rotateZ(-270deg); }
        }



        // svg {
        //     position: absolute;
        //     top: 57%;
        //     left: 50%;
        //     transform: translate(-50%, -50%);
        //     // animation: circular-animate-oval 90s infinite;
        // }

        // svg:first-child {
        //     left: 52%;
        // }

        // svg:first-child path, svg path {
        //     animation: circular-animate-oval 40s linear infinite;
        //     transform-origin: center;
        // }

        // svg path {
        //     animation-name: circular-animate-oval-reverse;
        // }
    
        // path#Oval_1 {
        //     animation: circular-animate-oval 90s linear infinite;
        //     // transform-origin: center;
        // }
    
        // path#Oval_2 {
        //     // animation: circular-animate-oval-reverse 90s infinite;
        //     transform-origin: center;
        // }

        // #Group-11{
        //     #Oval{
        //         animation: spin 90s linear infinite;
        //     }
        // }

        // @keyframes spin { 
        //     100% { 
        //       transform: rotateZ(360deg); 
        //     }
        // }

        // #Group-12{
        //     #Oval{
        //         animation: spin2 90s linear infinite;
        //     }
        // }

        // @keyframes spin2 { 
        //     100% { 
        //       transform: rotateZ(360deg); 
        //     }
        // }

        .inner-wrap{
            padding-top: 60px;
            padding-bottom: 0px;
            position: relative;
            z-index: 1;
            .row{
                max-width: 832px;
                width: 100%;
                margin: 0 auto;
                justify-content: space-evenly;
                padding-bottom: 48px;
                
                &:last-child{
                    padding-bottom: 0;
                }

                &:nth-child(2){
                    flex-direction: row-reverse;
                    .col{
                        &.desc{
                            padding-left: 60px;
                        }
                        .box{
                            margin-right: 0;
                        }
                        img{
                            margin-left: 0;
                        }
                    }
                }
                .col{
                    width: 380px;
                    img{
                        width: 320px;
                        height: auto;
                        @include transition(.3s ease-in-out);
                        border-radius: 50%;
                        margin-left: 12px;
                        
                        &:hover{
                            box-shadow: 0 4px 9px 0 rgba(88,88,88,0.3);
                            transform: scale(1.1);
                            @include transition(.3s ease-in-out);
                        }
                    }
                    .box{
                        display: block;
                        // height: 380px;
                        // width: 380px;
                        // border-radius: 50%;
                        // background-color: #28f32a;
                        // margin-right: 50px;
                    }
                    h3{
                        color: #4A4A4A;
                        font-family: 'Noto Serif JP', serif;
                        font-size: 24px;
                        font-weight: bold;
                        line-height: 35px;
                        padding-bottom: 10px;
                    }
                    p{
                        opacity: 0.7;
                        color: #4A4A4A;
                        font-size: 14px;
                        line-height: 19px;
                        max-width: 320px;
                        width: 100%;
                    }
                }
            }
        }
    }
}


// map
section.sec-map{
    padding: 110px 0;
    position: relative;
    display: block;
    
    &:before{
        content: '';
        background-color: #d2dfe0;
        width: 62%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .container{

        padding-left: 125px;
        
        .title-wrap{
            text-align: left;
        }
        .content-wrap{
            max-width: 460px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            padding-top: 20px;

            .col{
                border-left: 3px solid #004950;
                padding-left: 30px;
                margin-bottom: 40px;
                width: calc(100% / 2);

                span{
                    font-family: 'Noto Serif JP', serif;
                    color: #004950;
                    font-size: 48px;
                    font-weight: 900;
                    letter-spacing: 0.6px;
                    line-height: 69px;
                }
                p{
                    margin-top: 8px;
                    color: #004950;
                        font-size: 18px;
                    font-weight: 600;
                    letter-spacing: 0.23px;
                    line-height: 24px;
                }
            }
        }
        
        .figure-info{
            padding-top: 78px;
            .inner-wrap{
                max-width: 460px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .coll{
                    width: 50%;
                    padding-right: 20px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    
                    p{
                        color: #004950;
                        font-size: 12px;
                        letter-spacing: 0.15px;
                        line-height: 17px;
                        padding-left: 10px;
                    }
                }
            }
           
        }
        p.caption{
            padding-top: 14px;
            color: #004950;
            font-size: 14px;
            font-style: italic;
            line-height: 19px;
        }
        .map-wrapper{
            position: absolute;
            top: 0;
            right: 0; 

            .map-inner-wrap{
                position: relative;
            }
        }
        .mapData {
            position: absolute;
            background-color: #fff;
            border-radius: 10px;
            padding: 10px;
            transition: 0.5s all ease;
            z-index: 2;
            max-width: 400px;
            width: 100%;
            padding: 30px 30px;
            box-shadow: 0 5px 10px 0 rgba(206,206,206,0.7);
            opacity: 0;

            &.mystyle{
                &:before{
                    left: auto;
                    right: 20px;
                }
            }

            &:before {
                content: '';
                position: absolute;
                bottom: -10px;
                left: 20px;
                background-color: #fff;
                width: 20px;
                height: 20px;
                transform: rotate(45deg);
                box-shadow: 0 5px 10px 0 rgba(206,206,206,0.3);
            }

            .flex-box{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                div{
                    width: 33%;
                    display: flex;
                    flex-direction: column;

                    &.fourthBlock{
                        width: auto;
                        margin-top: 16px;
                    }
                    span{
                        &:first-child{
                            font-family: 'Noto Serif JP', serif;
                            color: #4A4A4A;
                            font-size: 16px;
                            font-weight: 900;
                            line-height: 20px;
                        }
                        &:last-child{
                            margin-top: 8px;
                            color: #4A4A4A;
                            font-size: 12px;
                            line-height: 12px;
                        }
                    }
                }
            }
            .btn-read{
                display: inline-block;
                @include transition(all .3s ease);

                a{
                    color: #004950;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 22px;
                    cursor: pointer;
                    width: auto;
                    justify-content: flex-start;

                    &:hover{
                        img,svg{
                            transform: translateX(10px);
                            @include transition(all .3s ease);
                        }
                    }

                    span{
                        padding-right: 10px;
                        color: #004950 !important;
                    }
                    img{
                        display: block;
                        width: 24px;
                        height: auto;
                        @include transition(all .3s ease);
                    }
                }
            }
        }

        #Group-8, #Group-19, #Group-28, #Group-20, #Group-21, #Group-22, #Group-24, #Group-25, #Group-41, #Group-42, #Stroke-45, #Stroke-7{
            &:hover {
                cursor: pointer;
                polygon {
                    &:not([fill-rule]) {
                        stroke: rgb(85, 109, 111);
                        fill: #afc6c8;
                    }

                    stroke: rgb(85, 109, 111);
                    stroke-width: 0;
                    fill: #afc6c8;
                    opacity: 1;
                }
            }
        }

        #Group-35 {
            &:hover {
                path {
                    &#Stroke-72 {
                        fill: #afc6c8;
                    }
                    
                }
            }
        }

        #Group-42 {
            &:hover {
                path {
                    &#Stroke-26 {
                        fill: #afc6c8;
                    }
                    
                }
            }
        }

        #Group-25 {
            &:hover {
                path {
                    &#Combined-Shape{
                        fill: #afc6c8;
                    }
                }
            }
        }

        #Group-41 {
            &:hover {
                path {
                    &#Stroke-26 {
                        fill: #afc6c8;
                    }
                    
                }
            }
        }
        #Stroke-45 {
            &:hover {
                path {
                    &#Stroke-44 {
                        fill: #afc6c8;
                    }
                    
                }
            }
        }
    }
}


// our partners
section.sec-partners{
    padding: 120px 0;

    .container{
        
        .inner-wrap{
            max-width: 1028px;
            width: 100%;
            margin: 0 auto;
            padding-top: 12px;
        
            .partners-wrap{
                position: relative;
                .owl-carousel{
                    .owl-stage{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        @include transition(.3s ease-in-out);

                        &:hover .item:not(:hover) {
                            opacity: 0.3;
                            @include transition(.3s ease-in-out);
                        }
                        .owl-item{
                            position: relative;

                            a{
                                display: block;
                            }
                            &:last-child{
                                &:after{
                                    display: none;
                                }
                            }

                            &:after{
                                content: '';
                                box-sizing: border-box;
                                height: 80px;
                                width: 1px;
                                border: 0.5px solid rgba(151, 151, 151, .5);
                                // border: 1px solid rgba(255, 0, 0, .5);
                                -webkit-background-clip: padding-box; /* for Safari */
                                background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */

                                position: absolute;
                                right: 0;
                                top: 50%;
                                margin-top: -40px;
                            }

                            .item{
                                width: 200px;
        
                                img{
                                    width: 100%;
                                    height: auto;
                                }
                            }
                        }
                    }
                    .owl-next,
                    .owl-prev {
                        height: 60px;
                        width: 60px;
                        // background-color: #FFFFFF;
                        // box-shadow: 0 5px 10px 0 rgba(206,206,206,0.7);                  
                        // border-radius: 50%;
                        position: absolute;
                        top: 50%;
                        // font-size: 36px;
                        // line-height: 1;
                        // color: #000;
                        // // border: 1px solid #ddd;
                        // text-align: center;
                        margin-top: -25px;
                        @include transition(all .3s ease);

                        span{
                            opacity: 0;
                        }

                        &:hover{
                            // background-color: #ebebeb;
                            // box-shadow: none;
                        }
                    }
                    .owl-prev.disabled,
                    .owl-next.disabled{
                        display: none;
                    }
                    .owl-prev {
                        left: -88px;
                        background: url(../../images/arrow-prev.png) no-repeat center center;
                        
                        &:hover{
                            transform: translateX(-5px);
                            @include transition(all .3s ease);
                        }
                    }
                    .owl-next {
                        right: -88px;
                        background: url(../../images/arrow-next.png) no-repeat center center;
                    
                        &:hover{
                            transform: translateX(5px);
                            @include transition(all .3s ease);
                        }
                    }
                    
                }
                
               
            }
        
        }
    }
}


// video
section.sec-video{
    // padding: 170px 0;
    .container{
        .inner-wrap{
            width: 1048px;
            position: relative;
            margin: 0 auto;
            margin-top: 50px;
            height: auto;
            overflow: hidden;
            padding: 10px;
            z-index: 9;

            .wrapper{
                @include transition(.3s ease-in-out);
                &:hover{
                    transform: translateY(-7px);
                }
                iframe {
                    border-radius: 8px;
                    box-shadow: 0 5px 10px 0 rgba(88,88,88,0.5);
                    @include transition(.3s ease-in-out);
                }
            }

            img{
                display: block;
                margin: 0 auto;
            }
            
        }
    }
}


// news and updates
section.sec-news{
    padding: 120px 0px;

    .container{
      
        .inner-wrap{
            max-width: 1028px;
            width: 100%;
            margin: 0 auto;
        
            .partners-wrap{
                position: relative;

                .owl-carousel{
                    .owl-stage{
                        display: flex;
                        align-items: flex-start;
                        
                        .owl-item{
                            position: relative;

                            .item{
                                // width: 200px;
                                margin-right: 30px;

                                &:hover{
                                    .box p,.box span{
                                        color: #004950;
                                    }
                                    img{
                                        box-shadow: 0 5px 10px 0 rgba(88,88,88,0.3);
                                        @include transition(.3s ease-in-out);
                                    }
                                    
                                }

                                .box{
                                    display: flex;
                                    flex-direction: column;
                                    align-items: flex-start;
                                    width: 320px;

                                    // &.rect-box{
                                    //     width: 370px;
                                    //     .rect{
                                    //         height: 258px;
                                    //         width: 100%;
                                    //         border: 1px solid #979797;
                                    //         opacity: 0.6;
                                    //         background-color: #20352B;
                                    //         border-radius: 8px;
                                    //     }
                                    // }
                                    
                                    // .rect{
                                    //     height: 258px;
                                    //     width: 100%;
                                    //     border: 1px solid #979797;
                                    //     opacity: 0.6;
                                    //     background-color: #20352B;
                                    //     border-radius: 8px;
                                    // }
                                    
                                    p{
                                        color: #000000;
                                        font-size: 16px;
                                        letter-spacing: 0.2px;
                                        line-height: 22px;
                                        padding: 8px 0 0;
                                    }
                                    span{
                                        padding-top: 16px;
                                        opacity: 0.7;
                                        color: #000000;
                                        font-size: 14px;
                                        line-height: 19px;
                                    }
            
                                    img{
                                        width: 100%;
                                        height: auto;
                                        border-radius: 8px;
                                        @include transition(.3s ease-in-out);
                                    }
                                }
                            }
                        }
                    }
                    .owl-next,
                    .owl-prev {
                        height: 60px;
                        width: 60px;
                        // background-color: #FFFFFF;
                        // box-shadow: 0 5px 10px 0 rgba(206,206,206,0.7);                  
                        // border-radius: 50%;
                        position: absolute;
                        top: 34%;
                        // font-size: 36px;
                        // line-height: 1;
                        // color: #000;
                        // // border: 1px solid #ddd;
                        // text-align: center;
                        margin-top: -25px;
                        @include transition(all .3s ease);

                        span{
                            opacity: 0;
                        }
                        &:hover{
                            // background-color: #ebebeb;
                            // box-shadow: none;
                        }
                    }
                    .owl-prev.disabled,
                    .owl-next.disabled{
                        display: none;
                    }
                    .owl-prev {
                        left: -88px;
                        background: url(../../images/arrow-prev.png) no-repeat center center;
                        
                        &:hover{
                            transform: translateX(-5px);
                            @include transition(all .3s ease);
                        }
                    }
                    .owl-next {
                        right: -88px;
                        background: url(../../images/arrow-next.png) no-repeat center center;
                    
                        &:hover{
                            transform: translateX(5px);
                            @include transition(all .3s ease);
                        }
                    }
                    
                }
               
            }
        
        }
    }
}


// testimonials
section.sec-testimonials{
    padding: 50px 0px;

    .container{
        .inner-wrap{
            max-width: 1028px;
            width: 100%;
            margin: 0 auto;
            padding-top: 12px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        
            .item{
                width: calc(100%/2 - 14px);
                margin-bottom: 28px;

                &:hover{
                    .col{
                        box-shadow: 0 5px 10px 0 rgba(206,206,206,1);
                        @include transition(.3s ease-in-out);
                        transform: translateY(-6px);
                    }
                }

                .col{
                    @include transition(.3s ease-in-out);
                    height: 100%;
                    padding: 30px;
                    border-radius: 5px;
                    background-color: #FFFFFF;
                    box-shadow: 0 5px 10px 0 rgba(206,206,206,0.3);
                    
                    .row{

                        &:first-child{
                            display: flex;
                            align-items: center;
                            margin-bottom: 36px;
                        }
                        .right{
                            margin-left: 30px;
                            h4{
                                opacity: 0.7;
                                color: #000000;
                                font-size: 14px;
                                font-weight: 600;
                                letter-spacing: 0;
                                line-height: 19px;
                            }
                            p{
                                opacity: 0.7;
                                color: #000000;
                                font-size: 14px;
                                letter-spacing: 0;
                                line-height: 19px;
                            }
                        }
                        p{
                            color: #000000;
                            font-family: "Open Sans";
                            font-size: 16px;
                            letter-spacing: 0;
                            line-height: 22px;
                        }
                    }
                }
            }                    
            
            .btn-wrap{
                display: none;
                margin:  0 auto;
                .btn-read{
                    display: inline-block;
    
                    a{
                        color: #004950;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 16px;
                        cursor: pointer;
    
                        // &:hover{
                        //     img{
                        //         transform: translateY(10px);
                        //         @include transition(all .3s ease);
                        //     }
                        // }
                        span{
                            padding-right: 10px;
                        }
                        img{
                            display: block;
                            width: 20px;
                            height: auto;
                            transform: rotate(90deg);
                            @include transition(all .3s ease);
                            margin-bottom: 4px;

                            &.active{
                                transform: rotate(-90deg);
                            }
                        }
                    }
                }
            }
        }
    }
}



// timeline
section.sec-timeline{
    background-color: #F4F0EB;
    padding: 120px 0;

    .container{
        .inner-wrap{
            max-width: 1028px;
            width: 100%;
            margin: 0 auto;

            ul{
                display: flex;
                align-items: flex-start;
                position: relative;

                span.line{
                    width: 100%;
                    height: 1px;
                    background: url(../../images/line.png) no-repeat center;
                    background-size: cover;
                    position: absolute;
                    top: -1px;
                }
                // span.line2{
                //     display: none;
                // }

                li{
                    list-style: none;
                    margin: 0;
                    margin-left: 0;
                    //border-top: 1px dashed #004950;
                    position: relative;
                    width: calc(100% / 5);
                    padding-top: 36px;

                    &:last-child{
                        width: 230px;

                        .content{
                            padding-right: 0;
                        }
                    }


                    .dot{
                        position: absolute;
                        left: 0px;
                        top: -9px;

                        span {
                            display: block;
                            position: relative;
                            background: url(../../images/circle-dot.svg) no-repeat center;
                            background-size: auto;
                            width: 18px;
                            height: 18px;
                            @include transition(all .3s ease);

                        }
                        
                    }                    
                    

                    .content{
                        padding-right: 16px;
                        //position: relative;
                        @include transition(all .3s ease);

                        img{
                            @include transition(all .3s ease);
                        }
                        &:hover{
                        
                            p{
                                color: #004950;
                            }
                            
                            .dot span{
                                @include transition(all .3s ease);
                                transform: scale(1.3);
                            }
                            img,svg{
                                @include transition(all .3s ease);
                                transform: translateX(10px);
                            }
                        }

                        span.oval{
                            width: 5px;
                            height: 5px;
                            background: url(../../images/oval.png) no-repeat center;
                            background-size: cover;
                            position: absolute;
                            top: -3px;
                        }

                        span.oval-1{
                            left: 25%;
                        }
                        span.oval-2{
                            right: 7%;
                        }
                        span.oval-3{
                            right: 30%;
                        }
                        span.oval-4{
                            right: 27%;
                        }
                        span.oval-5{
                            right: 35%;
                        }
                        span.oval-6{
                            right: 20%;
                        }
                        span.oval-big{
                            width: 8px;
                            height: 8px;
                            top: -5px;
                            right: 0;
                        }
                        a{
                            display: block;
                            line-height: 0;
                        }
                        p{
                            color: #000102;
                            font-family: 'Noto Serif JP', serif;
                            font-size: 16px;
                            letter-spacing: 0.25px;
                            line-height: 23px;
                        }

                        .btn-read{
                            display: inline-block;
                            padding-top: 10px;
            
                            a{
                                color: #004950;
                                font-size: 16px;
                                font-weight: 600;
                                line-height: 22px;
                                cursor: pointer;

                                span{
                                    // padding-right: 10px;
                                }
                                img{
                                    display: block;
                                    width: 24px;
                                    height: auto;
                                    @include transition(all .3s ease);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}




// media query
@media screen and (max-width : 1680px){
    section.sec-map:before{
        width: 63.2%;
    }
}


@media screen and (max-width : 1600px){
    section.sec-map:before{
        width: 64%;
    }
}

@media screen and (max-width : 1440px){
    section.sec-map:before{
        width: 65.5%;
    }
}


@media screen and (max-width : 1400px){
    
    section.sec-map:before{
        width: 66%;
    }

}


@media screen and (max-width : 1366px){
    
    // section.sec-map:before{
    //     width: 66%;
    // }

    .owl-carousel .owl-item img{
        width: auto;
    }

    section.sec-core .container .circle-wrap{
        // top: 60px;
        // transform: translateX(-50%) translateY(60px);
    }

}

@media screen and (max-width : 1280px){
    
    section.sec-map:before{
        width: 67%;
    }
}

@media screen and (max-width : 1199px){
    
    section.sec-core .container .circle-wrap{
        display: none;
    }
    section.sec-mission .container .inner-wrap{
        padding:100px 100px;
    }

    section.sec-map,
    section.sec-map .container{
        // height: 100vh;
        height: 1200px;
    }

    section.sec-map:before{
        width: 100%;
        height: 60%;    
    }
    section.sec-map .container{
        padding-left: 100px;
    }
    section.sec-map .container .content-wrap{
        padding-top: 0;
        max-width: 100%;
        margin-bottom: 48px;
    }
    section.sec-map .container .content-wrap .col{
        width: 33%;
    }
    section.sec-map .container .figure-info{
        padding-top: 0px;
        position: absolute;
        bottom: 72px;
        left: 100px;
    }
    section.sec-map .container p.caption{
        padding: 0;
        position: absolute;
        right: 60px;
        top: 36%;
    }

    section.sec-map .container .map-block{
        position: relative;
        text-align: center;
        // padding-top: 80px;
        display: block;
        width: 100%;
        height: 100%;
    }
    section.sec-map .container .map-wrapper{
        right: auto;
        left: 0;
    }
    section.sec-map .container .map-wrapper .map-inner-wrap{
        width: auto;
        height: 100%;
        // padding-top: 70px;

        svg{
            width: 100%;
        }
    }

    section.sec-core .container .circle-bg{
        display: none;
    }

    section.sec-partners .container .inner-wrap,
    section.sec-news .container .inner-wrap{
        max-width: 80%;
    }
    section.sec-partners .container .inner-wrap .partners-wrap .owl-carousel .owl-stage .owl-item .item{
        width: 160px;
        margin: 0 auto;
    }
    section.sec-video .container .inner-wrap{
        max-width: 80%;
        margin: 0 auto;
        
        iframe{
            height: 500px;
        }
    }


    
}

@media screen and (max-width : 1024px){

    // section.sec-slider .banner-wrap .owl-carousel .owl-nav,
    // section.sec-slider .banner-wrap .owl-carousel .owl-dots{
    //     display: none;
    // }
    section.sec-mission .container .inner-wrap{
        padding: 100px 50px;
    }
    section.sec-mission .container .inner-wrap p{
        font-size: 14px;
        line-height: 19px;
    }
    section.sec-core .container .inner-wrap .row .col h3{
        font-size: 20px;
        line-height: 28px;
    }

    section.sec-map .container .content-wrap .col span{
        font-size: 40px;
        line-height: 56px;
    }
    section.sec-map .container .content-wrap .col p{
        font-size: 16px;
        line-height: 21px;
    }
    
    section.sec-slider .banner-wrap .owl-carousel .content-wrap {
        max-width: 80%;
        width: 100%;

        .inner-wrap{
            h1{
                font-size: 24px;
                line-height: 36px;
            }
        }
    }

    section.sec-video .container .inner-wrap{
        padding: 0;
        iframe{
            height: 420px;
        }

        .content-wrap{
            bottom:20px;
            left: 20px;
            max-width: calc(100% - 40px);
            h4{
                font-size: 16px;
                line-height: 21px;
            }
        }
    }
    
    section.sec-partners .container .inner-wrap .partners-wrap .owl-carousel .owl-stage:hover .item:not(:hover){
        opacity: 1;
    }
}

@media screen and (max-width : 991px){

    section.sec-core .container .inner-wrap{
        max-width: 100%;
        margin: 0 auto;

        .row{
            padding-bottom: 40px;
        }
    }
    section.sec-core .container .inner-wrap .row .col{
        width: 300px;

        img{
            width: 100%;
            height: auto;
            margin: 0;
        }
    }
    section.sec-core .container .inner-wrap .row:nth-child(2) .col.desc{
        padding-left: 0;
    }

    section.sec-map .container{
        padding-left: 30px;
    }
    section.sec-map .container .figure-info{
        left: 30px;
    }
    section.sec-testimonials .container .inner-wrap .item .col .row .right{
        margin-left: 16px;
    }
    
}

@media screen and (max-width : 768px){

    // section.sec-slider{
    //     height: calc(100vh - 74px);
    // }
    section.sec-slider .banner-wrap,
    section.sec-slider .banner-wrap .owl-carousel,
    section.sec-slider .banner-wrap .owl-carousel .owl-stage-outer,
    section.sec-slider .banner-wrap .owl-carousel .owl-stage,
    section.sec-slider .banner-wrap .owl-carousel.owl-drag .owl-item,
    section.sec-slider .banner-wrap .owl-carousel.owl-drag .owl-item .item{
        height: 100%;
    }
    
    section.sec-slider .banner-wrap .owl-carousel .item img.desk{
        display: none;
    }
    section.sec-slider .banner-wrap .owl-carousel .item img.mob{
        display: block;
        width: auto;
        height: 100%;
    }
    
    section.sec-mission .container .inner-wrap{
        padding: 48px 0px;
    }

    section.sec-core{
        padding: 48px 0 80px;
    }

    section.sec-core .container .inner-wrap {
        max-width: 100%;
        padding-top: 0;
    }
    section.sec-core .container .inner-wrap .row{
        max-width: 100%;
        flex-direction: column;
        margin-bottom: 60px;
        padding-bottom: 0;

        &:last-child{
            margin-bottom: 0;
        }

        &:nth-child(2){
            flex-direction: column;

            .col{
                width: 80%;
                margin: 0 auto;
                text-align: center;
    
                &:first-child{
                    max-width: 250px;
                    width: 100%;
                    margin: 0 auto;
                    margin-bottom: 24px;
                }
                
                &.desc{
                    padding-left: 0;
                }
            }
        }
        .col{
            width: 80%;
            margin: 0 auto;
            text-align: center;

            &:first-child{
                max-width: 250px;
                width: 100%;
                margin: 0 auto;
                margin-bottom: 24px;
            }
            p{
                max-width: 100%;
            }
        }
    }

    section.sec-map{
        padding: 48px 0;
    }
    section.sec-map,
    section.sec-map .container{
        height: 1260px;
    }
    section.sec-map:before{
        height: 57%;
    }

    section.sec-map .container .content-wrap{
        justify-content: flex-end;
        margin-bottom: 0;
    }

    section.sec-map .container .content-wrap .col{
        width: 50%;
        border-left: 2px solid #004950;
    }

    section.sec-map .container .map-wrapper{
        padding-top: 0;
        svg{
            width: 100%;
        }
    }

    section.sec-map .container p.caption{
        left: 30px;
        top: 22%;
        width: 120px;
    }
    section.sec-map .container .figure-info{
        bottom:70px;
        .inner-wrap{
            max-width: calc(100% - 30px);
        }
    }

    section.sec-map .container .content-wrap .col{
        padding-left: 20px;
    }
    section.sec-map .container .content-wrap .col span{
        font-size: 36px;
        line-height: 46px;
    }

    section.sec-map .container .mapData{
        width: 244px;
        padding: 16px 16px;
    }
    section.sec-map .container .mapData .flex-box{
        flex-direction: column;
    }
    section.sec-map .container .mapData .flex-box div{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 2px;
    }
    section.sec-map .container .mapData .flex-box div span:first-child{
        // width: 68px;
        text-align: left;
        padding-right: 8px;
    }
    section.sec-map .container .mapData .flex-box div.fourthBlock{
        margin-top: 8px;
    }
    section.sec-map .container .mapData .flex-box div span:last-child{
        margin-top: 0px;
        text-align: left;
    }
    section.sec-map .container .mapData .btn-read a{
        width: auto;
        font-size: 14px;

        span{
            font-size: 14px !important;
        }
    }
    section.sec-map .container .mapData .btn-read a span{
        width: 100% !important;
        color: #004950 !important;
    }

    section.sec-partners .container .inner-wrap{
        max-width: 85%;
    }
    // section.sec-partners .container .inner-wrap .partners-wrap .owl-carousel .owl-stage .owl-item:after{
    //     display: none;
    // }
    section.sec-partners .container .inner-wrap .partners-wrap .owl-carousel .owl-prev{
        left:-50px;
    }
    section.sec-partners .container .inner-wrap .partners-wrap .owl-carousel .owl-next{
        right: -50px;
    }

    section.sec-video .container .inner-wrap{
        max-width: 100%;
    }
    section.sec-video .container .inner-wrap iframe {
        height: 400px;
    }

    section.sec-news .container .inner-wrap{
        max-width: 100%;
    }
    section.sec-news .container .inner-wrap .partners-wrap .owl-carousel .owl-stage .owl-item .item{
        margin-right: 30px;
    }

    section.sec-testimonials{
        background-color:rgba(0, 73, 80, .1)
    }
    section.sec-testimonials .container .inner-wrap{
        flex-direction: column;
    }
    section.sec-testimonials .container .inner-wrap .item{
        width: 100%;
        margin-bottom: 30px;
        // display: none;

        &.other-item{
            display: none;
        }

        &:last-child{
            margin-bottom: 0;
        }

    }
    section.sec-testimonials .container .inner-wrap .item .col{
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        // flex-direction: row;
        
        .row:first-child{
            margin-bottom: 24px;
        }
        // img{
        //     width: 120px;
        // }
        // p{
        //     text-align: left;
        //     margin-top: 0;
        // }
    }

    section.sec-testimonials .container .inner-wrap .btn-wrap{
        display: block;
        position: absolute;
        bottom: -20px;
        left: 50%;
        margin-left: -80px;
    }

    section.sec-timeline .container .inner-wrap ul span.line{
        display: none;
    }
    // section.sec-timeline .container .inner-wrap ul span.line2{
    //     display: block;
    //     width: 1px;
    //     height: 100%;
    //     background: url(../../images/line.png) no-repeat;
    //     background-size: cover;
    //     position: absolute;
    //     top: 10px;
    //     left: 31px;
    // }
    

    section.sec-timeline{
        padding: 48px 0;
    }
    section.sec-timeline .container .inner-wrap ul{
        flex-direction: column;
        padding-left: 24px;
        overflow: hidden;
    }
    section.sec-timeline .container .inner-wrap ul li{
        width: 100%;
        padding-top: 0px;
        margin-bottom: 20px;
    }
    section.sec-timeline .container .inner-wrap ul li .content{
        padding-right: 30px;
        padding-left: 0px;

        .dot, span.oval{
            display: none;
        }
    }
    section.sec-timeline .container .inner-wrap ul li .content span.oval{
        left: 5px;
    }
    section.sec-timeline .container .inner-wrap ul li .content span.oval-1{
        top: 25px;
    }
    section.sec-timeline .container .inner-wrap ul li .content span.oval-2{
        top: 60px;
        right: aut0;
    }
    section.sec-timeline .container .inner-wrap ul li .content span.oval-3{
        right: auto;
        top: 40px;
    }
    section.sec-timeline .container .inner-wrap ul li .content span.oval{
        right: auto;
        top: 45px;
    }
    section.sec-timeline .container .inner-wrap ul li .content span.oval-big{
        left: 4px;
        top: auto;
        bottom: -40px;
    }

    section.sec-timeline .container .inner-wrap ul li .dot{
        top: 6px;
    }
    
    section.sec-timeline .container .inner-wrap ul li:last-child{
        width: 100%;
    }
    section.sec-timeline .container .inner-wrap ul li:last-child .content{
        padding-right: 28px;
    }

    section.sec-timeline .container .inner-wrap ul li .content a{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;    
    }
    section.sec-timeline .container .inner-wrap ul li .content p{
        width: calc(100% - 50px);
        // font-size: 16px;
    }
    section.sec-timeline .container .inner-wrap ul li .content p  br{
        display: none;
    }
    section.sec-timeline .container .inner-wrap ul li .content .btn-read{
        padding: 0;
    }

    
}

@media screen and (max-width : 650px){
    section.sec-map,
    section.sec-map .container{
        height: 1050px;
    }
    section.sec-map:before{
        height: 58%;
    }
    section.sec-map .container .map-block{
        width: 420px;
    }
    section.sec-map .container .content-wrap{
        margin-bottom: 0;
    }
    section.sec-map .container .map-wrapper .map-inner-wrap svg{
        height: auto;
    }
}

@media screen and (max-width : 480px){

    // section.sec-video .container .inner-wrap .video-play-button{
    //     transform: translateX(0%) translateY(-50%);
    // }

    
    section.sec-slider .banner-wrap .owl-carousel .content-wrap .inner-wrap h1{
        font-size: 21px;
        letter-spacing: 0.2px;
        line-height: 27px;
    }

    section.sec-mission .container .inner-wrap{
        padding: 50px 0;
    }
    section.sec-mission .container .inner-wrap,
    section.sec-mission .container .inner-wrap .title-wrap{
        text-align: center;
        max-width: 310px;
        margin: 0 auto;
    }
    section.sec-mission .container .inner-wrap .btn-read a{
        font-size: 14px;
        line-height: 19px;
    }

    section.sec-core{
        padding: 50px 0 80px;
    }
    section.sec-core .container .inner-wrap{
        padding-top: 0;
    }

    section.sec-core .container .inner-wrap .row .col:first-child,
    section.sec-core .container .inner-wrap .row:nth-child(2) .col:first-child{
        max-width: 200px;
    }

    section.sec-core .container .inner-wrap .row .col h3{
        font-size: 18px;
        line-height: 26px;
    }

    section.sec-map{
        padding: 60px 0;
    }
    section.sec-map:before{
        height: 56%;
    }
    
    section.sec-map,
    section.sec-map .container{
        height: 1000px;
    }
    section.sec-map .container .map-block{
        width: 100%;
    }
    section.sec-map .container .content-wrap .col{
        padding-left: 16px;
        
        &:last-child{
            margin-bottom: 12px;
        }
    }
    section.sec-map .container .content-wrap .col p{
        font-size: 14px;
        line-height: 19px;
    }
    section.sec-map .container p.caption{
        top: 24%;
    }

    section.sec-partners{
        padding: 60px 0 60px;

        .container{
            padding: 0;
        }
    }
    // section.sec-video{
    //     padding-top: 70px;
    // }

    section.sec-news{
        padding: 60px 0;
    }
    section.sec-news .container .inner-wrap{
        padding-top: 0;
    }
  
    section.sec-news .container .inner-wrap .partners-wrap .owl-carousel .owl-stage .owl-item .item .box.rect-box,
    section.sec-news .container .inner-wrap .partners-wrap .owl-carousel .owl-stage .owl-item .item .box{
        width: 300px;
        img{
            height: 220px;
        }
    }
    section.sec-news .container .inner-wrap .partners-wrap .owl-carousel .owl-stage .owl-item .item{
        margin-right: 20px;
    }

    section.sec-testimonials .container .inner-wrap .item .col img{
        width: 120px;
    }

    section.sec-partners .container .inner-wrap{
        max-width: 100%;
    }
    section.sec-partners .container .inner-wrap .partners-wrap .owl-carousel .owl-stage .owl-item{
        opacity:0.4;
    }
    section.sec-partners .container .inner-wrap .partners-wrap .owl-carousel .owl-stage .owl-item .item{
        width: 180px;
    }
    section.sec-partners .container .inner-wrap .partners-wrap .owl-carousel .owl-stage .owl-item.active{
        opacity: 1;
    }
    section.sec-partners .container .inner-wrap .partners-wrap .owl-carousel .owl-next,
    section.sec-partners .container .inner-wrap .partners-wrap .owl-carousel .owl-prev{
        height: 50px;
        width: 50px;
        top: auto;
        bottom: -70px;
    }
    section.sec-partners .container .inner-wrap .partners-wrap .owl-carousel .owl-prev{
        left: 50%;
        margin-left: -50px;
    }
    section.sec-partners .container .inner-wrap .partners-wrap .owl-carousel .owl-next{
        right: 50%;
        margin-right: -50px;
    }

    section.sec-video .container .inner-wrap iframe {
        height: 250px;
    }

    section.sec-timeline{
        padding: 60px 0;
    }

    section.sec-testimonials .container .inner-wrap .item .col{
        padding: 20px;
    }

}


@media screen and (max-width : 400px){
    section.sec-map:before{
        height: 54%;
    }
    
    section.sec-map,
    section.sec-map .container{
        height: 920px;
    }
    section.sec-map .container .figure-info .inner-wrap .coll{
        // width: 100%;
        padding-right: 12px;
    }
    section.sec-news .container .inner-wrap .partners-wrap .owl-carousel .owl-stage .owl-item .item .box.rect-box,
    section.sec-news .container .inner-wrap .partners-wrap .owl-carousel .owl-stage .owl-item .item .box{
        width: 272px;
        img{
            height: 200px;
        }
    }
    section.sec-map .container .figure-info{
        bottom: 90px;
    }
    section.sec-partners .container .inner-wrap .partners-wrap .owl-carousel .owl-stage .owl-item .item{
        width: 160px;
    }
}

@media screen and (max-width : 360px){
    
    section.sec-core .container .inner-wrap .row .col,
    section.sec-core .container .inner-wrap .row:nth-child(2) .col.desc{
        width: 100%;
    }
    section.sec-news .container .inner-wrap .partners-wrap .owl-carousel .owl-stage .owl-item .item .box.rect-box,
    section.sec-news .container .inner-wrap .partners-wrap .owl-carousel .owl-stage .owl-item .item .box{
        width: 250px;
        img{
            height: 180px;
        }
    }

    section.sec-testimonials .container .inner-wrap .item .col img{
        width: 100px;
    }
    section.sec-map .container .content-wrap .col span{
        font-size: 30px;
        line-height: 40px;
    }
    section.sec-map .container .mapData .flex-box div span:first-child{
        font-size: 13px;
        line-height: 16px;
    }
    section.sec-video .container .inner-wrap iframe {
        height: 200px;
    }

    section.sec-timeline .container .inner-wrap ul{
        padding-left: 0;
    }





}
