/* import fonts */
/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");


/* resetting starts */
html, body {
  overflow-x: hidden;
}

html {
  font-family: 'Noto Sans', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  letter-spacing: -0.40px;
  font-size: 62.5%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary,
img {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
  color: inherit;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 500;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea,
ul,
li,
p,
h1, h2, h3, h4, h5, h6, a {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  -webkit-text-size-adjust: none;
  -webkit-appearance: none;
}

/** overwritting Bootstrap properties for the following Bootstrap classes starts **/
.container, .row > * {
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}
/** overwritting Bootstrap properties for the following Bootstrap classes ends **/

/* resetting ends */

/* common css starts */
body {
    font-family: 'Noto Sans', sans-serif;
}

.full-width {
    width: 100%;
}

.fixed-wrapper {
    width: 1440px;
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1190px;
}

.section-heading {
    font-size: 4.8rem;
    font-weight: bold;
    text-transform: uppercase;
}

.italic-text {
  font-style: italic;
}

/* common css ends */
header {
  background-color: #fff;
}


header, .banner-wrapper, footer {
  position: relative;
  z-index: 2;
}

header > .container {
    max-width: 100%;
    padding: 15.03px 94px 25px 88.4px;
}

header > .container .logo, 
header > .container .logo > img {
  width: fit-content;
  width: -moz-fit-content;
  max-width: 100%;
}


header > .container .navigation {
    font-size: 1.6rem;
    height: fit-content;
    height: -moz-fit-content;
    justify-content: flex-end;
    transform: translateY(10px);
}

header > .container .navigation > ul {
    margin-right: 38px;
    height: fit-content;
    height: -moz-fit-content;
}

header > .container .navigation > ul > li:not(:first-child) {
    position: relative;
    padding-left: 12px;
    margin-left: 12px;
}

header > .container .navigation > ul > li:not(:first-child):before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: #333;
}

header > .container .navigation > ul > li > a {
    color: #333;
}

.link-button {
    border: 2px solid #6F2C91;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 8px 25px;
    color: #6F2C91;
}

.banner-wrapper {
    position: relative;
}

.banner-wrapper .container {
    max-width: 100%;
}

.banner-wrapper .banner img {
    width: fit-content;
    width: -moz-fit-content;
    max-width: 100%;
    margin: 0 auto;
}

.banner-wrapper .banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.banner-wrapper .banner-content .description {
    font-size: 2rem;
    margin-bottom: 20px;
}

.banner-wrapper .banner-content .cta-watch-video {
    font-size: 2.8rem;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    background: url(../images/play-button.svg) no-repeat 100% 50%;
    padding-right: 44px;
    
}

.about-vitamin-wrapper {
    padding: 80px 0;
}

.about-vitamin-wrapper .col-12 > .col-12 {
  overflow: hidden;
}

.about-vitamin-wrapper h2 {
    text-align: center;
    font-weight: bold;
    color: #6F2C91;
    text-transform: uppercase;
    transform: translateY(100%);
    transition: 0.5s all ease;
}

.about-vitamin-wrapper .col-md-6 {
  overflow: hidden;
}

.about-vitamin-wrapper .cloud-sun-wrapper {
    position: relative;
    padding-top: 70px;
    /* transform: translateX(-100%); */
    opacity: 0;
    transition: 0.5s all ease;
    
}

.about-vitamin-wrapper .cloud-sun-wrapper .img-sun {
    width: 179px;
    height: 179px;
    position: absolute;
    top:0;
    left: 80px;
    z-index: -1;
}



.about-vitamin-wrapper .cloud-sun-wrapper .img-cloud {
    width: 163px;
    height: 85px;
    transform: translateX(0);
}

.about-vitamin-wrapper .cloud-sun-wrapper .img-sun > svg,
.about-vitamin-wrapper .cloud-sun-wrapper .img-cloud > svg {
    width: 100%;
    height: 100%;
}

.about-vitamin-wrapper .family-wrapper {
    margin-top: 50px;
}

.about-vitamin-wrapper .family-wrapper > img {
    margin: 0 auto;
}

.about-vitamin-pros {
    margin-top: 106px;
    /* transform: translateX(100%); */
    transition: 0.5s all ease;
}

.about-vitamin-pros > li {
    position: relative;
    overflow: hidden;
    padding-left: 205px;
    margin-bottom: 48px;
}

.about-vitamin-pros > li:last-child {
    margin-bottom: 0;
}

.about-vitamin-pros > li .heading {
    font-size: 3.2rem;
    color: #6F2C91;
    font-weight: bold;
    margin-bottom: 12px;
    opacity: 0;
    transition: 1.5s all ease;
}

.about-vitamin-pros > li .description {
    font-size: 2rem;
    color: #333333;
    opacity: 0;
    transition: 1.5s all ease;
}

.about-vitamin-pros > li .description > strong {
    font-weight: bold;
}

.about-vitamin-pros > li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 196px;
    height: 196px;
    transition: 0.5s all ease;
    transform: scale(0);
}



.about-vitamin-pros > li.what-is-vitamin:before {
    background: url('../images/icon-what-is-vitamin.svg') no-repeat 0 0;
    background-size: 90%;
}

.about-vitamin-pros > li.why-take-vitamin:before {
    background: url('../images/icon-why-take-vitamin.svg') no-repeat 0 0;
    background-size: contain;
}

.about-vitamin-pros > li.how-do-we-get-vitamin:before {
    background: url('../images/icon-how-do-we-get-vitamin.svg') no-repeat 0 0;
    background-size: contain;
}

.boost-immunity-wrapper {
    background-color: #00A99E;
    padding: 25px 0 23px 0;
    color: #fff;
}

.boost-immunity-wrapper .row > * {
  overflow: hidden;
}

.boost-immunity-wrapper .col-md-7 {
    padding-right: 90px;
}

.boost-immunity-wrapper .col-md-5 > img {
  width: fit-content;
  width: -moz-fit-content;
  max-width: 100%;
  transform: translateX(150%);
  transition: 0.5s all ease;
}

.boost-immunity-wrapper .heading {
    font-size: 4rem;
    font-weight: bold;
    line-height: 48px;
    margin-bottom: 24px;
    text-transform: uppercase;
    transform: translateX(-100%);
    transition: 0.5s all ease;
}

.boost-immunity-wrapper .col-md-7 .heading br {
  display: none;
}

.boost-immunity-wrapper .description {
    font-size: 2rem;
    margin-bottom: 16px;
    transform: translateX(-100%);
    transition: 0.5s all ease;
}

.boost-immunity-wrapper .description:last-child {
    margin-bottom: 0;
}

.word-of-wisdom-wrapper {
    padding: 80px 0;
    text-align: center;
}

.word-of-wisdom-wrapper > .container > .row > .section-heading {
    color: #00A99E;
    margin-bottom: 8px;
}

.word-of-wisdom-wrapper > .container > .row > .description {
  font-size: 2rem;
  color: #333333;
  margin-bottom: 26px;
}

.word-of-wisdom-wrapper > .container > .row > .section-heading,
.word-of-wisdom-wrapper > .container > .row > .description,
.eat-well-wrapper > .container > .row > .section-heading,
.eat-well-wrapper > .container > .row > .description,
.benefits-of-vitamin-wrapper > .container > .row > .section-heading {
  overflow: hidden;
}

.word-of-wisdom-wrapper > .container > .row > .section-heading > span,
.word-of-wisdom-wrapper > .container > .row > .description > span,
.eat-well-wrapper > .container > .row > .section-heading > span,
.eat-well-wrapper > .container > .row > .description > span,
.benefits-of-vitamin-wrapper > .container > .row > .section-heading > span {
  display: block;
  transform: translateY(100%);
  transition: 0.5s all ease;
}


.word-of-wisdom-wrapper .wisdom-box-content-wrapper {
    padding: 0 102.5px;
}

.word-of-wisdom-wrapper .wisdom-box-content {
    width: 49.5%;
    padding: 0 35px 41px 35px;
    position: relative;
    margin-top: 25px;
    opacity: 0;
    
}

/* .word-of-wisdom-wrapper .wisdom-box-content:nth-child(odd) {
  transition: 0.5s all ease;
}

.word-of-wisdom-wrapper .wisdom-box-content:nth-child(even) {
  transition: 1.5s all ease;
} */

.word-of-wisdom-wrapper .wisdom-box-content:first-child,
.word-of-wisdom-wrapper .wisdom-box-content:nth-child(2) {
  margin-top: 0;
} 

.word-of-wisdom-wrapper .wisdom-box-content:before {
    content: '';
    position: absolute;
    left: 0;
    top:  63px;
    width: 100%;
    height: 85%;
    border: 3px solid #00A99E;
    border-radius: 10px;
    z-index: -1;
}

.word-of-wisdom-wrapper .wisdom-box-content .person-image {
    width: 127px;
    height: 127px;
    margin: 0 auto;
}

.word-of-wisdom-wrapper .wisdom-box-content .person-image img {
    width: fit-content;
    width: -moz-fit-content;
    max-width: 100%;
}

.word-of-wisdom-wrapper .wisdom-box-content .person-name,
.word-of-wisdom-wrapper .wisdom-box-content .heading {
    margin-bottom: 32px;
}

.word-of-wisdom-wrapper .wisdom-box-content .person-name {
    font-size: 2.4rem;
    color: #00A99E;
    font-weight: bold;
}

.word-of-wisdom-wrapper .wisdom-box-content .heading {
    font-size: 3rem;
    font-style: italic;
    color:#333333;
    position: relative;
    width: fit-content;
    width: -moz-fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 0 8px 0 39px;
}

.word-of-wisdom-wrapper .wisdom-box-content .heading:before,
.word-of-wisdom-wrapper .wisdom-box-content .heading:after {
    content: '';
    position: absolute;
    left: 0;
    background: url('../images/quote.svg') no-repeat 0 0;
    width: 31px;
    height: 26px;
}

.word-of-wisdom-wrapper .wisdom-box-content .heading:before {
    top: 0;
}

.word-of-wisdom-wrapper .wisdom-box-content .heading:after {
    bottom: 0;
    left: 100%;
    transform: rotate(180deg);
}

.word-of-wisdom-wrapper .wisdom-box-content .description {
    font-size: 2rem;
    color:#333333;
}

.eat-well-wrapper {
    text-align: center;
    padding-bottom: 80px;
}

.eat-well-wrapper .section-header {
    margin-bottom: 23px;
}

.eat-well-wrapper .section-header > .section-heading {
    color: #6F2C91;
    margin-bottom: 17px;
    line-height: 42px;
}

.eat-well-wrapper .section-header > .description {
    color: #333333;
    font-size: 2rem;
}

.eat-well-wrapper .col-lg-4,
.eat-well-wrapper .col-md-6 {
  padding-left: 16px;
  padding-bottom: 16px;
}



.eat-well-wrapper .eat-well-box-content {
    background-color: #FFF6EC;
    font-size: 2rem;
    opacity: 0;
    border-radius: 10px;
    overflow: hidden;
}

.eat-well-wrapper .eat-well-box-content .eat-well-food-description {
    padding: 43px 44px;
    color: #333;
    text-align: left;
    height: 176px;
}

.eat-well-wrapper .eat-well-box-content .eat-well-food-details {
    background-color: #F7941D;
    padding: 22px;
    text-align: center;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    color: #fff;
}

.eat-well-wrapper .eat-well-box-content .eat-well-food-description > p {
    position: relative;
}

.eat-well-wrapper .eat-well-box-content .eat-well-food-description > p:before {
  content: '';
  height: 70px;
  position: absolute;
  top: 50%;
  left: 0;
  background-size: contain !important;
  transform: translateY(-50%);
}

.eat-well-wrapper .eat-well-box-content.food-cod-liver-oil .eat-well-food-description > p {
    padding-left: 90px;
}

.eat-well-wrapper .eat-well-box-content.food-cod-liver-oil .eat-well-food-description > p:before {
    width: 75px;
    background: url('../images/food-cod-liver-oil.png') no-repeat 0 0;
}

.eat-well-wrapper .eat-well-box-content.food-milk .eat-well-food-description > p {
  padding-left: 70px;
}

.eat-well-wrapper .eat-well-box-content.food-milk .eat-well-food-description > p:before {
  width: 55px;
  background: url('../images/food-milk.png') no-repeat 0 0;
}

.eat-well-wrapper .eat-well-box-content.food-vitamin .eat-well-food-description > p {
  padding-left: 82px;
}

.eat-well-wrapper .eat-well-box-content.food-vitamin .eat-well-food-description > p:before {
  width: 67px;
  background: url('../images/food-vitamin.png') no-repeat 0 0;
}

.eat-well-wrapper .eat-well-box-content.food-sardines .eat-well-food-description > p {
  padding-left: 84px;
}

.eat-well-wrapper .eat-well-box-content.food-sardines .eat-well-food-description > p:before {
  width: 69px;
  background: url('../images/food-sardines.png') no-repeat 0 0;
}

.eat-well-wrapper .eat-well-box-content.food-egg .eat-well-food-description > p {
  padding-left: 64px;
}

.eat-well-wrapper .eat-well-box-content.food-egg .eat-well-food-description > p:before {
  width: 69px;
  background: url('../images/food-egg.png') no-repeat 0 0;
}

.eat-well-wrapper .eat-well-box-content.food-tuna .eat-well-food-description > p {
  padding-left: 70px;
}

.eat-well-wrapper .eat-well-box-content.food-tuna .eat-well-food-description > p:before {
  width: 55px;
  background: url('../images/food-tuna.png') no-repeat 0 0;
}

.eat-well-wrapper .disclaimer {
  text-align: left;
  font-size: 1.6rem;
  color: #333;
  font-style: italic;
}

.benefits-of-vitamin-wrapper {
  background-color: rgba(235, 236, 245, 0.5);
}

.benefits-of-vitamin-wrapper .container {
  padding: 60px 27px;
}

.benefits-of-vitamin-wrapper .section-header {
  margin-bottom: 32px;
}

.benefits-of-vitamin-wrapper .section-heading {
  color: #6F2C91;
  font-size: 4rem;
  line-height: 48px;
  text-align: center;
}

.benefits-of-vitamin-wrapper .benefits-of-vitamin-details {
  padding: 0 160px;
  color: #333;
  opacity: 0;
  transition: 1s all ease;
}

.benefits-of-vitamin-wrapper .benefits-of-vitamin-details .box {
  border: 3px solid rgba(247, 148, 29, 1);
  border-radius: 10px;
  padding: 70px 45px;
}

.benefits-of-vitamin-wrapper .benefits-of-vitamin-details .box .col-md-9 {
  padding-left: 24px;
}

.benefits-of-vitamin-wrapper .benefits-of-vitamin-details .box .col-md-9 .heading {
  font-size: 3.2rem;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 40px;
}

.benefits-of-vitamin-wrapper .benefits-of-vitamin-details .box .col-md-9 .description {
  font-size: 2.4rem;
  line-height: 30px;
  font-style: italic;
}

.our-partners-wrapper {
  padding: 94px 0;
}

.our-partners-wrapper .row > * {
  width: auto;
  margin-left: 77px;
}

.our-partners-wrapper .row > *:first-child {
  margin-left: 0;
}

footer {
  background-color: #70309F;
  padding: 43px 0;
  font-size: 1.8rem;
  color: #fff;
}

footer .row > * {
  width: auto;
  text-align: center;
}

footer li {
  margin-left: 30px;
}

.contextual-pages .main-content-wrapper .container {
  max-width: 984px;
}

.contextual-pages header {
  margin-bottom: 80px;
  box-shadow: 0 5px 13px -1px #1B181B26;
}

.contextual-pages header .hamburger-menu {
  display: none;
}

.contextual-pages header .navigation > .link-button {
  font-size: 1.6rem;
  line-height: 42px;
  border: none;
  padding: 0;
}

.contextual-pages header .navigation > .link-button:not(:first-child) {
  margin-left: 48px;
}

.contextual-pages .main-content-wrapper > .container > .row {
  margin-bottom: 80px;
}

.contextual-pages .main-content-wrapper > .container > .row h1 {
  font-size: 4.8rem;
  font-weight: bold;
  color: #6F2C91;
  text-align: center;
  text-transform: uppercase;
  line-height: 42px;
}

.contextual-pages .main-content-wrapper > .container > .row h1 > span {
  text-transform: none;
  font-size: 1em;
}

.contextual-pages .main-content-wrapper > .container > .row h2 {
  font-size: 3.2rem;
  font-weight: bold;
  color: #6F2C91;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.text-underline {
  text-decoration: underline;
}

.contextual-pages .main-content-wrapper > .container > .row .heading {
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 42px;
  color: #6F2C91;
}

.contextual-pages .main-content-wrapper > .container > .row .heading,
.contextual-pages .main-content-wrapper > .container > .row .description:not(:last-child),
.contextual-pages .main-content-wrapper > .container > .row ol > li:not(:last-child) {
  margin-bottom: 32px;
}

.contextual-pages .main-content-wrapper > .container > .row .description.no-margin-bottom {
  margin-bottom: 0;
}

.contextual-pages .main-content-wrapper > .container > .row .description,
.contextual-pages .main-content-wrapper > .container > .row ol {
  font-size: 2rem;
  color: #333333;
}

.contextual-pages .main-content-wrapper > .container > .row ol {
  padding-left: 50px;
  margin-bottom: 0;
}

.contextual-pages .main-content-wrapper > .container > .row ol > li {
  list-style: decimal;
}

.contextual-pages .main-content-wrapper > .container > .row .description a {
  color: #00A99E;
}

/* animation for the section starts */
/* .about-vitamin-wrapper.in-view .cloud-sun-wrapper,
.about-vitamin-wrapper.in-view .about-vitamin-pros {
  transform: translateX(0);
} */

.about-vitamin-wrapper.in-view h2 {
  transform: translateY(0);
}

.about-vitamin-wrapper.in-view .cloud-sun-wrapper {
  opacity: 1;
}

.boost-immunity-wrapper.in-view .heading,
.boost-immunity-wrapper.in-view .description,
.boost-immunity-wrapper.in-view .col-md-5 > img {
  transform: translateX(0);
}

.word-of-wisdom-wrapper.in-view > .container > .row > .section-heading > span,
.word-of-wisdom-wrapper.in-view > .container > .row > .description > span,
.eat-well-wrapper.in-view > .container > .row > .section-heading > span,
.eat-well-wrapper.in-view > .container > .row > .description > span,
.benefits-of-vitamin-wrapper.in-view > .container > .row > .section-heading > span {
  transform: translateY(0);
}

.benefits-of-vitamin-wrapper.in-view .benefits-of-vitamin-details {
  opacity: 1;
}

.word-of-wisdom-wrapper.in-view .wisdom-box-content.in-view {
  opacity: 1;
}

.faq-wrapper > .row {
  border-bottom: 1px solid #707070;
  padding: 20px 0;
  font-size: 2.4rem;
  color: #333;
  line-height: 42px;
}

.faq-wrapper > .row.toggle-expand > a {
  color: #00A99E;
  font-size: 2rem;
  line-height: 28px;
  text-align: right;
  padding-right: 30px;
}

.faq-wrapper > .row.toggle-expand > a > span[data-rel=collapse-all] {
  display: none;
}

.faq-wrapper > .row.toggle-expand > a,
.faq-wrapper > .row > .question {
  position: relative;
  cursor: pointer;
}

.faq-wrapper > .row > .question {
  width: 100%;
  padding-right: 20px;
}

.faq-wrapper > .row.toggle-expand > a > span:last-child,
.faq-wrapper > .row > .question > span {
  position: absolute;
  top: 50%;
  right: 0;
  width: 15px;
  height: 15px;
  transform: translateY(-50%);
}

.faq-wrapper > .row.toggle-expand > a > span:last-child:before,
.faq-wrapper > .row.toggle-expand > a > span:last-child:after,
.faq-wrapper > .row > .question > span:before,
.faq-wrapper > .row > .question > span:after {
  content: '';
  position: absolute;
  background-color: #00A99E;
  transition: 0.5s all ease;
}

.faq-wrapper > .row.toggle-expand > a > span:last-child:after,
.faq-wrapper > .row > .question > span:after {
  width: 2px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(0deg);
}

.faq-wrapper > .row.toggle-expand > a > span:last-child:before,
.faq-wrapper > .row > .question > span:before {
  width: 100%;
  height: 2px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.faq-wrapper > .row.toggle-expand.toggle-open > a > span[data-rel=collapse-all] {
  display: block;
}

.faq-wrapper > .row.toggle-expand.toggle-open > a > span[data-rel=expand-all] {
  display: none;
}

.faq-wrapper > .row.toggle-expand.toggle-open > a > span:last-child:after,
.faq-wrapper > .row > .question.toggle-open > span:after {
  transform: translateX(-50%) rotate(90deg);
}

.faq-wrapper > .row > .answer {
  display: none;
}

@keyframes moveCloud {
  0%   {transform: translateX(250%)}
  100%  {transform: translateX(0%)}
}

@keyframes shineSun {
  0%   {stroke-width: 1.964px}
  50%  {stroke-width: 0.2px}
  100% {stroke-width: 1.964px}
}

.about-vitamin-wrapper.in-view .cloud-sun-wrapper .img-cloud {
  transform: translateX(0%);
  animation-name: moveCloud;
  animation-duration: 30s;
  animation-iteration-count: 1;
}

.about-vitamin-wrapper.in-view .cloud-sun-wrapper .img-sun > svg line {
  stroke-width: 1.964px;
  animation-name: shineSun;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.sticky-menu {
  position: fixed;
  top: 40px;
  right: 27px;
  opacity: 0;
  transition: 0.5s all ease;
  z-index: -1;
}

.sticky-menu > nav {
  box-shadow: 0px 3px 10px #0000001A;
  border: 3px solid #00A99E;
  border-radius: 7px;
  background-color: #fff;
  padding: 24px;
  position: absolute;
  right: 70px;
  width: 280px;
  top: 12px;
  opacity: 0;
  z-index: -1;
  transition: 0.5s all ease;
}

.sticky-menu > nav > .heading {
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: capitalize;
}

.sticky-menu > nav > ul {
  padding-left: 0;
  margin-top: 17px;
}

.sticky-menu > nav > ul > li:not(:last-child) {
  border-bottom: 1px solid #00A99E;
  padding-bottom: 13px;
  margin-bottom: 13px;
}

.sticky-menu > nav > ul > li > a {
  color: #00A99E;
  font-size: 1.6rem;
  display: block;
}

.sticky-menu.menu-visible {
  opacity: 1;
  z-index: 1;
}

.sticky-menu.menu-open > nav {
  opacity: 1;
  z-index: 1;
}

.sticky-menu.menu-open > a > svg .f > .a,
.sticky-menu.menu-open > a > svg .b {
  transition: 0.5s all ease;
}

.sticky-menu.menu-open > a > svg .f > .a {
  fill: #00A99E;
}

.sticky-menu.menu-open > a > svg .b {
  stroke: #fff;
}

.sticky-menu.menu-open > a > svg .c {
  fill: #fff;
}

/* animation for the section ends */

/* Media CSS starts */
@media only screen and (min-width: 1024px) {
  .eat-well-wrapper .col-lg-4:nth-child(3n+1) {
    padding-left: 0;
  }
}

@media only screen and (min-width: 768px) {
  .about-vitamin-wrapper.in-view .about-vitamin-pros > li.in-view:before {
    transform: scale(1);
  }

  .about-vitamin-wrapper.in-view .about-vitamin-pros > li.in-view .heading,
  .about-vitamin-wrapper.in-view .about-vitamin-pros > li.in-view .description {
    opacity: 1;
  }
}


@media only screen and (max-width: 768px) and (min-width: 641px) {
  .benefits-of-vitamin-wrapper .container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (max-width: 768px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 684px;
  }

  header > .container {
    padding: 26px 25px 25px 25px;
  }

  header > .container .navigation {
    transform: translateY(5px);
  }

  header > .container .navigation > ul {
    margin-right: 27px;
  }

  .section-heading {
    font-size: 3.2rem;
    line-height: 40px;
  }

  .banner-wrapper .banner-content .description {
    font-size: 1.6rem;
    line-height: 22px;
    margin-bottom: 11px;
  }

  .banner-wrapper .banner-content .cta-watch-video {
    font-size: 1.6rem;
    line-height: 18px;
    background-size: contain;
    padding-right: 28px;
  }

  .about-vitamin-wrapper {
    padding: 32px 0 65px 0;
  }

  .about-vitamin-wrapper .cloud-sun-wrapper .img-sun {
    width: 100px;
    height: 100px;
    left: 45px;
    top: 33px;
  }

  

  .about-vitamin-wrapper .cloud-sun-wrapper .img-cloud {
    width: 95px;
    height: 50px;
  }

  .about-vitamin-wrapper .family-wrapper {
    padding-left: 73px;
    margin-top: 10px;
  }

  .about-vitamin-wrapper .family-wrapper > img {
    width: fit-content;
    width: -moz-fit-content;
    max-width: 100%;
  }

  .about-vitamin-pros {
    margin-top: 36px;
    padding-left: 0;
  }

  .about-vitamin-pros > li {
    padding-left: 100px;
    margin-bottom: 25px;
  }

  .about-vitamin-pros > li .heading {
    font-size: 2.4rem;
    margin-bottom: 8px;
  }

  .about-vitamin-pros > li .description {
    font-size: 1.6rem;
    line-height: 22px;
  }

  .about-vitamin-pros > li:before {
    width: 100px;
    height: 100px;
    background-position-y: -5px !important;
    background-size: contain !important;
  }

  .boost-immunity-wrapper .col-md-7 {
    padding-right: 20px;
  }

  .boost-immunity-wrapper .heading {
    font-size: 3.2rem;
    line-height: 38px;
    margin-bottom: 16px;
  }

  .boost-immunity-wrapper .description {
    font-size: 1.4rem;
  }

  .boost-immunity-wrapper .col-md-5 > img {
    max-width: 87%;
  }

  .word-of-wisdom-wrapper > .container > .row > .description {
    font-size: 1.4rem;
    margin-bottom: 32px;
  }

  .word-of-wisdom-wrapper .wisdom-box-content-wrapper {
    padding: 0;
  }

  .word-of-wisdom-wrapper .wisdom-box-content {
    padding: 0 22px 31px 22px;
    width: 48%;
  }

  .word-of-wisdom-wrapper .wisdom-box-content .person-image {
    width: 90px;
    height: 90px;
  }

  .word-of-wisdom-wrapper .wisdom-box-content .person-name {
    font-size: 2rem;;
  }

  .word-of-wisdom-wrapper .wisdom-box-content .person-name,
  .word-of-wisdom-wrapper .wisdom-box-content .heading {
    margin-bottom: 22px;
  }

  .word-of-wisdom-wrapper .wisdom-box-content .heading {
    font-size: 2.4rem;
    padding-left: 32px;
  }

  .word-of-wisdom-wrapper .wisdom-box-content .heading::before,
  .word-of-wisdom-wrapper .wisdom-box-content .heading::after {
    width: 24px;
    height: 20px;
    background-size: contain;
  }

  .word-of-wisdom-wrapper .wisdom-box-content .description {
    font-size: 1.6rem;
    line-height: 22px;
  }

  .eat-well-wrapper .section-header > .section-heading {
    margin-bottom: 8px;
  }

  .eat-well-wrapper .section-header > .description {
    font-size: 1.4rem;
  }

  .eat-well-wrapper .section-header {
    margin-bottom: 32px;
  }

  .eat-well-wrapper .col-md-6:nth-child(odd) {
    padding-left: 0;
  }

  .eat-well-wrapper .eat-well-box-content {
    font-size: 1.4rem;
  }
  
  .eat-well-wrapper .eat-well-box-content .eat-well-food-description {
    padding: 27px 32px;
    height: 96px;
  }

  .eat-well-wrapper .eat-well-box-content .eat-well-food-description > p:before {
    height: 37px;
  }

  .eat-well-wrapper .eat-well-box-content.food-cod-liver-oil .eat-well-food-description > p:before {
    width: 40px;
  }

  .eat-well-wrapper .eat-well-box-content.food-cod-liver-oil .eat-well-food-description > p {
    padding-left: 67px;
  }

  .eat-well-wrapper .eat-well-box-content.food-milk .eat-well-food-description > p:before {
    width: 29px;
  }

  .eat-well-wrapper .eat-well-box-content.food-milk .eat-well-food-description > p {
    padding-left: 56px;
  }

  .eat-well-wrapper .eat-well-box-content.food-vitamin .eat-well-food-description > p:before {
    width: 36px;
  }

  .eat-well-wrapper .eat-well-box-content.food-vitamin .eat-well-food-description > p {
    padding-left: 63px;
  }

  .eat-well-wrapper .eat-well-box-content.food-sardines .eat-well-food-description > p:before {
    width: 39px;
  }

  .eat-well-wrapper .eat-well-box-content.food-sardines .eat-well-food-description > p {
    padding-left: 66px;
  }

  .eat-well-wrapper .eat-well-box-content.food-egg .eat-well-food-description > p:before {
    width: 26px;
  }

  .eat-well-wrapper .eat-well-box-content.food-egg .eat-well-food-description > p {
    padding-left: 53px;
  }

  .eat-well-wrapper .eat-well-box-content.food-tuna .eat-well-food-description > p:before {
    width: 30px;
  }

  .eat-well-wrapper .eat-well-box-content.food-tuna .eat-well-food-description > p {
    padding-left: 57px;
  }

  .eat-well-wrapper .disclaimer {
    font-size: 1.2rem;
  }

  
  
  .benefits-of-vitamin-wrapper .section-heading {
    font-size: 2.4rem;
    line-height: 30px;
  }

  .benefits-of-vitamin-wrapper .benefits-of-vitamin-details {
    padding-left: 20px;
    padding-right: 20px;
  }

  .benefits-of-vitamin-wrapper .benefits-of-vitamin-details .box {
    padding: 69px 48px;
  }

  .benefits-of-vitamin-wrapper .benefits-of-vitamin-details .box .col-md-3 .logo > img {
    width: fit-content;
    width: -moz-fit-content;
    max-width: 100%;
  }

  .benefits-of-vitamin-wrapper .benefits-of-vitamin-details .box .col-md-9 .heading {
    font-size: 2.4rem;
    line-height: 32px;
    margin-bottom: 8px;
  }

  .benefits-of-vitamin-wrapper .benefits-of-vitamin-details .box .col-md-9 .description {
    font-size: 1.6rem;
    line-height: 22px;
  }
  
  .our-partners-wrapper {
    padding: 40px 0;
  }

  .sticky-menu {
    top: 25px;
    right: 0;
  }

  .contextual-pages .main-content-wrapper .container {
    max-width: 590px;
    padding: 0 24px;
  }

  .contextual-pages .main-content-wrapper > .container > .row,
  .contextual-pages .main-content-wrapper > .container > .row .heading,
  .contextual-pages .main-content-wrapper > .container > .row .description:not(:last-child),
  .contextual-pages .main-content-wrapper > .container > .row ol > li:not(:last-child) {
    margin-bottom: 24px;
  }

  .contextual-pages .main-content-wrapper > .container > .row h1 {
    font-size: 3.2rem;
    line-height: 42px;
    margin-bottom: 40px;
  }

  .contextual-pages .main-content-wrapper > .container > .row .heading {
    font-size: 2.4rem;
    line-height: 42px;
  }

  .contextual-pages .main-content-wrapper > .container > .row .description,
  .contextual-pages .main-content-wrapper > .container > .row ol {
    font-size: 1.6rem;
    line-height: 22px;
  }

  .contextual-pages .main-content-wrapper > .container > .row h2 {
    font-size: 2.8rem;
  }

  .contextual-pages header > .container .navigation {
    display: block;
    position: fixed;
    left: 100%;
    top: 0;
    padding: 60px 30px 30px 30px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: 0.5s all ease;
  }

  .menu-open {
    overflow: hidden;
  }

  .menu-open.contextual-pages header {
    z-index: 3;
  }

  .menu-open.contextual-pages header .hamburger-menu > span {
    border-color: transparent;
  }

  .menu-open.contextual-pages header .hamburger-menu > span:before {
    transform: translateY(-52%) rotate(45deg);
  }

  .menu-open.contextual-pages header .hamburger-menu > span:after {
    transform: translateY(-12px) rotate(-47deg);
  }
  
  .menu-open.contextual-pages header > .container .navigation {
    left: 0;
  }

  .contextual-pages header .hamburger-menu {
    display: block;
    position: relative;
    width: 34px;
    height: 25px;
  }

  .contextual-pages header .hamburger-menu > span {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-top: 3px solid #6F2C91;
    transition: 0.5s all ease;
  }

  .contextual-pages header .hamburger-menu > span:before,
  .contextual-pages header .hamburger-menu > span:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #6F2C91;
    border-radius: 10px;
    transition: 0.5s all ease;
  }

  .contextual-pages header .hamburger-menu > span:before {
    top: 50%;
    transform: translateY(-52%) rotate(0deg);
  }

  .contextual-pages header .hamburger-menu > span:after {
    top: 100%;
    transform: translateY(0) rotate(0deg);
  }

  .contextual-pages header .container .row > :first-child ~ div {
    display: flex;
    justify-content: flex-end;
  }

  .contextual-pages header .navigation > .link-button {
    width: 100%;
    margin: 0 !important;
  }

  .contextual-pages header .container .row > *:first-child {
    width: 64%;
  }

  .contextual-pages header .container .row > *:first-child ~ div {
    width: 36%;
  }

  .contextual-pages header .container {
    padding: 33px 21px 33px 24px;
  }

  .contextual-pages header {
    margin-bottom: 64px;
  }

  .contextual-pages .main-content-wrapper > .container > .row h1 {
    line-height: 36px;
  }

  .contextual-pages .main-content-wrapper > .container > .row .heading {
    line-height: 30px;
  }

  footer {
    font-size: 1.6rem;
  }

}

@media only screen and (max-width: 640px) {
  




  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 100%;
    padding: 0 28px;
  }

  header > .container {
    padding: 14px 21px 50px 21px;
  }

  header .container .row > *:first-child {
    width: 55%;
    transform: translateY(-8px);
  }

  header .container .row > *:first-child ~ div {
    width: 45%;
  }

  header .container .row {
    justify-content: space-between;
  }

  header > .container .navigation {
    transform: none;
  }

  header > .container .logo img {
    width: fit-content;
    width: -moz-fit-content;
    max-width: 100%;
  }

  

  .link-button {
    padding-left: 18px;
    padding-right: 18px;
    line-height: 15px;
    width: min-content;
  }

  header > .container .navigation > ul {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-right: 0;
    left: 0;
    padding-left: 0;
    background-color: #ccc;
    padding: 10px;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
  }

  /* .contextual-pages header .hamburger-menu {
    display: block;
    position: relative;
    width: 34px;
    height: 25px;
  }

  .contextual-pages header .hamburger-menu > span {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-top: 3px solid #6F2C91;
    transition: 0.5s all ease;
  }

  .contextual-pages header .hamburger-menu > span:before,
  .contextual-pages header .hamburger-menu > span:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #6F2C91;
    border-radius: 10px;
    transition: 0.5s all ease;
  }

  .contextual-pages header .hamburger-menu > span:before {
    top: 50%;
    transform: translateY(-52%) rotate(0deg);
  }

  .contextual-pages header .hamburger-menu > span:after {
    top: 100%;
    transform: translateY(0) rotate(0deg);
  }

  .contextual-pages header .container .row > :first-child ~ div {
    display: flex;
    justify-content: flex-end;
  } */

  .banner-wrapper .container {
    padding-left: 0;
    padding-right: 0;
  }

  .banner-wrapper .banner {
    height: calc(80vh - 100px);
    overflow: hidden;
  }

  .banner-wrapper .banner img {
    width: auto;
    max-width: none;
    height: fit-content;
    height: -moz-fit-content;
    max-height: 100%;
    transform: translateX(-160px);
  }

  .banner-content .section-heading {
    font-size: 3.6rem;
    line-height: 44px;
  }

  .about-vitamin-wrapper {
    padding-bottom: 80px;
  }

  /* .about-vitamin-wrapper .cloud-sun-wrapper,
  .about-vitamin-wrapper .about-vitamin-pros {
    transform: translateX(0);
  } */

  .about-vitamin-wrapper .col-12 > .col-12 {
    order: 2;
  }

  .about-vitamin-wrapper .cloud-sun-wrapper {
    order: 1;
    padding-top: 38px;
    margin-bottom: 31px;
  }

  .about-vitamin-wrapper .col-md-6:last-child {
    order: 3;
  }

  .about-vitamin-wrapper .cloud-sun-wrapper .img-sun {
    top: 0;
  }

  .about-vitamin-wrapper .family-wrapper {
    padding: 0 10%;
    width: 100%;
  }

  .about-vitamin-pros {
    margin-top: 0;
  }

  .about-vitamin-pros > li {
    padding-left: 0;
    padding-top: 196px;
    text-align: center;
    margin-top: -12%;
  }

  .about-vitamin-pros > li:before {
    width: 196px;
    height: 196px;
    left: 50%;
    top: 12%;
    transform: scale(0) translateX(-50%);
  }

  .about-vitamin-wrapper.in-view .about-vitamin-pros > li.in-view:before {
    transform: scale(1) translateX(-50%);
  }

  .about-vitamin-wrapper.in-view .about-vitamin-pros > li.in-view .heading,
  .about-vitamin-wrapper.in-view .about-vitamin-pros > li.in-view .description {
    opacity: 1;
  }

  .boost-immunity-wrapper {
    text-align: center;
    padding: 40px 0;
  }

  .boost-immunity-wrapper .col-md-5 {
    order: -1;
    margin-bottom: 16px;
  }

  .boost-immunity-wrapper .col-md-7 {
    padding: 0 5%;
  }

  .boost-immunity-wrapper .col-md-7 .heading br {
    display: block;
  }

  .boost-immunity-wrapper .col-md-5 > img {
    margin: 0 auto;
    max-width: 70%;
  }

  .word-of-wisdom-wrapper .wisdom-box-content {
    width: 100%;
  }

  .word-of-wisdom-wrapper > .container > .row > .description,
  .eat-well-wrapper .section-header > .description,
  .eat-well-wrapper .eat-well-box-content {
    font-size: 1.6rem;
  }

  .word-of-wisdom-wrapper .wisdom-box-content:nth-child(2),
  .word-of-wisdom-wrapper .wisdom-box-content {
    margin-top: 32px;
  }

  .eat-well-wrapper .col-lg-4, .eat-well-wrapper .col-md-6 {
    padding-left: 0;
    padding-bottom: 24px;
  }

  .eat-well-wrapper .eat-well-box-content .eat-well-food-description {
    height: auto;
  }

  .eat-well-wrapper .disclaimer {
    font-size: 1.4rem;
  }

  .benefits-of-vitamin-wrapper .benefits-of-vitamin-details {
    padding-left: 0;
    padding-right: 0;
  }

  .benefits-of-vitamin-wrapper .benefits-of-vitamin-details .box {
    padding: 40px 25px;
  }

  .benefits-of-vitamin-wrapper .benefits-of-vitamin-details .box .col-md-9 {
    padding-left: 0;
    margin-top: 24px;
  }

  .benefits-of-vitamin-wrapper .benefits-of-vitamin-details .box .col-md-9 .heading {
    font-size: 2.2rem;
    line-height: 28px;
    margin-bottom: 24px;
  }
  
  .our-partners-wrapper .row {
    justify-content: space-between !important;
  }

  .our-partners-wrapper .row > * {
    width: 45%;
    margin-left: 0;
  }

  .our-partners-wrapper .row > * > img {
    width: fit-content;
    width: -moz-fit-content;
    max-width: 100%;
  }


  /* .contextual-pages header > .container .navigation {
    display: block;
    position: fixed;
    left: 100%;
    top: 0;
    padding: 60px 30px 30px 30px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: 0.5s all ease;
  }

  .menu-open {
    overflow: hidden;
  }

  .menu-open.contextual-pages header {
    z-index: 3;
  }

  .menu-open.contextual-pages header .hamburger-menu > span {
    border-color: transparent;
  }

  .menu-open.contextual-pages header .hamburger-menu > span:before {
    transform: translateY(-52%) rotate(45deg);
  }

  .menu-open.contextual-pages header .hamburger-menu > span:after {
    transform: translateY(-12px) rotate(-47deg);
  }
  
  .menu-open.contextual-pages header > .container .navigation {
    left: 0;
  }

  .contextual-pages header .navigation > .link-button {
    width: 100%;
    margin: 0 !important;
  }

  .contextual-pages header .container .row > *:first-child {
    width: 64%;
  }

  .contextual-pages header .container .row > *:first-child ~ div {
    width: 36%;
  }

  .contextual-pages header .container {
    padding: 33px 21px 33px 24px;
  }

  .contextual-pages header {
    margin-bottom: 64px;
  }

  .contextual-pages .main-content-wrapper > .container > .row h1 {
    line-height: 36px;
  }

  .contextual-pages .main-content-wrapper > .container > .row .heading {
    line-height: 30px;
  } */

  

  .faq-wrapper > .row {
    font-size: 1.6rem;
    line-height: 28px;
  }

  .faq-wrapper > .row.toggle-expand > a > span:last-child,
  .faq-wrapper > .row > .question > span {
    width: 10px;
    height: 10px;
  }
  
  .faq-page .our-partners-wrapper {
    margin-top: 62px;
  }

  footer li:first-child {
    margin-left: 0;
  }
}

/* Media CSS ends */
