.contact {
    align-items: center;
    display: flex;
    height: calc(80vh);
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    
    .contactDetals,
    .contactForm {
        margin: 0 1.5%;
        width: 47%;

        @media only screen and (max-width: 1200px) {
            width: 100%;
        }
    }
    .contactForm {
        max-width: 350px;
    }

    .contactDetals {
        p {
            margin: 0;
        }
        a {
            color: var(--brand-primary);
            display: block;
            font-family: "DM Serif Text";
            font-size: 30px;
            margin-bottom: 40px;
        }
        @media only screen and (max-width: 1200px) { 
            text-align: center;
        }
    }
    @media only screen and (max-width: 1200px) {
        flex-direction: column;
        height: auto;
        padding: 100px 0 50px;
    }
}
