html 
    head
        include components/_head.pug 
    body 
        include components/_header.pug

        main.home 
            include components/_loader.pug
            include components/_projects.pug
            //- include components/_about-us.pug
            //- include components/_contact-us.pug
            include components/_footer.pug

            include components/_cookie-bot.pug

        include components/_scripts.pug
