html 
    head
        include components/_head.pug 
    body.close.active 
        include components/_header.pug

        main 
            //- include components/_loader.pug
            //- include components/_projects.pug
            //- include components/_about-us.pug
            //- include components/_contact-us.pug

            include components/_projects_listing.pug
            include components/_footer.pug

            include components/_cookie-bot.pug

        include components/_scripts.pug
