::selection { background:#ed1b2d; color:#fff}
input::-webkit-input-placeholder {
    color: #b6b6b6;
  }
/* Grid CSS - START */
.span2{
    width: 50%;
    padding:0 15px;
    float: left;  
}
.span3{
    width: 33.3%;
    padding:0 15px;
    float: left;
    position:relative;
}
.span4{
    width: 25%;
    padding:0 15px;
    float: left;
}
.span5{
    width: 20%;
    padding:0 15px;
    float: left;
}
.span40{
    width: 40%;
    padding:0 15px;
    float: left;
}
.span60{
    width: 60%;
    padding:0 15px;
    float: left;
}
.span6{
    width: 66.6%;
    padding:0 15px;
    float: left;
}
.span8{
    width: 75%;
    padding:0 15px;
    float: left;
}
.span9{
    width: 80%;
    padding:0 15px;
    float: left;
}
.span10{
    width: 90%;
    padding:0 15px;
    float: left;
}
.span12{
    width: 100%;
    padding:0 15px;
    float: left;
}

.centered{
    position: relative;
    left: 50%;
    @include transform-translateX(-50%);
    z-index: 1;
}
/* Grid CSS - END */

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.container{
    width:100%;
    margin:0 auto;
    padding: 0 40px;
    max-width: 1440px;
    position: relative;
}


.customSelect{
    position:relative;
    border-bottom: 1px solid #ebebeb; 
    cursor: pointer;
    float: left;
    select{
        opacity:0;
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        cursor:pointer;
        font-size:1.8rem;
        color: #4f4f4f;
        background:#fff;
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
        option{
            background:#fff;
            color: #4f4f4f;
            font-size:1.8rem;
        }
    }
    .selectedText{
        position: relative;
        z-index: 2;
        color: #ff9b41;
        float: left;
        padding: 0 12px;
        left: 50%;
        @include transform-translateX(-50%);
             
        &:after {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            top: 8px;
            content: "";
            position: absolute;
            width: 6px;
            height: 6px;
            border: 1px solid #cacaca;
            border-color: transparent transparent #cacaca #cacaca;
            right: -5px;
            background: none;
        }
    }
}
// Custom Dropdown - END
.errorMsg{
    color: red;
    font-size: 1.1rem;
    display: none;
    width: 100%;
    float: left;
    padding: 5px 0 15px;
}
.container{
    width: 100%;
    max-width: 1210px;
    margin: 0 auto;
    padding: 0;
}

.wrapper{ width: 100%; float: left;}
.btn{ 
    padding: 15px 30px; 
    background-color: rgba($color: $black, $alpha: 0.44);
    color: $white;
    font-size: 1.4rem;
    font-family: $MontserratLight;
    @include transition(all 0.2s ease-in);

    &:hover{
        background-color: $skyBlue;
    }
}
header{
    // height: 100px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 3;
    padding: 25px 0;

    @include transition(all 0.3s ease-in);
    &.active{
        background-color: $navyBlue;

        .container{
            .leftSec{
                a{
                    position: relative;
                    top: 0;
                }
                img{
                    max-width: 180px;
                }
                span{
                    font-size: 1.8rem;
                }
            }
        }
    }
    .container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; 
        align-items: center;

        .leftSec{
            a{
                display: flex;
                flex-direction: column;
                position: relative;
                top: 20px;
                @include transition(all 0.5s ease-in);               
            }
            
            img{
                max-width: 210px;
                @include transition(all 0.5s ease-in);               
            }
            span{
                color: $white;
                padding-top: 5px;
                font-size: 2.1rem;
                @include transition(all 0.5s ease-in);               
            }
        }

        .rightSec{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between; 
            align-items: center;

            .link{
                font-size: 1.6rem;
                color: rgba($color: $white, $alpha: 0.64);
                padding-left: 30px;

                &:hover{
                    text-decoration: underline;
                }
            }

            .callUs{
                // background-color: $skyBlue;
                // color: $skyBlue;
                // font-size: 1.6rem;
                text-transform: uppercase;
                padding: 11px 15px;
                // @include border-radius(5px);
                font-weight: 600;

                a{
                    color: $skyBlue;
                    font-size: 3rem;

                }
            }
        }
    }
}
.fp-tableCell{ width: 100%;}
.bannerWrapper{
    background: url("../images/home-top-bg.png") center no-repeat; 
    background-size: cover;
    width: 100%;
    display: flex;
    padding: 35vh 0 0 0;

    h1{
        font-family:$MontserratLight;
        font-size: 5.2rem;
        color: $white;
        line-height: 7rem;
        margin-bottom: 65px;
        width: 100%;
        float: left;
        font-weight: 200;

        span{
            font-family:$MontserratLight;
            font-size: 2.4rem;
            clear: both;
            width:100%;
            float: left;
        }
    }

    .hireNow {
        background-color: $skyBlue;
        // @include border-radius(10px);
        padding: 20px 37px;
        color: $white;
        font-size: 3.8rem;
        width: 352px;
        display: flex;
        flex-direction: column;
        float: left;
        position: relative;
        @include transition(all 0.2s ease-in);


        &:before{
            background: url("../images/arrow-icon.png") 0 0 no-repeat; 
            background-size: 100%;
            width: 46px;
            height: 46px;
            content: "";
            position: absolute;
            right: 32px;
            top: 50%;
            @include transform-translateY(-50%);
            @include transition(all 0.2s ease-in);
        }

        &:hover{
            background-color: $navyBlue;
            &:before{
                right: 25px;
            }
        }

        span{
            color: rgba($color: $white, $alpha: 0.43);
            font-size: 1.7rem;
           
        }
        &:nth-child(3){
            margin-left: 20px;
        }
    }

    .locations{
        background-color: $navyBlue;
        // @include border-radius(10px);
        padding: 20px 37px;
        color: $white;
        font-size: 3.8rem;
        width: 352px;
        display: flex;
        flex-direction: column;
        float: left;
        margin-left:40px;
        position: relative;
        

        &:before{
            background: url("../images/location-icon.png") 0 0 no-repeat; 
            background-size: 100%;
            width: 46px;
            height: 46px;
            content: "";
            position: absolute;
            right: 32px;
            top: 50%;
            @include transform-translateY(-50%);
            @include transition(all 0.2s ease-in);
        }

        
        &:hover{
            &:before{
                @include transform-all( translateY(-50%) rotate(90deg));
            }
        }

        span{
            color: rgba($color: $white, $alpha: 0.43);
            font-size: 1.7rem;
           
        }
    }
}

.ourServices{
    overflow: visible;
    position: relative;

    .background{
        background: url("../images/home-mid-bg.svg") 0 0 no-repeat #041026; 
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
    }
    
    .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding:15vh 0 0 0;
    }

    h2{
        font-size: 4.6rem;
        color: $white;
        text-align: center;
        font-family: $MontserratLight;
    }

    .introCopy{
        color: $white;
        font-size: 2.4rem;
        font-family: $MontserratLight;
        text-align: center;
        padding: 32px 0 0 0;
    }

    .serviceWrapper{
        display: flex;
        justify-content: space-between;
        margin-top: 124px;

        .iceManufacturing{
            background: url("../images/pump-location-bg.png") 0 0 no-repeat;
            // background: url("../images/ice-manufacturing-bg.png") 0 0 no-repeat;
            background-size: 100% 100%;

            .icon{
                img{
                    width: 47px;
                }
            }
        }
    
        .dieselDelivery{
            background: url("../images/pump-location-bg.png") 0 0 no-repeat;
            // background: url("../images/diesel-delivery-bg.png") 0 0 no-repeat;
            background-size: 100% 100%;

            .icon{
                img{
                    width: 46px;
                }
            }
        }
    
        .pumpLocation{
            background: url("../images/pump-location-bg.png") 0 0 no-repeat;
            background-size: 100% 100%;

            .icon{
                img{
                    width: 55px;
                }
            }
        }
    
        .serviceCard{
            width: 394px;
            height: 488px;
            text-align: center;

            .icon{
                width: 100%;
                text-align: center;
                float: left;   
                margin:86px 0 50px 0;
                @include transition( all 0.2s ease-in);
            }

            &:hover{
                .icon{
                    margin-top: 75px;
                    margin-bottom: 61px;
                }
            }
            
    
            span{
                font-size: 1.4rem;
                color: $white;
                font-family: $MontserratLight;
                width: 100%;
            }
    
            h3{
                font-size: 2rem;
                color: $white;
                width: 100%;
                margin-top:20px;
                margin: 20px 0 60px 0;
            }

            
        }
    }    
}

.ourLocations{
    position: relative;

    &:before{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        background: url("../images/white-bg.jpg") 0 0 no-repeat; 
        width: 100%;
        height: 50vh;
    }

    .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding:15vh 0 0 0;
    }

    h2{
        font-size: 4.6rem;
        color: $white;
        text-align: center;
        font-family: $MontserratLight;
    }

    .introCopy{
        color: $white;
        font-size: 2.4rem;
        font-family: $MontserratLight;
        text-align: center;
        padding: 32px 0 0 0;
    }

    .googleMapWrapper{
        width: 100%;
        height: 60vh;
        background-color: $white;
        float: left;
        margin-top: 85px;
        @include border-radius(10px);
        overflow: hidden;

        img{
            width: 100%;
        }
    }
}

.hireNowWrapper{
    width: 100%;
    background-color: $white;

    .container{
        padding-top: 10vh;
    }

    h2{
        font-size: 4.6rem;
        text-align: center;
        font-family: "MontserratLight", Helvetica, sans-serif;
    }
    .fp-tableCell{
        display: flex;
        align-items: center;
    }
    .topSec{
        padding: 28px 0;
        border-bottom: 1px solid $border;


        .leftSec{
            float: left;
            p{
                font-size: 1.7rem;
                color: $gray;
            }

            span{
                font-size: 1.7rem;
                color: $lightGreyText;
            }
        }

        

        .btnWrapper{
            display: flex;
            a{
                padding: 22px 46px;
                color: $white;
                background-color: $skyBlue;
                font-size: 3rem;
                // @include border-radius(4px);
                margin: 0 3px;

                &.active{
                    background-color: $navyBlue;
                    color: $white;
                }
            }
        }
    }

    .resultListWrapper{
        .resultContainer{

            // &:before{
            //     content:"";
            //     position: absolute;
            //     top: 50%;
            //     left: 0;
            //     width: 100%;
            //     border-bottom: 1px solid $border;
            // }
        }

        .owl-nav{
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            @include transform-translate(0,-50%);

            .owl-prev{
                float: left;
                background: url("../images/carousel-prev-btn.png") right 0 no-repeat;
                width: 18px;
                height: 42px;
                background-size: 100%;
                cursor: pointer;
                margin-left: -40px;
                text-indent: -9999px;

                &.disabled{
                    cursor: default;
                }
            }

            .owl-next{
                float: right;
                background: url("../images/carousel-next-btn.png") right 0 no-repeat;
                width: 18px;
                height: 42px;
                background-size: 100%;
                cursor: pointer;
                margin-right: -40px;
                text-indent: -9999px;

                &.disabled{
                    cursor: default;
                }
            }
        }

        ul{
            display: flex;
            flex-wrap: wrap;
            
            li{
                width:50%;
                display: flex;
                padding: 50px 0;

                .leftSec{
                    width: 100%;
                    max-width: 335px;

                    img{
                        width: 100%;
                    }
                }

                .rightSec{
                    padding: 0 25px 0;
                    width: 60%;

                    .title{
                        font-size: 1.9rem;
                        color: $darkText;
                        padding: 0;
                        font-weight: bold;
                    }

                    .details{
                        font-size: 1.4rem;
                        color: $gray;
                        font-family: $MontserratLight;
                        padding: 12px 0;
                        line-height: 21px;
                        min-height: 124px;                        
                    }

                    .viewDetails{
                        padding: 12px 23px;
                        background-color: $skyBlue;
                        font-size: 1.3rem;
                        color: $white;
                        // @include border-radius(4px);

                        &:hover{
                            background-color: $navyBlue;
                        }
                    }

                }
            }
        }
    }

    .bottomSec{
        padding: 28px 35px;
        display: flex;
        justify-content: space-between;

        .btnWrapper{
            float: right;

            a{
                padding: 12px 35px;
                color: $blueText;
                background-color: $viewdetailBg;
                font-size: 1.6rem;
                // @include border-radius(4px);
                margin: 0 3px;

                &.active{
                    background-color: $skyBlue;
                    color: $white;
                }
            }
        }
    }

}

.hireProcessWrapper{
    padding-top: 17vh;
    h2{
        font-size: 4.6rem;
        color: $gray;
        font-family: $MontserratLight;
        
        
    }

    .introCopy{
        font-size: 2.4rem;
        font-family: $MontserratLight;
        color: $lightGrey;
        padding-top: 10px;
        width: 100%;
    }

    .stepsWrapper{
        display: flex;
        justify-content: space-between;
        margin-top: 5vh;

        .steps{
            text-align: center;
            position: relative;

            &.selectLocation{
                img{
                    width: 100px;
                }
            }

            &.choosevehicle{
                img{
                    width: 200px;
                }
            }

            &.contactUs{
                img{
                    width: 100px;
                }
            }

           span, p{
               width: 100%;
               float: left;
           }

           span{
               padding-top: 65px;
               font-size: 1.7rem;
               font-family: $MontserratLight;
               font-weight: 600;
           }

           p{
               padding-top: 5px;
               font-size: 1.7rem;
               color: $grey2;
               a{
                padding-top: 5px;
                font-size: 1.7rem;
                color: $grey2;
               }
           }

           .arrow{
               height:40px; 
               width:56px; 
               display:block; 
               position:absolute; 
               right: 0; 
               top: 15%;
               

               &:before{
                content:''; 
                height:15px; 
                width:15px; 
                display:block; 
                border:2px solid $grey4; 
                border-left-width:0; 
                border-top-width:0; 
                @include transform-rotate(-45deg);
                position:absolute; 
                top:5px; 
                right:5px;
               }

               &:after{
                content:''; 
                height:1px; 
                width:53px; 
                display:block; 
                background:$grey4; 
                position:absolute; 
                top:13px; 
                left:0px;
               }
            }
        }
    }
}

footer{
    background-color: $navyBlue;
    margin-top: 10vh;
    height: 40vh;
    display: flex;
    align-items: center;

    .topSec{
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
        border-bottom: 1px solid $darkGrey;


        .leftSec{
            span, a{
                font-size: 3.2rem;
                color: $white;
                font-family: $MontserratLight;
            }
            p{
                font-size: 1.7rem;
                font-family: $MontserratLight;
                color: $grey3;
                padding-top: 10px;
            }
        }

        .rightSec{
            display: none;
            .socialWrapper{
                float: right;
                display: flex;
                justify-content: space-between;
                align-items: center;
                a{
                    padding:0 8px; 
                }

                .icoFb{
                    img{
                        width: 12px;
                    }
                }

                .icoTwitter, .icoInsta{
                    img{
                        width: 25px;
                    }
                }
            }
            p{
                width: 100%;
                font-size: 1.4rem;
                color: $grey3;
                text-align: right;
                font-family: $MontserratLight;
                float: right;
                padding-top: 10px;
            }
        }
    }

    .bottomSec{
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
        align-items: center;
        .leftSec{
            display: flex;
            align-items: center;

            a.logo{
                display: flex;
                flex-direction: column;
                img{
                    max-width: 100px;
                }
                span{
                    color: $white;
                    padding-top: 5px;
                    font-size: 1rem;
                }
            }
            
            

            .footerLink{
                margin-left: 10px;
                a{
                    color: $white;
                    font-family: $MontserratLight;
                    color: $grey3;
                    font-size: 1.6rem;
                    padding: 0 7px;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        .copyright{
            font-size: 1.4rem; 
            color: $white;
            font-family: $MontserratLight;

        }
    }
}
// Homepage - END


.history{
    padding: 50px 0 0;
    h2{
        font-size: 3.8rem;
    }
}

// Product details - START
.productDetailWrapper{
    background-color: $greyBg;
}
.productDetail{
    width: 95%;
    max-width: 1000px;
    background-color: $white;
    margin: 20vh auto 0 auto;
    box-shadow:0 0 10px $lightGrey;

    .topSec{
        padding: 20px 110px 20px 30px;
        position: relative;

        .title{
            font-size: 1.8rem;
            font-weight: 900;
        }

        .descCopy{
            font-size: 1.4rem;
            font-weight: 400;
            color: $lightGrey;
        }

        .goBack{
            background-color: $btnBg;
            font-size: 1.3rem;
            // @include border-radius(4px);
            padding: 10px 18px;
            color: $skyBlue;
            font-weight: 600;
            position: absolute;
            right: 30px;
            top: 20px;  

            &:hover{
                color: $white;
                background-color: $skyBlue;
            }
        }
    }

    .carouselWrapper{
        width: 100%;
        position: relative;

        .carouselContainer{
            max-height: 432px;
            overflow: hidden;

            img{
                width: 100%;
            }
        }

        p{
            font-size: 1.5rem;
            background-color: rgba($color: $black, $alpha: 0.35);
            padding: 5px 10px;
            color: $white;
            position: absolute;
            left: 42px;
            bottom: 24px;
            z-index: 2;
        }

        .owl-nav{
            position: absolute;
            top: 50%;
            width: 100%;
            @include transform-translate(0,-50%);

            .owl-prev{
                float: left;
                background: url("../images/prev-btn.png") right 0 no-repeat;
                width: 18px;
                height: 42px;
                background-size: 100%;
                cursor: pointer;
                margin-left: 40px;
                text-indent: -9999px;
            }

            .owl-next{
                float: right;
                background: url("../images/next-btn.png") right 0 no-repeat;
                width: 18px;
                height: 42px;
                background-size: 100%;
                cursor: pointer;
                margin-right: 40px;
                text-indent: -9999px;
            }
        }
    }

    .descriptionWrapper{
        padding: 35px 45px;
        display: flex;
        justify-content: space-between;
        .leftSec{
            width: 55%;
            position: relative;

            &:before{
                position: absolute;
                content: "";
                right: -25px;
                top:0;
                height: 100%;
                border-right: 1px solid $border2;

            }
            h2{
                font-size: 2rem;
                font-weight: 600;
            }
            p{
                font-size: 1.6rem;
                font-weight: 400;
            }
            table{
                float: left;
                display: block;
                margin-top:15px;
                tr{
                    th{
                        text-align: left;
                        font-size: 1.3rem;
                        font-weight: 800;
                        padding: 10px;
                    }
                    td{
                        font-size: 1.3rem;
                        font-weight: 800;
                        color: $lightGrey;
                        padding: 10px;
                        text-align: left;


                        &:nth-child(2){
                            color: $black;
                        }
                    }
                }
            }

            .features{
                ul{
                    li{
                        font-size: 1.4rem;
                        list-style: disc outside;
                        margin-left: 15px;
                        padding: 3px 0;
                    }
                }
                p{
                    font-size: 1.4rem;
                }
            }

            .ratesWrapper{
                display: flex;
                margin: 20px 0 0 0;

                .rates{

                    h3{
                        font-size: 1.7rem;
                        font-weight: 800;

                    }
                    &:nth-child(2){
                        margin-left: 25px;
                    }
                    p{
                        line-height: 30px;
                        font-size: 1.4rem
                    }
                }
            }
        }

        .rightSec{
            width: 35%;

            h3{
                font-size: 1.7rem;
                font-weight: 900;
                color: $gray;
                padding: 25px 0;
            }
            p{
                font-size: 1.7rem;
                font-weight: 500;
                color: $grey2;


                a{
                    font-size: 1.7rem;
                    color: $grey2;
                }
            }
            p.address{
                font-size: 1.6rem;
                color: $black;
            }
            .getDirection{
                font-size: 1.4rem;
                color: $lightBlueText;
                font-weight: 500;
            }
            .pumAdress{
                margin-bottom: 20px;
            }
        }
    }
}
// Product details - END

// lightbox - START
.overlay{
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba($color: $black, $alpha: 0.8);
    z-index: 4;
    width: 100%;
    height: 100%;
    display: none;
}

.lightbox{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    max-width: 1240px;
    height: 80vh;
    background-color: $darknavyBlue;
    @include transform-translate(-50% ,-50%);
    // @include border-radius(10px);
    z-index: 5;

    .closeBtn{
        height:30px; 
        width:30px; 
        display:block; 
        position: absolute;
        right: 10px;
        top: 10px;
        z-index:2;
        cursor: pointer;

        &:before,&:after{
            content:''; 
            height:5px; 
            width:30px; 
            display:block; 
            background:$black; 
            position:absolute; 
            top:16px; 
            left:0px; 
            @include border-radius(10px);
            @include transform-rotate(-45deg);
        }

        &:after{
            @include transform-rotate(45deg);
        }
    } 

    &.locationPopup{
        display: none;
        max-width: 1140px;
        .leftSec{
            width: 25%;

            .selectLocationDrp{
                display: none;
            }

            h2{
                color: $white;
                font-size: 2rem;
                font-family: $MontserratLight;
                padding: 35px 22px;
            }

            ul{
                height: 85%;
                overflow: auto;
                li{
                    padding: 15px 22px;
                    background-color: $lighnavyBlue;
                    @include transition(all 0.3s ease-in);

                    .title{
                        color: $white;
                        font-size: 1.7rem;
                        font-family: $Montserrat;
                    }

                    .address{
                        color: $white;
                        font-size: 1.4rem;
                        font-family: $MontserratLight;
                    }
                    a{
                        color: $lightBlueText;
                        font-family: $MontserratLight;
                        font-size: 1.4rem;
                    }

                    &:hover, &.active{
                        background-color: $skyBlue;

                        .title{
                            color: $white;
                        }

                        a{
                            color: rgba($color: $white, $alpha: 0.57);
                        }
                    }
                }
            }
        }
        .rightSec{
            width: 75%;
            position: relative;

            img{
                width:100%;
                height: 100%;
            }

            .direction{
                display: none;
            }

            .locationDetails{
                position: absolute;
                background-color: rgba($color: $black, $alpha: 0.7);
                padding: 30px 0 30px 55px;
                bottom: 0;
                width: 100%;
                display: flex;
                flex-direction: column;

                .title{
                    font-size: 2.9rem;
                    padding-bottom: 10px;
                    font-family: $MontserratLight;
                    color: $white;
                }

                .address{
                    font-size: 2.3rem;
                    color: $white;
                    font-family: $MontserratLight;
                }
            }
        }
    }

    &.iceManufacturingLightbox, &.dieselDeliveryLightbox{
        background-color: $white;
        height: auto;
        display: none;
        .lightboxCont{
            padding: 50px;
            h2{
                font-size: 2rem;
                font-weight: 600;
            }
            p{
                padding: 10px 0;
                font-size: 1.6rem;
                font-weight: 400;
            }
            ul{
                li{
                    font-size: 1.6rem;
                    font-weight: 400;
                    list-style: disc outside;
                    margin-left:15px;
                }
            }

            .callUs{
                background-color: $skyBlue;
                color: $white;
                font-size: 1.6rem;
                text-transform: uppercase;
                padding: 11px 15px;
                // @include border-radius(5px);
                font-weight: 600;
                display: inline-block;
                margin-top: 10px;

                a{
                    color: $white;
                }
            }
        }
    }
}
// lightbox - END

// Aboutus - START
.aboutUs{
    .aboutUsBannerWrapper{
         padding: 25vh 0 0 0;
         background-color: $greyBg;

        .background{
            background: url("../images/home-top-bg.png") right 0 no-repeat $greyBg; 
            background-size: cover;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            height: 55vh;
        }

        h1{
            color: $white;
            font-size: 4.2rem;
            text-align: center;
            width: 100%;
            font-family: $MontserratLight;
            font-weight: 200;
        }

        .introCopy{
            font-size: 1.8rem;
            color: rgba($color: $white, $alpha: 0.8);
            font-family: $MontserratLight;
            text-align: center;
            padding-top: 10px;  
        }

        .banner{
            background-color: $white;
            display: flex;
            margin-top: 72px;
            padding: 80px 75px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h2{
                    font-size: 3.8rem;
                    color: $black;
                    font-family: $MontserratLight;
                    text-align: center;
                }
                p{
                    font-size: 1.9rem;
                    font-family: $MontserratLight;

                }


            // .leftSec, .rightSec{
            //     float: left;
            // }

            // .leftSec{
            //     width:100%;
            //     max-width: 746px;
            // }

            // .rightSec{
                
               
            // }
        }

        .contContainer{

            padding: 105px 0;
            p{
                font-size: 1.9rem;
                line-height: 40px;
                font-family: $MontserratLight;
                text-align: center;
            }
            
        }
    }

    .ourTeam{
        padding:145px 0 50px 0;
        h2{
            font-size: 3.8rem;
            font-family: $MontserratLight;
        }

        .introCopy{
            font-size: 1.9rem;
            font-family: $MontserratLight;
            padding-top: 15px;
        }

        ul{
            display: flex;
            flex-wrap: wrap;
            margin-top: 72px;

            li{
                background-color: $greyBg;
                width: 30%;
                // max-width: 378px;
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                margin: 0 35px 35px 0;
                position: relative;

                &:before{
                    content: "";
                    border-top: 2px solid $grey4;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 0%;
                    @include transition(all 0.4s ease-in);

                }

                &:after{
                    content: "";
                    border-left: 2px solid $grey4;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: 0%;
                     @include transition(all 0.4s ease-in);

                }

                span.line{

                    &:before{
                        content: "";
                        border-right: 2px solid $grey4;
                        position: absolute;
                        right: 0;
                        top: 0;
                        height: 0%;
                        @include transition(all 0.4s ease-in);

                    }
    
                    &:after{
                        content: "";
                        border-bottom: 2px solid $grey4;
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        width: 0%;
                        @include transition(all 0.4s ease-in);

                    }
                }

                &:hover{
                    &:before{
                        width: 100%;
                    }
                    &:after{
                        height: 100%;
                    }

                    span.line{
                        &:before{
                            height: 100%;
                        }
                        &:after{
                            width: 100%;
                        }
                    }
                }

                .title{
                    padding-top: 77px;
                    font-size: 1.4rem;
                    width: 100%;
                }

                .name{
                    width: 100%;
                    font-size: 2.2rem;
                    font-family: $MontserratLight;
                    padding: 13px 0 10px 0;
                }
                img{
                    max-width: 276px;
                    width: 100%;
                    margin-top: 24px;
                }
                .linkedin{
                    img{
                        max-width: 30px;
                        margin-top: 0;
                    }
                }
            }
        }
    }

    .team{
        position: relative;
        margin-bottom: 30px;
        &:before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            background: $greyBg;
            height: 70%;
            width: 100%;
        }

        .teamImg{
            margin-top: 10%;
        }
    }
}
// Aboutus - END
