@media screen and (max-width:1440px) and (max-height: 768px){
    .container{
        max-width: 1000px;
    }
    header{
        padding: 20px 0;
        .container{
            .leftSec{
                a{
                    position: relative;
                    top: 10px;
                    @include transition(all 0.5s ease-in);
                }
                img{ 
                    max-width: 160px;
                    @include transition(all 0.5s ease-in);

                }
                span{
                    font-size: 1.6rem;
                    @include transition(all 0.5s ease-in);

                }
            }
            .rightSec{
                .callUs{
                    // font-size: 1.3rem;

                    a{
                        font-size: 2.6rem;
                    }
                }
                .link{
                    font-size: 1.4rem;
                }
            }
        }

        &.active{
            .container{
                .leftSec{
                    a{
                        position: relative;
                        top: 0
                    }
                    img{
                        max-width: 130px;
                    }
                    span{
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
    .bannerWrapper{
        h1{
            font-size: 4.6rem;
            line-height: 6rem;

            span{
                font-size: 2.2rem;
            }
        }
        .hireNow{
            font-size: 2.8rem;
            width: 270px;
            padding: 20px 27px;

            &:before{
                width:40px;
                height:40px; 
            }
        }
    }

    .ourServices{
        h2{
            font-size: 3.8rem;
        }
        .introCopy{
            font-size: 2.2rem;
            padding: 28px 0 0 0;
        }
        .serviceWrapper{
            margin-top: 60px;

            .serviceCard{
                width: 354px;
                height: 378px;

                h3{
                    font-size: 1.8rem;
                }
            }
            .iceManufacturing{
                .icon{
                    img{
                        width: 37px;
                    }
                }
            }
            .dieselDelivery{
                .icon{
                    img{
                        width: 36px;
                    }
                }
            }
            .pumpLocation{
                .icon{
                    img{
                        width: 45px;
                    }
                }
            }
        }
    }
    .hireNowWrapper{
        h2{
            font-size: 4.2rem;
        }
        .container{
            padding-top: 20vh;
        }

        .resultListWrapper{
            ul{
                justify-content: space-around;
                li{
                    width: 50%;
                    
                    .leftSec{
                        max-width: 280px;
                    }
                    .rightSec{
                        padding: 0 15px 0;
                        .details{
                            font-size:1.2rem;
                            line-height: 18px;
                            min-height: 95px;
                            padding: 5px 0;
                        }
                        .viewDetails{
                            padding: 10px 19px;
                        }
                    }
                }
            }
        }
    }
    .hireProcessWrapper{
        padding-top: 20vh;

        h2{
            font-size: 3.8rem;
        }
        .introCopy{
            font-size: 2rem;
        }

        .stepsWrapper{
            margin-top: 3vh;

            .steps
            {
                &.selectLocation, &.contactUs{
                    img{
                        width: 70px;
                    }
                }
                &.choosevehicle{
                    img{
                        width: 140px;
                    }
                }
                span{
                    padding-top: 20px;
                    font-size: 1.6rem;
                }
                p{
                    font-size: 1.6rem;
                }
                
            } 
        }
    }
    footer{
        margin-top: 5vh;

        .topSec{
            padding: 25px 0;

            .leftSec span, .leftSec a
            {
                font-size: 2.8rem;
            }
        }
        .bottomSec{
            padding: 25px 0;
        }
        
    }

    .lightbox{
        max-width: 95%;

        &.locationPopup{
            height: 90vh;
            max-width: 1000px;
            .leftSec{
                width: 30%;
                h2{
                    padding: 20px 17px;
                    font-size: 1.6rem;
                }
                ul{
                    height: 90%;
                    li{
                        padding: 10px 12px;

                        .title{
                            font-size: 1.5rem;
                        }

                        .address{
                            font-size: 1.2rem;
                        }
                    }
                }
            }
            .rightSec{
                width: 70%;
                .locationDetails{
                    padding: 20px;
                    .title{
                        font-size: 2.2rem;
                    }
                    .address{
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }

    .aboutUs{
        .aboutUsBannerWrapper{
            .banner{
                padding: 60px 75px;
            }
            .contContainer{
                padding: 80px 0;

                p{
                    line-height: 30px;
                }
            }
        }
        .ourTeam{
            padding: 100px 0 50px 0;

            ul{
                li{
                    margin: 0 32px 35px 0;
                    .title{
                        padding-top:40px;
                    }
                    img{
                        max-width: 225px;
                    }
                }
            }
        }
    }

    .productDetail{
        max-width: 800px;

        .descriptionWrapper{
            .leftSec{
                h2{
                    font-size: 1.8rem;
                }
                .ratesWrapper{
                    .rates{
                        h3{
                            font-size: 1.4rem;
                        }
                    }
                }
            }
            .rightSec{
                h3{
                    padding: 15px 0;
                }
                p{
                    font-size: 1.5rem;

                    a{
                        font-size: 1.4rem;
                    }
                }
                p.address{
                    font-size: 1.4rem;
                }
                a{
                    font-size: 1.4rem;
                }
            }
        }
    }
}


@media screen and (max-width:1200px){
 .container{
     max-width: 95%;
     padding: 0 10px;
 }
 .ourServices{
    .serviceWrapper{
        .serviceCard{
            width: 30%;
            background-size: 100%;
        }
    }     
 }
}

@media screen and (max-width:1024px) {
    header{
        .container{
            .leftSec{
                img{
                    max-width: 120px;
                }
                span{
                    font-size: 1.2rem;
                }     
            }
        }        
    }
    .bannerWrapper{
        padding:20vh 0 23vh 0;
    }
    .ourServices{
        
        .serviceWrapper{
            .serviceCard{
                h3{
                    font-size: 1.6rem;
                }
            }
        }
    }
    .ourLocations{
        padding: 10vh 0;

        &:before{
            height: 50%;

        }
    }
    .ourLocations{
        .googleMapWrapper{
            height: auto;
        }
    }
    .hireProcessWrapper{
        padding-top: 5vh;
        
    }
    .hireNowWrapper{
        
        .resultListWrapper{
            ul{
                li{
                    .rightSec{
                        width:100%;
                    }
                }
            }
            .resultContainer{
                flex-direction: column;
            }
        }
    }
    
    footer{
        margin-top: 5vh;
    }

    .lightbox{
        height: auto;
    }

    .hireNowWrapper{
        padding: 50px 0;

        .resultListWrapper{
            ul{
                &:before{
                    display: none;
                }

                li{
                    padding: 30px 0;
                    .rightSec{
                        padding: 0 20px 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1023px){

    .bannerWrapper{       

        h1{
            font-size: 4.8rem;
        }
    }

    .bannerWrapper{
        .hireNow, .locations{
            width: 300px;
            font-size: 2.8rem;
        }
    }

    .ourServices{
        background-size: cover;
        .serviceWrapper{
            flex-direction: column;
            align-items: center;
            margin-top: 75px;

            .serviceCard{
                width:95%;
                max-width: 378px;
                margin-bottom: 30px;
                background-size: 100% 100%;
                padding-bottom: 50px;
            }
        }
    }

    .ourLocations{
        padding: 10vh 0;
    }

    .hireNowWrapper{
        .container{
            padding-top: 0px;
        }
        .resultListWrapper{
            ul{
                li{
                    width: 100%;
                }
            }
        }
    }
    
    // Aboutus - START
    .aboutUs{
        .aboutUsBannerWrapper{
            padding: 20vh 0 0 0;

            .background{
                height: 45vh;
            }

            .contContainer{
                padding: 75px 0;
            }

            .banner{
                flex-direction: column;

                padding: 70px 50px;

                .rightSec{
                    padding: 10% 5%;
                }
            }
        }

        .ourTeam{
            padding: 85px 0;

            ul{
                li{
                    width: 100%;
                    margin-right: 0;
                }
            }
        }
    }
    // Aboutus - END
    .lightbox{
        top: auto;
        width: 90%;
    @include transform-translate(-50% ,0%);
        &.locationPopup{
            
            flex-direction: column;
            height: auto;
    
            .leftSec{
                width: 100%;

                .selectLocationDrp{
                    font-size: 2rem;
                    width: 100%;
                    padding: 20px;
                    color: $white;
                    position: relative;
                    background-color: $skyBlue;
                    display: block;

                    &:before{
                        content:''; 
                        height:10px; 
                        width:10px; 
                        display:block; 
                        border:3px solid $white; 
                        border-right-width:0; 
                        border-top-width:0; 
                        transform:rotate(-45deg) translateY(-50%);
                        -webkit-transform:rotate(-45deg) translateY(-50%);
                        -moz-transform:rotate(-45deg) translateY(-50%);
                        -o-transform:rotate(-45deg) translateY(-50%);
                        -ms-transform:rotate(-45deg) translateY(-50%); 
                        position:absolute; 
                        top:50%; 
                        right:25px;
                    }
                }
    
                ul{
                    position: absolute;
                    height: 300px;
                    overflow: auto;
                    z-index: 1;
                    width: 100%;
                    display: block;

                    li{
                        padding: 15px 22px;
                        transition: none;
                        -webkit-transition: none;
                        .address, a{
                            display: none;
                        }
                    }
                }
            }

            .rightSec{
                width: 100%;

                .direction{
                    display: block;
                    position: absolute;
                    bottom: 25px;
                    right: 10px;
                    color: $white;
                    background-color: $skyBlue;
                    padding: 10px;
                    // @include border-radius(4px)
                }

                .locationDetails{
                    left: 0;
                    padding-left: 26px;
                    bottom: 20px;

                    .title{
                        font-size: 2.5rem;
                    }
                    .address{
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:767px){
    header{
        .container{
            .leftSec{
                img{
                    max-width: 90px;
                }
                span{
                    font-size: 1rem;
                }
            }
            .rightSec{
                .callUs{
                    border-radius: 0px;
                    padding: 0px;
                    width: auto;
                    height: auto; 
                    background: none;
            
                    span{
                        display:none;
                    }
                    a{
                        float: left;
                        text-indent: -9999px;
                        padding: 0;
                        background: url("../images/call-icon.png") 0 0 no-repeat;
                        width: 30px;
                        height: 30px; 
                    }
                }

                .link{
                    padding: 0 10px;
                }
            }
        }
    }


    .bannerWrapper {
        h1{
            line-height: 5.5rem;
        }
        .hireNow,.locations{
            width: 45%;
            font-size: 2.2rem;

            span{
                font-size: 1.4rem;
            }
        }
    }

    .ourServices{
        .background{
            background-size: cover;
        }
        .serviceWrapper{
            .serviceCard{
                height: auto;
            }
        }
    }

    .ourLocations{
        padding: 10vh 0;

        &:before{
            height: 20vh;

        }
    }

    .history{
        h2{
            font-size: 3.2rem;
        }
    }

    footer{
        .topSec{
            flex-direction: column;
            .rightSec{
                padding-top: 40px;

                .socialWrapper, p{
                    float: left;
                    text-align: left;
                }
            }
        }

        .bottomSec{
            flex-direction: column;

            .copyright{
                padding-top: 40px;
            }
        }
    }

    // About us - START
    .aboutUs{
        .aboutUsBannerWrapper{
            padding: 35vh 0 0 0;
            h1{
                font-size:3.6rem;
            }
            .background{
                height: 90vh;
            }
            .banner{
                margin-top: 32px;
                .rightSec{
                    h2{
                        font-size: 3.2rem;
                        padding-bottom: 10px;
                    }
                }
            }

            .contContainer{
                p{
                    font-size: 1.6rem;
                    line-height: 33px;
                }
            }
        }

        .ourTeam{
            padding: 40px 0;

            ul{
                margin-top: 32px;
            }
            h2{
                font-size: 3.2rem;
            }
            
        }
    }
    // About us - END


        &.productDetail{
            height: auto;
            margin: 130px auto 50px auto;
            .descriptionWrapper{
                padding: 30px 25px;
            }
        }


    .hireNowWrapper{
        .topSec {
            .btnWrapper{
                a{
                    padding: 15px 26px;
                    font-size: 2rem;
                }
            }
        }
    }
}

@media screen and (max-width:640px){
    .bannerWrapper{
        padding: 150px 0;
        h1{
            font-size: 3.5rem;
            line-height: 45px;

            span{
                font-size: 2rem;
            }
        }
    }

    .ourServices, .ourLocations,.hireProcessWrapper, .hireNowWrapper {
        h2{
            font-size: 3rem;
        }
        .introCopy{
            font-size: 2rem;
        }
    }
    .ourLocations{
        &:before{
            height: 50%;
        }
        
    }
    .hireNowWrapper{
        .resultListWrapper{
            ul{
                li{
                    .rightSec{
                        padding: 0 15px
                    }
                }
            }
        }
        .bottomSec{
            padding: 28px 0;
            .btnWrapper{
                display: flex;
            }
        }
    }
    .hireProcessWrapper{
        .stepsWrapper{
            .steps{
                
                    width: 30%;
                

                span{
                    font-size: 1.5rem;
                }
                p{
                    font-size: 1.4rem;
                }
                &.selectLocation, &.contactUs
                {
                    img{
                        width: 30%;
                    }
                }
                &.choosevehicle{
                    img{
                        width: 60%;
                    }
                }
                
                .arrow{
                    right: -25%;
                }
            }
        }
    }
    .aboutUs{
        .aboutUsBannerWrapper{
            .contContainer{
                padding: 75px 0 30px;
            }
        }
    }
    footer{
        height: auto;
        .topSec{
            .leftSec{
                span, a{
                    font-size:2.6rem;
                }
            }
        }
        .bottomSec{
            .leftSec{
                display: block;

                .footerLink{
                    margin: 20px 0 0 0;
                }
            }
        }
        
    }
    .history{
        padding: 0;
        
    }
    .lightbox{
        
        &.iceManufacturingLightbox ,&.dieselDeliveryLightbox{
            .lightboxCont{
                padding: 50px 10px;
            }
        }
    }

    .productDetail{
        .topSec{
            padding: 20px 130px 20px 30px;
        }
        .carouselWrapper{
            .owl-nav{
                .owl-prev{
                    margin-left: 10px;
                }
                .owl-next{
                    margin-right: 10px;
                }
            }
        }
    }
    
}

@media screen and (max-width:639px){
    .bannerWrapper
    {
        padding: 100px 0 70px 0;
        h1{
            font-size: 3rem;
        }
        .hireNow{
            width: 100%;
            &:nth-child(3){
                margin: 20px 0 0 0;
            }
        }
        .locations{
            margin: 30px 0 0 0;
        }
    }

    .ourLocations{
        .container{
            padding: 0;
        }

        .googleMapWrapper{
            margin-top: 35px;
        }
    }



    .hireProcessWrapper{
        .stepsWrapper{
            .steps{
                .arrow{
                    @include transform-scale(0.7);
                    top: 0;
                    right: -40%;
                }
            }
        }
    }

    .history{
        
        h2{
            font-size: 3rem;
        }
    }
    // About Us - START
    
    .aboutUs{
        .aboutUsBannerWrapper{
            padding: 30vh 0 0 0;

            .background{
                height: 85vh;
            }
            .banner{
                margin-top: 20px;
                padding: 30px;

                h2{
                    font-size: 3rem;
                }

                P{
                    font-size: 1.6rem;
                }
            }

            
        }
        .ourTeam{
            padding: 40px 0;
            h2{
                font-size: 3rem;
            }
            ul{
                li{
                    width: 100%;
                }
            }
        }
    }
    // About Us - END
    .hireNowWrapper{
        padding: 30px 0;
    }


        &.productDetail{
            max-height: initial;
            .descriptionWrapper{
                flex-direction: column;

                .leftSec{
                    width: 100%;

                    &:before{
                        display: none;
                    }
                }
                .rightSec{
                    width: 100%;
                }
            }
        }


}

@media screen and (max-width:375px){
    .hireNowWrapper{
        .topSec{
            flex-direction: column;
            .btnWrapper{
                float: left;
                display: flex;
                a{
                    margin: 0 3px 0 3px;
                }
            }
        }

        .bottomSec{
            flex-direction: column;

            .btnWrapper{
                margin: 22px 0 0 0;
            }
        }
        
        .resultListWrapper{
            ul{
                li{
                    flex-direction: column;
                    .leftSec{
                        width: 100%;
                        max-width: 100%;
                    }
                    .rightSec{
                        margin: 15px 0 0 0;
                    }
                }
            }
        }

        .container{
            > div{
                display: flex;
                flex-direction: column;
            }
        }
    }

    .aboutUs{
        .aboutUsBannerWrapper{
            padding: 100px 0 0 0;
            .background{
                height: 45%;
            }
            .contContainer
            {
                p{
                    line-height: 25px;
                }
            }
        }
    }

    .lightbox{
        &.locationPopup{
            .rightSec{
                .locationDetails{
                    padding-left: 15px;
                    bottom: 60px;
                    .title{
                        font-size: 1.6rem;
                    }
                    .address{
                        font-size: 1.4rem;
                    }
                }
                .direction{
                    left: 15px;
                    right: auto;
                    font-size: 1.4rem;
                    bottom: 15px;
                }
            }
        }
    }

    .productDetail{
        .descriptionWrapper{
            padding: 30px 15px;
        }
        .carouselWrapper{
            p{
                font-size: 1.2rem;
            }
        }
    }
}

@media screen and (max-width:320px){
    .aboutUs{
        .aboutUsBannerWrapper{
            .banner{
                padding: 20px;
            }
            .background{
                height: 60%;
            }
        }
    }
}