$sprite: url(../images/sprite.png) no-repeat;

$MontserratBold: "Montserrat-Bold", Helvetica, sans-serif;
$Montserrat: "Montserrat-Regular", Helvetica, sans-serif;
$MontserratExtBold: "MontserratExtraBold", Helvetica, sans-serif;
$MontserratLight: "MontserratLight", Helvetica, sans-serif;

/* Bacground Color - START*/
$redBg:red;
$skyBlue:#2d79ff;
$navyBlue:#041026;
$lighnavyBlue:#1c273a;
$darknavyBlue:#171f30;
$greyBg:#eff0f5;
$btnBg:#e0e6ef;
$viewdetailBg:#eaf0fc;
/* Bacground Color - END*/

$border:#f5e3e3;
$border2:#eaeaea;

$lightBlueText:#5d83ff;
$lightGreyText:#9babb4;
$darkText:#141a26;
$blueText:#4775bc;


/* BLUE SHADES */

$cobaltBlue:#005596;
$ChristiBlue:#0072bc;
$sapphireBlue:#0b2150;

/* GRAY SHADES */
$gray:#364349;
$lightGrey:#606f7b;
$grey2:#606f7b;
$grey3:#8795a1;
$grey4:#adb7bf;
$darkGrey:#333232;
$GainsboroGray:#0072bc;
$whiteSmoke:#f2f2f2;

/* BLACK/WHITE SHADES */

$white:#fff;
$black:#000000;

/* Other Colors */

$sunshade:#ff9b41;
$orange:#fe9542;

/* MOUSE Varibles */

$colorBg:#b1b1b1;
$colorOutline:$whiteSmoke;
$colorOutlineFade:#b1b1b1;
$widthMouse: 19px;
$heightMouse:35px;
$borderMouse:2px;
$posMouse: 8px;
$posText:2px;
$sizeTrackball:5px;
$posTrackball:10px;
$shrinkTrackball: 0.4;
$animDuration: 5s;
