section.sec-resources-bn {
  background: url("../../images/inner-banner/impact-bn.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  section.sec-resources-bn.banner-circle .circle-container {
    bottom: 50%;
    -webkit-transform: translate(0px, 50%);
    -ms-transform: translate(0px, 50%);
    transform: translate(0px, 50%); }
    section.sec-resources-bn.banner-circle .circle-container .circle-line-wrap {
      right: -26px;
      bottom: -26px;
      z-index: 45;
      height: 508px;
      width: 508px; }
  section.sec-resources-bn.banner-circle .inner-wrap .circle-img {
    background: url(../../images/inner-banner/impact-small.png);
    background-size: cover;
    background-position: center center;
    width: 448px;
    height: 448px; }

section.sec-resources-filter {
  padding: 0;
  z-index: 55; }
  section.sec-resources-filter .container .wrapper {
    padding: 0;
    position: relative; }
    section.sec-resources-filter .container .wrapper .filter-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      section.sec-resources-filter .container .wrapper .filter-wrapper .filter-wrapper-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%; }
        section.sec-resources-filter .container .wrapper .filter-wrapper .filter-wrapper-container .filter-col-1 {
          width: 18%; }
        section.sec-resources-filter .container .wrapper .filter-wrapper .filter-wrapper-container .filter-col-2 {
          width: 80%;
          overflow: hidden; }
          section.sec-resources-filter .container .wrapper .filter-wrapper .filter-wrapper-container .filter-col-2 .display-grid {
            display: -ms-grid;
            display: grid;
            -ms-grid-columns: auto auto auto;
            grid-template-columns: auto auto auto; }
            section.sec-resources-filter .container .wrapper .filter-wrapper .filter-wrapper-container .filter-col-2 .display-grid .box {
              width: 265px;
              padding-right: 25px; }
