@media screen and (max-width: 1200px) {
  header .menu nav ul {
    background-color: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    right: 0;
    position: absolute;
    z-index: 999;
    top: 59px;
    right: 0;
    width: 300px;
    height: calc(100vh - 125px);
    -webkit-transform: translate(100%);
    -ms-transform: translate(100%);
    transform: translate(100%);
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    font-size: 14px;
    padding: 0 15px;
    overflow-y: auto;
    padding: 40px 0 15px; }
    header .menu nav ul.active {
      -webkit-transform: translate(0%);
      -ms-transform: translate(0%);
      transform: translate(0%); }
    header .menu nav ul li {
      padding: 20px 0;
      display: block;
      width: 100%;
      text-align: center;
      border-bottom: 1px solid #e4e4e4; }
      header .menu nav ul li a {
        color: #000; }
  header .menu nav .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; } }
