
.bg-white {
    background-color: #fff!important;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
}
.nav-item a {
    color: #676767 !important;
    font-weight: 500px !important;
}
.pl-4, .px-4 {
    padding-left: 1.5rem!important;
}

.pr-4, .px-4 {
    padding-right: 1.5rem!important;
}
body {
    font-family: "Montserrat";
}
.banner {
    /* background-image: url(./images/banner.png);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #767779;
    height: auto;
    display: block;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.cursorchange {
    cursor: pointer;
}

@media (min-width: 1200px)
{
    .container {
        max-width: 1140px;
    }

    

}


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.heading {
    font-weight: 900;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 84px;
    margin-bottom: 0;
    font-size: 41.8px;
    font-family: 'Lato';
    color: #000000;
    opacity: 1;
}
.subtitle {
    text-align: center;
    font-size: 21.63px;
    font-family: 'Lato';
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    padding-top: 0px;
    color: #000000;
}
.subtitle1 {
    /* padding-top: 15px; */
    width: 520px;
    /* height: 24px; */
    padding-left: 10px;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 19px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    letter-spacing: 0px;
    color: #1D1D1B;
    opacity: 1;
    margin-bottom: 10px;
}
.border-white {
    border-color: #fff!important;
}
.border {
    border: 1px solid #dee2e6!important;
}
.image {
    align-content: center;
    padding-left: 0;
    padding-right: 0px;
    margin-top: 30%;
    margin-left: 0;
}

.banner-text .pink-text {
    color: #9b1447;
    font-size: 15px;
    font-weight:800;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 0;
    font-family: 'Lato';
    /* line-height: 16px; */
    padding-left: 10px;
}
.pink-text1 {
    color: #ed1965;
    font-size: 20px;
    font-weight: 700;
    padding: 12px 0;
    font-family: 'Montserrat';
    line-height: 16px;
    text-align: left;
}
.banner-text .launch {
    /* display: block; */
    color: #9b1447;
}
b, strong {
    font-weight: bolder;
}
.banner-text .SchemeName {
    /* padding-left: 10px; */
    width: 451px;
    /* height: 92px; */
    text-align: left;
    letter-spacing: 0px;
    font-size: 37px;
    font-weight: 800;
    line-height: initial;
    margin-left: 10px;
    margin-right: auto;
    font-family: 'Lato';
    opacity: 1;
    display: block;
    /* text-decoration: underline #9b1447; */
}
.underline {
    /* text-decoration: underline #9b1447; */
    padding-left: 10px;
    padding-bottom: 30px;
     width: 411px;
    /* height: 92px;  */
    font-weight: 800;
    text-align: left;
    font-size: 37px;
    font-family: 'Lato';
    letter-spacing: 0px;
    opacity: 1;
    margin-top: 0;
    /* display: block; */
}
.linebreak {
    width: 400px;
    height: 3px;
    margin-left: 10px;
    background: #97144D 0% 0% no-repeat padding-box;
    opacity: 1;
    /* margin-left: auto; */
    margin-right: auto;
}
.banner-text .note {
    padding-left: 10px;
    display: block;
    font-family: 'Lato';
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
}
.text {
    color: #9b1447;
    font-size: 20px;
    font-weight: bold;

}
.bold {
    font-weight: bold;
    font-size: 20px;
}
.more {
    width: 300px;
    height: 50px;
    background-color: #9b1447;
    color: white;
    border: none;
}

.learnBtn {
    justify-content: center;
    text-align: center;
    padding-bottom: 3rem;
}
.text-grey {
    color: #555555;
    font-family: 'Montserrat';
    line-height: initial;
}
.text-center {
    text-align: center!important;
    align-items: center!important;
    justify-content: center !important;
}
h1 {
    font-size: 34px;
}
.border-bottom-pink {
    border-bottom: 2px solid #ED1965;
}

.text-pink {
    color: #ed1965;
    font-weight: 900;
    font-family: 'Montserrat';
    /* margin-top: 2%; */
}
.adtText {
    margin-bottom: 3%;
    margin-top:2%;
    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: 200;
}
.font-weight-700 {
    font-weight: 700;
}
.pb-2, .py-2 {
    padding-bottom: .5rem!important;
}
.pt-2, .py-2 {
    padding-top: .5rem!important;
}
h3 {
    font-size: 24px;
}

.color-grey {
    background-color: #e5e5e5;
}
#invest {
    color: white
}
footer {
    display: block;
    clear: both;
    overflow: hidden;
    width: 100%;
    background-color: #4c5b69;
    font-size: 15px;
    color: #FFF;
    font-family: 'Lato';
    padding: 15px 30px 50px 30px;
}
p {
    margin: 0px;
}
.termsCn, .termsCn:hover {
    color: #fff;
}
.footer-content {
    font-size: 16px;
    background-color: #D1D3D4;
    padding: 15px 30px;
    color: #1E1E1C;
    text-align: center;
    font-family: 'Arial';
}

.pb-5, .py-5 {
    padding-bottom: 3rem!important;
}
.pt-3, .py-3 {
    padding-top: 1rem!important;
}

#form {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
}

.pink-button {
    background-color: #ed1965;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 57px;
    border: 1px solid transparent;
    color: #ffffff;
}
.text-decoration-none {
    text-decoration: none!important;
}
.form-content {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    background: #fff;
}
.d-block {
    display: block!important;
}

.form-input {
    background-color: #f2f2f2;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 10px 20px;
    border: 1px solid transparent;
    color: #000000;
    margin: 2px;
}
.text-left {
    text-align: left!important;
}

button, input {
    overflow: visible;
}
.form-button {
    background-color: #ed1965;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 10px 50px;
    border: 1px solid transparent;
    color: #ffffff;
    margin: 3px;
}

/* New Header */
.headerNew.ipl {
    border-top: 30px solid #97144d;
    position: relative;
}


.ipl .LogoPart {
    position: relative;
    top: -10px;
    background: #97144d;
    padding: 0px 0 0 80px;
    font-family: Arial;
    font-size: 36px;
    display: inline-block;
    height: 70px;
    vertical-align: middle;
}

.ipl .LogoPart a {
    color: #fff;
    text-decoration: none;
}
.ipl .LogoPart img{
    width: 86%;
    float: right;
    position: relative;
    z-index: 2;
    right: 10px;
}
.ipl .LogoPart::after {
    content: '';
    background: #97144d;
    position: absolute;
    height: 120%;
    width: 50px;
    border-radius: 0 0 20px 0;
    right: 0;
    top: -13px;
    margin-right: -37px;
    transform: rotate(35deg);
}

.ipl .LogoPart span {
    position: absolute;
    top: 7px;
    left: 100%;
    width: 15px;
    height: 15px;
    margin-left: 50px;
    transform: rotate(17deg);
}

.ipl .LogoPart span::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    background: #97144d;
    width: 100%;
    height: 100%;
}

.ipl .LogoPart span::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #f1f4f5;
    top: 0;
    left: 0;
    border-top-left-radius: 30px;
}

/* Edited by PD on 30-nov-2020 starts */
#features .row .logo,
#advantages .row .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#features .row .logo {
    height: 97px;
    margin-bottom: 19px;
}

#advantages .row .logo {
    height: 133px;
    margin-bottom: 20px;
}

#features .row .logo img,
#advantages .row .logo img {
    width: fit-content;
    padding-bottom: 0 !important;
}

.banner .container {
    max-width: 90%;
    padding-left: 0;
    padding-right: 0;
}

.banner .container .image {
    margin-top: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.banner .container .image img {
    height: fit-content;
}

.banner .section3 {
    padding-left: 15px;
}

.banner .pink-box {
    background-color: #97144d;
    padding: 15px 28px;
    border-radius: 12px;
    margin-top: 55px;
}

.banner .pink-box p {
    text-align: center;
    font-size: 18.99px;
    color: #ffffff;
    line-height: initial;
}

.banner .pink-box p span {
    font-size: 26.59px;
    font-weight: 800;
    display: block;
    text-transform: uppercase;
}

.banner .disclaimer {
    font-size: 12.37px;
    text-align: center;
    margin-top: 5px;
    color: #000;
}

.banner .nfo-details p {
    font-size: 23.02px;
    font-weight: 900;
    color: #000;
    text-align: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 13px 0;
    width: 90%;
    margin: 24px auto 0 auto;
}
/* Edited by PD on 30-nov-2020 ends */


@media screen and (max-width:668px) {
    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:focus { width:120px; font-size:11px; word-wrap:break-word; margin:0px 5px 0px 5px !important; white-space:unset;padding-left: 5px !important;

padding-right: 5px !important;  }
.banner-holder .instant { width:60px;  }
.banner-section { position:absolute; bottom:10%; left:5%; width:90% }
.ipl .LogoPart {
padding: 0px;
}
}

@media (max-width:991px){
    .ipl .LogoPart {
        height:50px;
        padding:5px 10px;
        max-width:152px;
    }
    .ipl .LogoPart img{
        width:95%;
        right:0;
    }
    .ipl .LogoPart span{
        transform:rotate(18deg);
        margin-left:30px;
    }
    .ipl .LogoPart:after{
        top:-11px;
        margin-right:-24px;
        transform:rotate(32deg);
    }
    .headerNew.ipl{
        border-top:15px solid #97144d;
    }
    }
    @media (min-width:992px) and (max-width:1199px){
    .ipl .LogoPart {
        padding:0;
    }
    }

.image1 {
    padding-top: 4%;
    padding-left: 0;
    margin-left: 0;
}

.section3 {
    padding-left: 60px;
}

@media screen and (min-width: 600px) {
    /* .dg-watch-mobile {
        display: none
    } */
}

@media only screen and (min-width: 768px) {
    .dg-watch-mobile {
        display: none
    }
}


/* If the screen size is 600px wide or less, hide the element */
@media screen and (max-width: 600px) {

    /* .dg-watch-mobile {
        display: block
    } */

    /* .dg-watch-desktop {
        display: none
    } */


    .banner .container .image img {
        width: fit-content;
        height: auto;
    }
                
    .heading {
        font-weight: 800;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        font-size: 30px;
        font-family: 'Lato';
        margin-top: 30px;
        opacity: 1;
    }

    .subtitle {
        font-weight: 900;
        text-align: left;
        font-size: 20px;
        font-family: 'Lato';
        width: 300px;
        margin-left: 0;
        margin-right: auto;
        padding-top: 0px;
        padding-left: 0;
    }

    .banner .pink-box {
        margin-top: 30px;
        padding: 10px 15px;
    }

    .banner .pink-box p {
        font-size: 15px;
    }

    .banner .pink-box p span {
        font-size: 18px;
    }
        
    .pink-text1 {
        color: #ed1965;
        font-size: 16px;
        font-weight: 600;
        padding: 12px;
        font-family: 'Montserrat';
        line-height: 16px;
        text-align: left;
    }
    .subtitle1 {
        width: 300px;
        font-weight: 700;
        font-family: 'Lato';
        font-size: 11px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        letter-spacing: 0px;
        color: #1D1D1B;
        opacity: 1;
    }
    .linebreak {
        width: 295px;
        height: 3px;
        margin-left: auto;
        background: #97144D 0% 0% no-repeat padding-box;
        opacity: 1;
        margin-right: auto;
    }
    .border-white {
        border-color: #fff!important;
    }
    .border {
        border: 1px solid #dee2e6!important;
    }
    .image {
        align-content: center;
        padding-left: 30px;
        padding-right: 0px;
        size: 50%;
        /* margin-top: 40%; */
        margin-left: 0;
    }
    .img-fluid {
        width: 250px;
    }

    .small-note {
        margin-left: auto;
        margin-right: auto;
        
    }
    .banner-text .pink-text {
        padding-left: 0rem !important;
        color: #9b1447;
        font-size: 11px;
        font-weight: 900;
        font-family: 'Lato';
        width: 300px;
        opacity: 1;
        /* letter-spacing: 0rem !important; */
        margin-right: auto;
        margin-left: auto;
        text-align: left;
    }
    .banner-text .launch {
        /* display: block; */
        color: #9b1447;
    }
    /* b, strong {
        font-weight: bolder;
    } */
    .banner-text .SchemeName {
        /* padding-left: 10px; */
        width: 300px;
        /* height: 92px; */
        text-align: left;
        letter-spacing: 0px;
        font-size: 27px;
        font-weight: 700;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Lato';
        opacity: 1;
        /* display: block; */
        /* text-decoration: underline #9b1447; */
    }
    .banner-text .note {
        padding-left: 0rem !important;
        /* display: block; */
        width: 300px;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
        font-size: 12px;
        font-family: 'Lato';
        text-align: left;
        /* padding-left: 30px; */
    }
    .text {
        color: #9b1447;
        font-size: 20px;
        font-weight: bold;

    }
    .bold {
        font-weight: bold;
        font-size: 20px;
    }
        
    .learnBtn {
        padding-left: 20px;
        justify-content: center;
        text-align: center;
        padding-bottom: 3rem;
    }
    .more {
        width: 280px;
        height: 50px;
        justify-content: center;
        background-color: #9b1447;
        color: white;
        border: none;
    }
    .section3 {
        justify-content: center;
        align-content: center;
        text-align: center;
        padding-left: 40px;
        margin-top: 0;
        padding-top: 0rem !important;
    }
    
    .image1 {
        padding-top: 4%;
        padding-left: 0;
        margin-left: 0;
        padding-bottom: 0rem !important;
    }
    .nfo {
        width: 100px;
    }

    .adtText {
        margin-bottom: 10%;
        margin-top:10%;
        font-size: 12px;
        font-family: 'Montserrat';
        font-weight: 200;
    }
    .line-pink {
        margin-left: auto;
        margin-right: auto;
    }

}