footer {
    background-color: #004950;
    padding: 44px 55px;
    height: 160px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: -1;
    .container {
        .inner-wrap {
            .col {
                &.logo-wrap {
                    a {
                        display: block;
                        line-height: 0;
                        img {
                            width: 170px;
                        }
                    }
                }
                &.link-wrap {
                    max-width: 486px;
                    width: 100%;
                    .row {
                        &:first-child {
                            margin-bottom: 16px;
                        }
                        &:last-child {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }
                        >ul {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            li {
                                // width: 148px;
                                padding-bottom: 10px;
                                position: relative;
                                &:before {
                                    content: '';
                                    box-sizing: border-box;
                                    height: 20px;
                                    width: 1px;
                                    border: 1px solid rgba(255, 255, 255, .5);
                                    -webkit-background-clip: padding-box;
                                    /* for Safari */
                                    background-clip: padding-box;
                                    /* for IE9+, Firefox 4+, Opera, Chrome */
                                    // opacity: 0.8;
                                    position: absolute;
                                    right: -50%;
                                    top: 50%;
                                    margin-top: -15px;
                                }
                                &:last-child {
                                    &::before {
                                        display: none;
                                    }
                                }
                                a {
                                    color: #FFFFFF;
                                    font-size: 16px;
                                    line-height: 19px;
                                    position: relative;
                                    display: block;
                                    @include transition(.3s ease-in-out);
                                    div {
                                        position: absolute;
                                        right: -16px;
                                        top: 50%;
                                        margin-top: -2px;
                                        span {
                                            display: none;
                                            position: relative;
                                            height: 4px;
                                            width: 4px;
                                            background-color: #fff;
                                            border-radius: 50%;
                                            &:before {
                                                position: absolute;
                                                content: '';
                                                height: calc(100% + 6px);
                                                width: calc(100% + 6px);
                                                border: 1px solid#fff;
                                                top: -3px;
                                                left: -3px;
                                                border-radius: inherit;
                                            }
                                        }
                                    }
                                    &:hover {
                                        div {
                                            span {
                                                display: block;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .follow-wrap {
                            display: flex;
                            align-items: center;
                            p {
                                font-size: 16px;
                                line-height: 19px;
                                color: #FFFFFF;
                                margin-right: 16px;
                            }
                            ul {
                                display: flex;
                                >li {
                                    width: auto;
                                    padding: 0;
                                    margin: 0 6px;
                                    a {
                                        display: block;
                                        line-height: 0;
                                        img {
                                            width: 32px;
                                            @include transition(.3s ease-in-out);
                                            &:hover {
                                                transform: scale(1.2);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .humanx {
                            font-size: 14px;
                            line-height: 16px;
                            color: #fff;
                            opacity: 0.4;
                            @include transition(.3s ease-in-out);
                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                }
                &.tech-wrap {
                    .row {
                        position: relative;
                        padding-left: 30px;
                        &:before {
                            content: '';
                            box-sizing: border-box;
                            height: 56px;
                            width: 1px;
                            border: 1px solid rgba(255, 255, 255, .5);
                            -webkit-background-clip: padding-box;
                            /* for Safari */
                            background-clip: padding-box;
                            /* for IE9+, Firefox 4+, Opera, Chrome */
                            // opacity: 0.8;
                            position: absolute;
                            left: 0;
                            top: 50%;
                            margin-top: -28px;
                        }
                        .coll {
                            width: 148px;
                            p {
                                color: #FFFFFF;
                                font-size: 12px;
                                line-height: 17px;
                                padding-right: 20px;
                            }
                            .img {
                                width: 148px;
                                // background-color: #fff;
                                display: block;
                                img {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1199px) {
    footer {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 1024px) {
    footer {
        position: relative;
        z-index: 1;
        .container {
            padding-right: 30px;
            padding-left: 30px;
        }
    }
    footer .container .inner-wrap .col.logo-wrap {
        width: 140px;
        img {
            width: 100%;
        }
    }
    footer .container .inner-wrap .col.link-wrap {
        width: 442px;
    }
    footer .container .inner-wrap .col.link-wrap .row>ul li a,
    footer .container .inner-wrap .col.link-wrap .row .follow-wrap p {
        font-size: 14px;
    }
    footer .container .inner-wrap .col.link-wrap .row .follow-wrap ul>li a img {
        width: 28px;
    }
}

@media screen and (max-width: 991px) {
    footer {
        z-index: 1;
        // height: 460px;
        padding: 50px 0;
        height: auto;
        .container {
            .inner-wrap {
                justify-content: flex-start;
                flex-wrap: wrap;
                justify-content: center;
                max-width: 470px;
                margin: 0 auto;
                .col {
                    &.logo-wrap {
                        padding-right: 0px;
                        order: 1;
                        flex: 0 0 50%;
                    }
                    &.link-wrap {
                        // order: 1;
                        //max-width: 100%;
                        margin: 50px 0 0px;
                        max-width: 470px;
                        order: 2;
                        .row {
                            ul {
                                max-width: 470px;
                                margin: 0 auto;
                                li {
                                    // width: 26%;
                                    padding-bottom: 20px;
                                    a {
                                        div {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.tech-wrap {
                        order: 1;
                        flex: 0 0 50%;
                        .row {
                            flex-direction: column;
                            padding-left: 0;
                            .coll {
                                width: 100%;
                                .img {
                                    width: 170px;
                                    margin: 0 0 0 auto;
                                    img {
                                        width: auto;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    footer .container .inner-wrap .col.tech-wrap .row {
        flex-direction: column;
        // padding-left: 20px;
    }
    footer .container .inner-wrap .col.tech-wrap .row .coll p {
        padding-right: 0;
    }
    footer .container .inner-wrap .col.tech-wrap .row .coll {
        width: 100%;
    }
    footer .container .inner-wrap .col.link-wrap {
        display: flex;
        align-items: flex-start;
        position: relative;
    }
    footer .container .inner-wrap .col.link-wrap .row {
        width: 50%;
    }
    footer .container .inner-wrap .col.link-wrap .row ul {
        flex-direction: column;
    }
    footer .container .inner-wrap .col.link-wrap .row ul li::before {
        display: none;
    }
    footer .container .inner-wrap .col.link-wrap .row .follow-wrap {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
    }
    footer .container .inner-wrap .col.link-wrap .row .follow-wrap p {
        display: none;
    }
    footer .container .inner-wrap .col.link-wrap .row .follow-wrap ul {
        margin: 0;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        display: flex;
    }
    footer .container .inner-wrap .col.link-wrap .row .follow-wrap ul>li {
        width: auto;
        padding: 0;
        margin: 0 0 10px 0;
        flex: 0 0 30%;
    }
    footer .container .inner-wrap .col.link-wrap .row .humanx {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

@media screen and (max-width: 480px) {
    footer {
        padding: 48px 0px 38px;
        // height: 450px;
    }
    footer .container .inner-wrap {
        justify-content: space-between;
    }
    footer .container .inner-wrap .col.logo-wrap {
        flex: 0 0 40%;
    }
    footer .container .inner-wrap .col.link-wrap {
        padding-bottom: 32px;
    }
    footer .container .inner-wrap .col.link-wrap .row:first-child {
        margin: 0;
    }
    footer .container .inner-wrap .col.link-wrap .row .follow-wrap ul>li {
        margin-bottom: 20px;
    }
    footer .container .inner-wrap .col.link-wrap .row .follow-wrap ul>li a {
        width: 36px;
        height: 36px;
    }
    footer .container .inner-wrap .col.link-wrap .row .follow-wrap ul>li a img {
        width: 100%;
    }
    footer .container .inner-wrap .col.logo-wrap {
        width: 80px;
    }
    footer .container .inner-wrap .col.logo-wrap a img {
        width: 100%;
    }
    footer .container .inner-wrap .col.tech-wrap .row .coll .img {
        width: 130px;
    }
}

@media screen and (max-width: 360px) {
    footer .container .inner-wrap .col.tech-wrap .row .coll .img {
        width: 120px;
    }
    footer .container .inner-wrap .col.link-wrap .row .follow-wrap ul>li {
        flex: 0 0 33%;
    }
}