section.sec-funders-bn {
    background: url('../../images/inner-banner/funders-bn.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .container {
        z-index: 44;
        .content {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            max-width: 531px;
            width: 100%;
            margin-left: 125px;
            h1 {
                color: #FFFFFF;
                font-family: 'Noto Serif JP', serif;
                // text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.55);
                font-size: 24px;
                font-weight: 400;
                letter-spacing: 0;
                line-height: 36px;
                z-index: 44;
                span {
                    font-size: 30px;
                    font-weight: 600;
                    line-height: 44px;
                }
            }
            .btn-read {
                margin-top: 30px;
                a {
                    font-size: 16px;
                    line-height: 20px;
                    color: #fff;
                    span {
                        padding-right: 12px;
                    }
                    img,
                    svg {
                        display: block;
                        height: auto;
                        @include transition(all .3s ease);
                    }
                    &:hover {
                        img,
                        svg {
                            transform: translateX(10px);
                            @include transition(all .3s ease);
                        }
                    }
                }
            }
        }
    }
    .inner-wrap {
        .circle-img {
            background: url(../../images/inner-banner/funders-bn.jpg);
            background-size: 256%;
            background-position: 34% center;
        }
    }
}

section.sec-funders-tab {
    padding: 30px 0px 0;
    .container {
        // .tab-drop-wrap ul.tabs{
        //     max-width: 420px;
        // }
        .dots-line-wrap ul.ul-line span.line {
            width: 60px;
        }
        .wrapper {
            padding: 10px 125px 110px 125px;
            position: relative;
        }
        .tab-container {
            position: relative;
            z-index: 3;
            .tab-content {
                padding-top: 42px;
                display: none;
                &.active {
                    display: block;
                }
                // tab content 1
                &#tab-1 {
                    .row {
                        .head-wrap {
                            max-width: 700px;
                        }
                    }
                }
                // tab content 4
                &#tab-4 {
                    .row {
                        .head-wrap {
                            max-width: 800px;
                        }
                    }
                }
                .row {
                    .head-wrap {
                        width: 100%;
                        h2 {
                            color: #004950;
                            font-family: 'Noto Serif JP', serif;
                            font-size: 24px;
                            font-weight: 600;
                            letter-spacing: 0;
                            line-height: 35px;
                            z-index: 2;
                            padding-bottom: 40px;
                        }
                    }
                    // funder-wrap
                    .funder-wrap {
                        
                        .funders-block {
                            margin-top: 0px;
                            ul.funders-list {
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                flex-wrap: wrap;
                                li {
                                    width: calc(100% / 4);
                                    padding: 32px;
                                    height: 250px;
                                    // align-items: center;
                                    // display: flex;
                                    // justify-content: center;
                                    @include transition(.3s ease-in-out);
                                    cursor: pointer;
                                    position: relative;
                                    &:hover {
                                        background-color: #E8F5EE;
                                        .box-hover {
                                            opacity: 1;
                                        }
                                    }
                                    img {
                                        width: 100%;
                                        height: auto;
                                    }
                                    &.hidden {
                                        display: none;
                                    }
                                    .box-hover {
                                        @include transition(.3s ease-in-out);
                                        opacity: 0;
                                        position: absolute;
                                        width: 100%;
                                        height: 100%;
                                        top: 0;
                                        left: 0;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: space-between;
                                        align-items: center;
                                        padding: 20px 30px;
                                        h4 {
                                            font-family: 'Noto Serif JP', serif;
                                            font-weight: normal;
                                            font-weight: 500;
                                            font-size: 12px;
                                            line-height: 17px;
                                            text-align: center;
                                            color: #000000;
                                            opacity: 0.8;
                                        }
                                        p {
                                            font-weight: 600;
                                            font-size: 11px;
                                            line-height: 15px;
                                            text-align: center;
                                            color: #004950;
                                            word-break: break-all;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    section.sec-funders-bn .container .content {
        margin-left: 100px;
    }
    section.sec-funders-tab .container .wrapper {
        padding: 40px 100px 110px 100px;
    }
}

@media screen and (max-width: 1199px) {
    section.sec-funders-bn .container .content {
        margin-left: 30px;
    }
    section.sec-funders-tab .container .wrapper {
        padding: 10px 30px 110px 30px;
    }
}

@media screen and (max-width: 1024px) {
    section.sec-funders-bn .container .content {
        max-width: 360px;
        margin: 0;
        h1 {
            font-size: 16px;
            line-height: 26px;
            span {
                font-size: 24px;
                line-height: 36px;
            }
        }
        .btn-read {
            margin-top: 16px;
            img,
            svg {
                width: 18px;
            }
        }
    }
    section.sec-funders-tab .container {
        .tab-drop-wrap ul.tabs li a {
            // width: 240px;
            width: 100%;
        }
        .wrapper {
            padding: 0px 0px 110px 0px;
            .dots-line-wrap {
                margin: 0 0 0 10px;
            }
        }
    }
    section.sec-funders-tab .container .tab-container .tab-content .row .head-wrap h2 {
        font-size: 18px;
        line-height: 22px;
    }
    section.sec-funders-tab .container .tab-container .tab-content {
        padding-top: 124px;
    }
    section.sec-funders-tab .container .tab-container .tab-content .row .funders-container.is-visible {
        background-color: #fff;
    }
    section.sec-funders-tab .container .tab-container .tab-content .row .funders-container .modal-overlay {
        display: none;
    }
    
}

@media screen and (max-width: 768px) {
    section.sec-funders-tab .container .tab-container .tab-content .row .funder-wrap .funders-block ul.funders-list li {
        width: calc(100% / 3);
        height: 180px;
        position: relative;     
        padding: 24px;
    }
    section.sec-funders-tab .container .tab-container .tab-content .row .funder-wrap .funders-block ul.funders-list li .box-hover{
        padding: 12px 20px;
    }
    section.sec-funders-tab .container .tab-container .tab-content .row .funder-wrap .funders-block ul.funders-list li .box-hover h4{
        font-size: 11px;
        line-height: 14px;
    }
    section.sec-funders-tab .container .wrapper {
        padding: 0px 0px 72px 0px;
    }
}

@media screen and (max-width: 650px) {
    section.sec-funders-bn .container .content {
        padding-top: 44px;
        justify-content: flex-start;
    }
    section.sec-funders-tab .container .tab-container .tab-content .row .head-wrap h2 {
        font-size: 16px;
        line-height: 22px;
    }
    
}

@media screen and (max-width: 480px) {
    
    section.sec-funders-tab .container .tab-container .tab-content .row .funder-wrap .funders-block ul.funders-list li {
        width: calc(100% / 2);
        //height: 160px;
        height: 225px;
        
        &:nth-child(odd){
            padding: 0 20px 0 0;
            &:after{
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: calc(100% - 20px);
                height: 1px;
                opacity: 0.1;
                background-color: #000;
            }
            &::before{
                content: '';
                position: absolute;
                right: 0;
                bottom: 20px;
                width: 1px;
                height: calc(100% - 40px);
                opacity: 0.1;
                background-color: #000;
            }
        }
        &:nth-child(even){
            padding: 0 0 0 20px;
            &:after{
                content: '';
                position: absolute;
                right: 0;
                bottom: 0;
                width: calc(100% - 20px);
                height: 1px;
                opacity: 0.1;
                background-color: #000;
            }
        }

        a {
            display: flex;
            flex-direction: column;

            height: 100%;
            justify-content: center;

            .img-box {
                height: 120px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .box-hover {
                opacity: 1;
                position: relative;
                left: auto;
                top: auto;
                padding: 0;
                margin-top: 8px;
                height: auto;            
            }
        }
    }
    
}

@media screen and (max-width: 350px) {
    section.sec-funders-tab .container .tab-container .tab-content .row .funder-wrap .funders-block ul.funders-list li {
        width: 100%;
        height: auto;

        &:nth-child(2n){
            padding: 20px 0;
        }

        &:nth-child(odd){
            padding: 20px 0;
            &:before{
                display: none;
            }
        }

        img{
            width: auto;
            height: 100%;
        }
    
    }
}
