section.sec-approach-bn{
    background: url('../../images/inner-banner/overview-bn.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    &.banner-circle{
        .circle-container{
            // bottom: 60px;
                bottom: 50%;
                transform: translate(0px, 50%);

            .circle-line-wrap{
                right: -26px;
                bottom: -26px;
                z-index: 45;
                height: 508px;
                width: 508px;
            }
        }
        .inner-wrap{
        
            .circle-img{
                background: url(../../images/inner-banner/overview-bn.jpg);
                background-size: cover;
                background-position: center center;
                width: 448px;
                height: 448px;
            }
        }
    }
    .container{
        z-index: 44;

        .tab-content {
            height: 100%;
            display: none;

            &.active {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                flex-direction: column;
                text-align: center;
            
            }
        }
        
        .content{
            height: 100%;            
            width: 100%;
            //max-width: 520px;
            //margin-left: 125px;
            
            h1{
                color: #FFFFFF;
                font-family: 'Noto Serif JP', serif;
                // text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.55);
                font-size: 30px;
                font-weight: 400;
                letter-spacing: 0.44px;
                line-height: 40px;
                z-index: 44;
    
                span{
                    font-size: 30px;
                    font-weight: 600;
                    line-height: 44px;
                }

                &.bn-title{
                    color: #FFFFFF;
                    // font-family: 'Noto Serif JP', serif;
                    // font-size: 36px;
                    // font-weight: 600;
                    // line-height: 51px;

                    z-index: 44;
                    display: block;
                    width: 100%;
                    padding: 20px;
                    margin-bottom: 32px;
                    background: linear-gradient(318.03deg,rgba(122,155,13,0.7) 0%,rgba(0,73,80,0.7) 100%);
                    border-radius: 5px;
                      
                }
            }
            .bn-author{
                padding-top: 20px;
                h2{
                    color: #FFFFFF;
                    font-family: 'Noto Serif JP', serif;
                    font-size: 24px;
                    font-weight: 600;
                    letter-spacing: 0;
                    line-height: 35px;
                }
                p{
                    color: #FFFFFF;
                    font-size: 16px;
                    letter-spacing: 0;
                    line-height: 22px;
                    padding-left: 16px;
                }
            }
        }
    }
    
    .tab1{
        display: none;
        height: 100%;
        width: 100%;
        //background: #000;
        z-index: 55;
        position: absolute;
        top: 0;
        left: 0;

        &.active{
            display: block;
        }

        .owl-dots {
            text-align: center;
            position: absolute;
            bottom: 8px;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          
          .owl-dot {
            display: inline-block;
            position: relative;
          }
            
            .owl-dots button.owl-dot {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                display: inline-block;
                background: rgb(255, 255, 255);
                margin: 0 5px;
            }
            .owl-dots button.owl-dot.active {
                background-color: #004950;
            }
            .owl-dots button.owl-dot:focus {
                outline: none;
            } 

            
        .banner-wrap{
            display: block;
            position: relative;
            overflow: hidden;
            height: inherit;
    
            .owl-carousel{
                display: block;
                position: relative;
                overflow: hidden;
                height: inherit;
    
                .owl-stage-outer,
                .owl-stage {
                    height: inherit;
                }
                .owl-item{
                    height: 100%;
                }
    
                .item{
                    position: relative;
                    height: inherit;
                    img.mob{
                        display: none;
                    }

                }
    
                .owl-nav{
                    display: none;
                }
    
                .content-wrap{
                    position: absolute;
                    z-index: 44;
                    left: 50%;
                    bottom: 0px;
                    transform: translateX(-50%) translateY(-50%);
                    display: block;
                    max-width: 1000px;
                    width: 100%;
                    padding: 20px;
                    border-radius: 5px;
                    background: linear-gradient(318.03deg,rgba(122, 155, 13, .7) 0%,rgba(0, 73, 80, .7) 100%);
                    
    
                    .inner-wrap{
                        max-width: 1020px;
                        width: 100%;
                        margin: 0 auto;
                        z-index: 44;
                        h1{
                            color: #FFFFFF;
                            font-family: 'Noto Serif JP', serif;
                            font-weight: normal;
                            font-size: 24px;
                            letter-spacing: 0.42px;
                            line-height: 34px;
                            text-align: center;
                            z-index: 44;
    
                            br.mobile{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    
    }
    

}


section.sec-approach-tab{
    padding: 30px 0px 0;
    z-index: 55;
    
    .container{
        .wrapper{
            padding: 90px 125px 110px 125px;
            position: relative;
            &.drop-wrapper{
                padding: 40px 125px 20px 125px;
            }
        }
        .tab-drop-wrap ul.tabs{
            margin-bottom: 20px;
        }

    }

    .tab-circle-container{
        position: relative;
        .circle-container{
            position: absolute;
            right: -240px;
            top: 60px;
            z-index: 44;
    
            .circle-line-wrap{
                position: absolute;
                right: -42px;
                bottom: -44px;
                z-index: 45;
                height: 570px;
                width: 570px;
                transform: rotate(-16deg);
                .circle-wrap{
                    position: relative;
        
                    .Oval_1, .Oval_2 {
                        position: absolute;
                        width: 100%;
                        text-align: center;
                        left: 0;
                        svg {
                            position: absolute;
                            left: 0;
                            width: 100%;
                            height: auto;
                        }
                    }
        
                    .Oval_1 {
                        padding-top: 8px;
                        left: 0;
                        svg:first-child {
                            animation: circular-animate-oval-reverse 70s linear infinite;
                        }
                    }
        
                    .Oval_2 {
                        padding-top: 0;
                        left: 2%;
                        svg:first-child {
                            animation: circular-animate-oval 70s linear infinite;
                        }
                    }
                }
        
                @keyframes circular-animate-oval {
                    0%   { transform: rotateZ(0deg); }
                    100% { transform: rotateZ(270deg); }
                }
            
                @keyframes circular-animate-oval-reverse {
                    0%   { transform: rotateZ(0deg); }
                    100% { transform: rotateZ(-270deg); }
                }
    
            }
            
    
            .inner-wrap{
                position: relative;
                
                .circle-img{
                    background: url(../../images/work/our-approach/our-approach-overview.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    // background-position: center center;
                    background-position: 38%;
                    width: 475px;
                    height: 475px;
                    border-radius: 50%;
                }
            }
        }
    }

    .points-block{
        ol{
            list-style: none;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 40px;
            max-width: 610px;
            width: 100%;

            li{
                display: flex;
                margin-bottom: 20px;

                span{
                    margin-right: 30px;
                    display: block;
                    position: relative;

                    &::before{
                        content: '';
                        position: absolute;
                        top: 16px;
                        left: 0;
                        background-color: rgb(137 201 168 / 50%);
                        width: 15px;
                        height: 15px;
                        border-radius: 9999px;
                    }
                }
                p{
                    color: #000;
                    opacity: 0.8;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 26px;
                    text-align: left;
                    padding-bottom: 0 !important;
                }
            }
        }
    }

    
    .tab-container{
        position: relative;
        z-index: 3;
        .tab-content {
            padding-top: 32px;
            display: none;

            &.active {
                display: inherit;
            }
            h1{
                text-align: left;
                text-transform: uppercase;
                margin-bottom: 30px;
            }
            .morecontent > span {
                display: none;
            }


            // tab content 1
            &#tab-1{
                .row{
                    .head-wrap{
                        max-width: 706px;
                    }
                    .row-wrap{
                        .inner-container{
                            .desktop{
                                .leaf-1{
                                    .leaf-1-hover{
                                        opacity: 0;
                                        @include transition(.3s ease-in-out);
                                    }
                                    &:hover{
                                        .leaf-1-hover{
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
            .row{
                .row-wrap{
                    width: 100%;
                    height: 100%;
                    display: block;
                    position: relative;
                    margin: 0 auto;   
                    padding: 0px 125px;

                    &.flex-wrap-top{
                        display: flex;
                    }
                        
                    &:first-child{                            
                        max-width: 1280px;
                        width: 100%;
                    }
                    &:last-child{
                        padding-left: 0;
                        padding-right: 0;
                        background-color: rgba(232, 245, 238, .5);
                    }                    

                }

                
                .head-wrap{
                    width: 100%;
                    h2{
                        color: #004950;
                        font-family: 'Noto Serif JP', serif;
                        font-size: 24px;
                        font-weight: 600;
                        letter-spacing: 0;
                        line-height: 35px;
                        z-index: 2;                        
                        padding-bottom: 30px;
                    }
                    p {
                        opacity: 0.8;
                        color: #000000;
                        font-size: 18px;
                        letter-spacing: 0.26px;
                        line-height: 26px;
                        padding-bottom: 30px;
                    }                
                    padding-bottom: 42px;
                }

                .core-tabs{
                    display: flex;
                    //justify-content: space-between;
                    // padding: 0 60px 0 125px;
                    //padding: 0 0px 0 125px;
                    padding-bottom: 40px;
                    
                    .col{
                        display: block;
                        position: relative; 

                        &:first-child{
                            max-width: 658px;
                            width: 100%;     
                        }
                        &:last-child{
                            width: 100%;     
                        }

                        h2{
                            color: #004950;
                            font-family: 'Noto Serif JP', serif;
                            font-size: 24px;
                            font-weight: 600;
                            letter-spacing: 0;
                            line-height: 35px;
                            z-index: 2;          
                            padding-top: 20px;              
                            padding-bottom: 30px;

                            &:first-child{
                                padding-top: 0;
                            }
                            &.pd-12{
                                padding-bottom: 12px;
                            }
    
                            span{
                                font-family: 'Open Sans', sans-serif;
                                opacity: 0.8;
                                color: #000000;
                                font-size: 18px;
                                letter-spacing: 0.26px;
                                line-height: 26px;
                                font-weight: 400;
                            }
                        }
                        p {
                            opacity: 0.8;
                            color: #000000;
                            font-size: 18px;
                            letter-spacing: 0.26px;
                            line-height: 26px;
                            padding-bottom: 20px;
                        }          
                    }

                }

                .inner-container{      
                    padding: 80px 0 0;              
                    // padding: 80px 125px;                     
                    // max-width: 1280px;
                    width: 100%;
                    margin: 0 auto;
                    transform: translateY(6px);

                    img{
                        width: 100%;

                        &.mob{
                            display: none;
                        }
                    }
                }

                .core-overview{
                    h2 {
                        color: #004950;
                        font-family: 'Noto Serif JP', serif;
                        font-size: 30px;
                        font-weight: 600;
                        line-height: 44px;
                        text-align: center;
                    }
                    .inner-row{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        max-width: 924px;
                        width: 100%;
                        margin: 0 0 0 auto;
                        padding-top: 90px;
                        padding-bottom: 42px;

                        .inner-col{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .coll{
                                &:last-child{
                                    width: 100px;
                                    text-align: center;
                                }
                                .roww{
                                    display: flex;
                                    align-items: center;

                                    &.dark-red{
                                        p{
                                            color: #8e0000;
                                        }
                                    }
                                    &.bright-blue{
                                        p{
                                            color: #5d9cb9;
                                        }
                                    }
                                    &.dark-green{
                                        p{
                                            color: #007641;
                                        }
                                    }
    
                                    .img-box{
                                        width: 80px;
                                        text-align: center;
                                        margin: 30px 0;
                                    }
                                    p {
                                        margin-left: 20px;
                                        color: #000000;
                                        font-size: 14px;
                                        font-weight: 600;
                                        letter-spacing: 0.23px;
                                        line-height: 18px;
                                    }
                                }
                            }
                        }
                    }
                }

            }


        }
    }

}

@media screen and (max-width : 1280px){
    section.sec-approach-tab .tab-circle-container .circle-container{
        right: -200px;
    }
}

@media screen and (max-width : 1280px){
    
    section.sec-approach-bn .container .content{
        margin-left:100px;
    }
    section.sec-approach-tab .container .wrapper:before{
        width: 380px;
    }
    section.sec-approach-tab .container .wrapper{
        padding: 90px 100px 100px 100px;
    }
    section.sec-approach-tab .tab-container .tab-content .board-wrap .roww .col .inner-row.ColRow p{
        max-width: 48%;
    }
}

@media screen and (max-width : 1199px){
    // section.sec-approach-bn{
    //     height: 480px;
    // }
    section.sec-approach-bn .container .content{
        margin-left: 30px;
    }
    
    section.sec-approach-tab .container .wrapper{
        padding: 90px 30px 80px 30px;
    }
        
    section.sec-approach-tab .tab-container .tab-content .row .head-wrap h2,
    section.sec-approach-tab .tab-container .tab-content .row .core-tabs .col h2{
        font-size: 20px;
        line-height: 26px;
    }
    
  
    section.sec-approach-tab .tab-container .tab-content .board-wrap ul.desktopPop li{
        padding-bottom: 80px;
        max-width: 48%;    
    }
    section.sec-approach-tab .tab-container .tab-content .board-wrap ul.desktopPop li .inner-col .col:first-child{
        width: 150px;
        margin-right: 20px;    
    }
    section.sec-approach-tab .tab-container .tab-content .board-wrap ul.desktopPop li .col .img-box{
        width: 100%;
        height: 150px;

        img{
            width: 100%;
        }
    }
    section.sec-approach-tab .tab-container .tab-content .board-wrap ul.desktopPop li .inner-col .col:last-child{
        width: calc(100% - 170px);
    }

    section.sec-approach-tab .tab-container .tab-content .row .row-wrap{
        padding: 0 60px;
    }
    section.sec-approach-tab .tab-container .tab-content .row .mission-wrap,
    section.sec-approach-tab .tab-container .tab-content .row .journey-wrap,
    section.sec-approach-tab .tab-container .tab-content .board-wrap{
        padding: 72px 60px;
    }
    section.sec-approach-tab .container .wrapper.drop-wrapper {
        padding: 40px 30px 20px;
    }

}

@media screen and (max-width : 1024px){
    
    section.sec-approach-bn{
        height: 550px;
    }
    section.sec-approach-tab .container{
        padding: 0;
    }
    section.sec-approach-bn .container .content {
        max-width: 100%;
        margin: 0;
        h1{
            font-size: 16px;
            line-height: 26px;
    
            span{
                font-size: 24px;
                line-height: 36px;
            }

            &.bn-title{
                font-size: 21px;
                line-height: 30px;
            }
        }
        .bn-author{
            h2{
                font-size: 18px;
                line-height: 26px;
            }
            p{
                font-size: 14px;
                line-height: 19px;
                padding-left: 14px;
            }
        }
    }
    section.sec-approach-tab .container .tab-drop-wrap{
        top: 40px;
    }
    section.sec-approach-bn .container .content h1.bn-title{
        border-radius: 0;
        margin-bottom: 20px;
    }
    section.sec-approach-bn .tab1 .banner-wrap .owl-carousel .content-wrap{
        border-radius:0;
        transform: translateX(-50%) translateY(-40px);
    }
    section.sec-approach-bn .tab1 .banner-wrap .owl-carousel .item{
        img{
            width: auto;
            height: 100%;
        }
    }
    section.sec-approach-tab .tab-container .tab-content .row .head-wrap h2,
    section.sec-approach-tab .tab-container .tab-content .row .core-tabs .col h2{
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 24px;
    }
    section.sec-approach-tab .tab-container .tab-content .row .head-wrap p,
    section.sec-approach-tab .tab-container .tab-content .row .core-tabs .col p{
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 20px;
    }

    section.sec-approach-tab .tab-container .tab-content .row .mission-wrap p.subHead{
        font-size: 14px;
        line-height: 20px;
    }    
    section.sec-approach-tab .container .wrapper{
        padding: 0px;
    }
    section.sec-approach-tab .container .wrapper:before{
        display: none;
    }   
    section.sec-approach-tab .tab-container .tab-content{
        padding-top: 140px;
    } 
    section.sec-approach-tab .tab-container .tab-content .row{
        padding: 0;

        .head-wrap{
            padding: 0;
            max-width: 100%;
        }
    }
    section.sec-approach-tab .tab-container .tab-content#tab-1 .row .head-wrap{
        max-width: 100%;
    }
    section.sec-approach-tab .container .wrapper.drop-wrapper{
        padding: 0;
    }
    section.sec-approach-tab .tab-container .tab-content .row .row-wrap{
        max-width: 100%;
        padding: 0 30px;
    }
    section.sec-approach-tab .tab-circle-container{
        display: none;
    }
    section.sec-approach-tab .tab-container .tab-content .row .inner-container{
        //padding: 72px 0 0;

        img{
            &.desk{
                display: none;
            }
            &.mob{
                display: block;
            }
        }
    }
    section.sec-approach-tab .tab-container .tab-content .row .core-overview .inner-row{
        max-width: 100%;
        flex-direction: column;
    }
    section.sec-approach-tab .tab-container .tab-content .row .core-overview .inner-row .inner-col{
        flex-direction: column;

        .coll{
            display: flex;

            &:last-child{
                width: auto;
                margin: 40px 0;
            }
        }
    }

    section.sec-approach-tab .tab-container .tab-content .row .core-overview h2{
        font-size: 24px;
        line-height: 36px;
    }

    section.sec-approach-tab .tab-container .tab-content .row .core-tabs{
        flex-direction: column;
        
        .col{
            max-width: 100%;

            &:last-child{
                text-align: center;

                img{
                    width: 100%;
                }
            }
        }
    }
    section.sec-approach-tab .tab-container .tab-content .row .core-tabs .col{
        padding-bottom: 72px;
    }

}


@media screen and (max-width : 768px){

    section.sec-approach-tab .tab-container .tab-content .row .mission-wrap ol li span{
        font-size: 40px;
        line-height: 32px;
    }
    section.sec-approach-tab .tab-container .tab-content .row .core-overview .inner-row{
        padding-top: 72px;
    }
    section.sec-approach-tab .tab-container .tab-content .row .core-overview .inner-row .inner-col{
        > img{
            width: 100%;
        }
    }
    // section.sec-approach-tab .tab-container .tab-content .row .inner-container {
    //     padding: 52px 0 0px;
    // }
    section.sec-approach-tab .tab-container .tab-content .row .core-overview .inner-row .inner-col .coll .roww{
        flex-direction: column;
        text-align: center;

        > img{
            width: 60px;
        }
        p{
            margin-left: 0;
            margin-top: 20px;
            br{
                display: none;
            }
        }
    }
    section.sec-approach-tab .tab-container .tab-content .row .core-overview .inner-row .inner-col .coll .roww .img-box{
        width: 48px;
        img{
            width: 18px;
        }
    }

    section.sec-approach-tab .tab-container .tab-content .row .core-tabs .col{
        padding-bottom: 52px;

        &:first-child{
            padding-bottom: 32px;
        }
    }

    section.sec-approach-tab .tab-container .tab-content{
        padding-top: 124px;
    } 

}


@media screen and (max-width : 650px){
    section.sec-approach-bn .container{
        padding: 0;
    }
    section.sec-approach-bn .container .content {
        padding-top: 60px;
        align-items: flex-start;

        h1{
            font-size: 15px;
            line-height: 24px;
    
            span{
                font-size: 20px;
                line-height: 28px;
            }
        }

        .bn-author{
            h2{
                font-size: 14px;
                line-height: 22px;
            }
            p{
                font-size: 12px;
                line-height: 15px;
                padding-left: 9px;
            }
        }
    }

    section.sec-approach-bn .tab1 .owl-dots{
        bottom: 0;
    }
    
    section.sec-approach-tab .tab-container .tab-content .row .head-wrap h2,
    section.sec-approach-tab .tab-container .tab-content .row .core-tabs .col h2{
        font-size: 16px;
        line-height: 22px;
    }
    section.sec-approach-tab .tab-container .tab-content .row .head-wrap p,
    section.sec-approach-tab .tab-container .tab-content .row .core-tabs .col p{
        font-size: 14px;
        line-height: 18px;
    }

}

@media screen and (max-width : 600px){

    section.sec-approach-tab .tab-container .tab-content .board-wrap ul.mobile-wrap{
        justify-content: space-between;
        li{
            width: 46%;
            margin-left: 0px;
            margin-right: 0px;
        }
    }
}

@media screen and (max-width : 480px){
    
    section.sec-approach-bn {
        // height: 400px;
        .container .content{
    
            h1{
                font-size: 14px;
                line-height: 20px;
    
                span{
                    font-size: 16px;
                    line-height: 24px;
                }
            }
            .bn-author{
                max-width: 140px;

                p{
                    br{
                        display: none;
                    }
                }
            }
        }
    }
    section.sec-approach-bn .tab1 .banner-wrap .owl-carousel .content-wrap .inner-wrap h1,
    section.sec-approach-bn .container .content h1.bn-title{
        font-size: 18px;
        line-height: 26px;
    }
    section.sec-approach-tab .container .wrapper{
        padding: 0;
    }
   

    section.sec-approach-tab .tab-container .tab-content#tab-4  .row{
        padding: 0;
        .head-wrap{
            // padding: 0 20px;
        }
    }


    section.sec-approach-tab .tab-container .tab-content .row .row-wrap{
        padding: 0 20px;
    }

    section.sec-approach-tab .tab-container .tab-content .row .core-overview h2{
        font-size: 20px;
        line-height: 24px;
    }
    // section.sec-approach-tab .tab-container .tab-content .row .inner-container {
    //     padding: 52px 0 0px;
    // }
    section.sec-approach-tab .tab-container .tab-content .row .core-overview .inner-row{
        padding-top: 52px;
    }
    section.sec-approach-tab .tab-container .tab-content .row .core-overview .inner-row .inner-col .coll .roww .img-box{
        width: 24px;
        img{
            width: 14px;
        }
    }

}



@media screen and (max-width : 414px){

}

@media screen and (max-width : 350px){
    section.sec-approach-bn .container .content h1.bn-title{
        font-size: 18px;
        line-height: 24px;
    }
}
