section.sec-core-bn{
    background: url('../../images/inner-banner/overview-bn.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    .container{
        z-index: 44;

        .tab-content {
            height: 100%;
            display: none;

            &.active {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
            }
        }
        
        .content{
            
            height: 100%;
            max-width: 520px;
            width: 100%;
            margin-left: 125px;
            
            h1{
                color: #FFFFFF;
                font-family: 'Noto Serif JP', serif;
                // text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.55);
                font-size: 30px;
                font-weight: 400;
                letter-spacing: 0;
                line-height: 36px;
                z-index: 44;
    
                span{
                    font-size: 30px;
                    font-weight: 600;
                    line-height: 44px;
                }

                &.bn-title{
                    color: #FFFFFF;
                    font-family: 'Noto Serif JP', serif;
                    font-size: 36px;
                    font-weight: 600;
                    line-height: 51px;
                      
                }
            }
            .bn-author{
                padding-top: 20px;
                h2{
                    color: #FFFFFF;
                    font-family: 'Noto Serif JP', serif;
                    font-size: 24px;
                    font-weight: 600;
                    letter-spacing: 0;
                    line-height: 35px;
                }
                p{
                    color: #FFFFFF;
                    font-size: 16px;
                    letter-spacing: 0;
                    line-height: 22px;
                    padding-left: 16px;
                }
            }
        }
    }
        
    .inner-wrap{
        
        .circle-img{
            background: url(../../images/inner-banner/overview-bn.jpg);
            background-size: cover;
            background-position: center center;
        }
    }

}


section.sec-core-tab{
    padding: 42px 0px 0;
    z-index: 55;
    
    .container{
        .wrapper{
            padding: 90px 125px 110px 125px;
            position: relative;
            &.drop-wrapper{
                padding: 40px 125px 20px 125px;
            }
        }
        .tab-drop-wrap ul.tabs{
            margin-bottom: 20px;
        }

    }


    
    .tab-container{
        position: relative;
        z-index: 3;
        .tab-content {
            padding-top: 48px;
            display: none;

            &.active {
                display: inherit;
            }
            h1{
                text-align: left;
                text-transform: uppercase;
                margin-bottom: 30px;
            }
            .morecontent > span {
                display: none;
            }
            .morelink {
                display: block;
            }

            .btn-read{
                width: 120px;
                margin-top: 12px;
                @include transition(all .3s ease);

                &.readLess{
                    img, svg{
                        transform: rotate(-90deg);
                    }
                }
                span{
                    text-transform: capitalize;
                    padding-right: 10px;
                    color: #004950;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 22px;
                    cursor: pointer;
                    width: auto;
                    justify-content: flex-start;
                }
                img, svg{
                    display: block;
                    width: 24px;
                    height: auto;
                    @include transition(all .3s ease);
                    transform: rotate(90deg);
                }
            }

            // tab content 1
            &#tab-1{
                .row{
                    .head-wrap{
                        max-width: 700px;
                    }
                }
            }
            
            .row{
                .row-wrap{
                    width: 100%;
                    height: 100%;
                    display: block;
                    position: relative;
                    margin: 0 auto;   
                    padding: 0px 125px;
                        
                    &:first-child{                            
                        max-width: 1280px;
                        width: 100%;
                    }
                    &:last-child{
                        padding-left: 0;
                        padding-right: 0;
                        background-color: rgba(232, 245, 238, .5);
                    }                    
                }

                .infograph-wrap{
                    svg{
                        g.groupSVG{
                            
                            .front{
                                z-index:1;
                            }                            
                            .back{
                                opacity: 0;                                
                                @include transition(.3s ease-in-out);

                            }
                            &:hover{
                                z-index:3;
                                .back{
                                    @include transition(.7s ease-in-out);
                                    opacity: 1;
                                    width:309px;
                                    height:309px;
                                    z-index:22;
                                }  
                            }    
                        }
                        
                        g#er_1:hover .back{
                            transform:translate(220px,530px);
                        }
                        g#er_2:hover .back{
                            transform:translate(310px,690px)
                        }
                    }
                }
                
                .head-wrap{
                    width: 100%;
                    h2{
                        color: #004950;
                        font-family: 'Noto Serif JP', serif;
                        font-size: 24px;
                        font-weight: 600;
                        letter-spacing: 0;
                        line-height: 35px;
                        z-index: 2;                        
                        padding-bottom: 30px;
                    }
                    p {
                        opacity: 0.8;
                        color: #000000;
                        font-size: 18px;
                        letter-spacing: 0.26px;
                        line-height: 26px;
                        padding-bottom: 30px;
                    }                
                    padding-bottom: 42px;
                }

                .core-tabs{
                    display: flex;
                    justify-content: space-between;
                    padding: 0 60px 0 125px;

                    .col{
                        max-width: 520px;
                        width: 100%;      
                        padding-bottom: 100px;

                        h2{
                            color: #004950;
                            font-family: 'Noto Serif JP', serif;
                            font-size: 24px;
                            font-weight: 600;
                            letter-spacing: 0;
                            line-height: 35px;
                            z-index: 2;          
                            padding-top: 20px;              
                            padding-bottom: 30px;

                            &:first-child{
                                padding-top: 0;
                            }
                        }
                        p {
                            opacity: 0.8;
                            color: #000000;
                            font-size: 18px;
                            letter-spacing: 0.26px;
                            line-height: 26px;
                            padding-bottom: 20px;
                        }          
                    }

                }

                .inner-container{                    
                    padding: 80px 125px;                                            
                    max-width: 1280px;
                    width: 100%;
                    margin: 0 auto;
                }

                .core-overview{
                    h2 {
                        color: #004950;
                        font-family: 'Noto Serif JP', serif;
                        font-size: 30px;
                        font-weight: 600;
                        line-height: 44px;
                        text-align: center;
                    }
                    .inner-row{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        max-width: 924px;
                        width: 100%;
                        margin: 0 0 0 auto;
                        padding-top: 90px;
                        padding-bottom: 42px;

                        .inner-col{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .coll{
                                &:last-child{
                                    width: 100px;
                                    text-align: center;
                                }
                                .roww{
                                    display: flex;
                                    align-items: center;

                                    &.dark-red{
                                        p{
                                            color: #8e0000;
                                        }
                                    }
                                    &.bright-blue{
                                        p{
                                            color: #5d9cb9;
                                        }
                                    }
                                    &.dark-green{
                                        p{
                                            color: #007641;
                                        }
                                    }
    
                                    .img-box{
                                        width: 80px;
                                        text-align: center;
                                        margin: 30px 0;
                                    }
                                    p {
                                        margin-left: 20px;
                                        color: #000000;
                                        font-size: 14px;
                                        font-weight: 600;
                                        letter-spacing: 0.23px;
                                        line-height: 18px;
                                    }
                                }
                            }
                        }
                    }
                }

            }


        }
    }

}


@media screen and (max-width : 1280px){
    
    section.sec-core-bn .container .content{
        margin-left:100px;
    }
    section.sec-core-tab .container .wrapper:before{
        width: 380px;
    }
    section.sec-core-tab .container .wrapper{
        padding: 90px 100px 100px 100px;
    }
    section.sec-core-tab .tab-container .tab-content .board-wrap .roww .col .inner-row.ColRow p{
        max-width: 48%;
    }
}

@media screen and (max-width : 1199px){
    // section.sec-core-bn{
    //     height: 480px;
    // }
    section.sec-core-bn .container .content{
        margin-left: 30px;
    }
    
    section.sec-core-tab .container .wrapper{
        padding: 90px 30px 80px 30px;
    }
    
    section.sec-core-tab .tab-container .tab-content .row .head-wrap h2,
    section.sec-core-tab .tab-container .tab-content .row .core-tabs .col h2{
        font-size: 20px;
        line-height: 26px;
    }

  
    section.sec-core-tab .tab-container .tab-content .board-wrap ul.desktopPop li{
        padding-bottom: 80px;
        max-width: 48%;    
    }
    section.sec-core-tab .tab-container .tab-content .board-wrap ul.desktopPop li .inner-col .col:first-child{
        width: 150px;
        margin-right: 20px;    
    }
    section.sec-core-tab .tab-container .tab-content .board-wrap ul.desktopPop li .col .img-box{
        width: 100%;
        height: 150px;

        img{
            width: 100%;
        }
    }
    section.sec-core-tab .tab-container .tab-content .board-wrap ul.desktopPop li .inner-col .col:last-child{
        width: calc(100% - 170px);
    }

    section.sec-core-tab .tab-container .tab-content .row .row-wrap{
        padding: 0 60px;
    }
    section.sec-core-tab .tab-container .tab-content .row .mission-wrap,
    section.sec-core-tab .tab-container .tab-content .row .journey-wrap,
    section.sec-core-tab .tab-container .tab-content .board-wrap{
        padding: 72px 60px;
    }
    section.sec-core-tab .container .wrapper.drop-wrapper {
        padding: 40px 30px 20px;
    }

}

@media screen and (max-width : 1024px){
    
    section.sec-core-tab .container{
        padding: 0;
    }
    section.sec-core-bn .container .content {
        max-width: 360px;
        margin: 0;
        h1{
            font-size: 16px;
            line-height: 26px;
    
            span{
                font-size: 24px;
                line-height: 36px;
            }

            &.bn-title{
                font-size: 21px;
                line-height: 30px;
                letter-spacing: 0.3px;
            }
        }
        .bn-author{
            h2{
                font-size: 18px;
                line-height: 26px;
            }
            p{
                font-size: 14px;
                line-height: 19px;
                padding-left: 14px;
            }
        }
    }


    section.sec-core-tab .tab-container .tab-content .row .head-wrap h2,
    section.sec-core-tab .tab-container .tab-content .row .core-tabs .col h2{
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 24px;
    }
    section.sec-core-tab .tab-container .tab-content .row .head-wrap p,
    section.sec-core-tab .tab-container .tab-content .row .core-tabs .col p{
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 20px;
    }

    section.sec-core-tab .tab-container .tab-content .row .mission-wrap p.subHead{
        font-size: 14px;
        line-height: 20px;
    }    
    section.sec-core-tab .container .wrapper{
        padding: 0px;
    }
    section.sec-core-tab .container .wrapper:before{
        display: none;
    }   
    section.sec-core-tab .tab-container .tab-content{
        padding-top: 140px;
    } 
    section.sec-core-tab .tab-container .tab-content .row{
        padding: 0;

        .head-wrap{
            padding: 0;
            max-width: 100%;
        }
    }
    section.sec-core-tab .container .wrapper.drop-wrapper{
        padding: 0;
    }
    section.sec-core-tab .tab-container .tab-content .row .row-wrap{
        max-width: 100%;
        padding: 0 30px;
    }
    section.sec-core-tab .tab-container .tab-content .row .inner-container{
        padding: 72px 52px;
    }
    section.sec-core-tab .tab-container .tab-content .row .core-overview .inner-row{
        max-width: 100%;
        flex-direction: column;
    }
    section.sec-core-tab .tab-container .tab-content .row .core-overview .inner-row .inner-col{
        flex-direction: column;

        .coll{
            display: flex;

            &:last-child{
                width: auto;
                margin: 40px 0;
            }
        }
    }

    section.sec-core-tab .tab-container .tab-content .row .core-overview h2{
        font-size: 24px;
        line-height: 36px;
    }

    section.sec-core-tab .tab-container .tab-content .row .core-tabs{
        flex-direction: column;
        
        .col{
            max-width: 100%;

            &:last-child{
                text-align: center;

                img{
                    width: 100%;
                }
            }
        }
    }
    section.sec-core-tab .tab-container .tab-content .row .core-tabs .col{
        padding-bottom: 72px;
    }

}


@media screen and (max-width : 768px){

    section.sec-core-tab .tab-container .tab-content .row .mission-wrap ol li span{
        font-size: 40px;
        line-height: 32px;
    }
    section.sec-core-tab .tab-container .tab-content .row .core-overview .inner-row{
        padding-top: 72px;
    }
    section.sec-core-tab .tab-container .tab-content .row .core-overview .inner-row .inner-col{
        > img{
            width: 100%;
        }
    }
    section.sec-core-tab .tab-container .tab-content .row .inner-container {
        padding: 52px 30px;
    }
    section.sec-core-tab .tab-container .tab-content .row .core-overview .inner-row .inner-col .coll .roww{
        flex-direction: column;
        text-align: center;

        > img{
            width: 60px;
        }
        p{
            margin-left: 0;
            margin-top: 20px;
            br{
                display: none;
            }
        }
    }
    section.sec-core-tab .tab-container .tab-content .row .core-overview .inner-row .inner-col .coll .roww .img-box{
        width: 48px;
        img{
            width: 18px;
        }
    }

    section.sec-core-tab .tab-container .tab-content .row .core-tabs .col{
        padding-bottom: 52px;

        &:first-child{
            padding-bottom: 32px;
        }
    }

}


@media screen and (max-width : 650px){
    section.sec-core-bn .container .content {
        padding-top: 60px;
        align-items: flex-start;

        h1{
            font-size: 15px;
            line-height: 24px;
    
            span{
                font-size: 20px;
                line-height: 28px;
            }
        }

        .bn-author{
            h2{
                font-size: 14px;
                line-height: 22px;
            }
            p{
                font-size: 12px;
                line-height: 15px;
                padding-left: 9px;
            }
        }
    }

    section.sec-core-tab .tab-container .tab-content .row .head-wrap h2,
    section.sec-core-tab .tab-container .tab-content .row .core-tabs .col h2{
        font-size: 16px;
        line-height: 22px;
    }
    section.sec-core-tab .tab-container .tab-content .row .head-wrap p,
    section.sec-core-tab .tab-container .tab-content .row .core-tabs .col p{
        font-size: 14px;
        line-height: 18px;
    }

}

@media screen and (max-width : 600px){

    section.sec-core-tab .tab-container .tab-content .board-wrap ul.mobile-wrap{
        justify-content: space-between;
        li{
            width: 46%;
            margin-left: 0px;
            margin-right: 0px;
        }
    }
}

@media screen and (max-width : 480px){
    
    section.sec-core-bn {
        // height: 400px;
        .container .content{
            max-width: 260px;
            padding-top: 44px;
            height: auto;
    
            h1{
                font-size: 14px;
                line-height: 20px;
    
                span{
                    font-size: 16px;
                    line-height: 24px;
                }
            }
            .bn-author{
                max-width: 140px;

                p{
                    br{
                        display: none;
                    }
                }
            }
        }
    }
   
    section.sec-core-tab .container .wrapper{
        padding: 0;
    }
   

    section.sec-core-tab .tab-container .tab-content#tab-4  .row{
        padding: 0;
        .head-wrap{
            // padding: 0 20px;
        }
    }


    section.sec-core-tab .tab-container .tab-content .row .row-wrap{
        padding: 0 20px;
    }

    section.sec-core-tab .tab-container .tab-content .row .core-overview h2{
        font-size: 20px;
        line-height: 24px;
    }
    section.sec-core-tab .tab-container .tab-content .row .inner-container {
        padding: 52px 20px;
    }
    section.sec-core-tab .tab-container .tab-content .row .core-overview .inner-row{
        padding-top: 52px;
    }
    section.sec-core-tab .tab-container .tab-content .row .core-overview .inner-row .inner-col .coll .roww .img-box{
        width: 24px;
        img{
            width: 14px;
        }
    }

}



@media screen and (max-width : 414px){

}

@media screen and (max-width : 350px){
    section.sec-core-bn .container .content h1.bn-title{
        font-size: 18px;
        line-height: 24px;
    }
}
