section.sec-resources-bn{
    background: url('../../images/inner-banner/impact-bn.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    &.banner-circle{
        .circle-container{
            // bottom: 60px;
                bottom: 50%;
                transform: translate(0px, 50%);

            .circle-line-wrap{
                right: -26px;
                bottom: -26px;
                z-index: 45;
                height: 508px;
                width: 508px;
            }
        }
        .inner-wrap{
        
            .circle-img{
                background: url(../../images/inner-banner/impact-small.png);
                background-size: cover;
                background-position: center center;
                width: 448px;
                height: 448px;
            }
        }
    }
    
}

// filter section 

section.sec-resources-filter{
    padding: 30px 0 0 0;
    z-index: 55;
    margin-bottom: 50px;
    
    .container{
        max-width: 1030px;

        .wrapper{
            padding: 0;
            position: relative;

            & > h2 {
                font-family: 'Noto Serif JP', serif;
                font-weight: 600;
                font-size: 24px;
                line-height: 34px;
                color: #004950;
            }

            .filter-wrapper {
                display: flex;
                padding-top: 35px;
            
                .filter-wrapper-container {
                    display: flex;
                    justify-content: center;
                    width: 100%;
            
                    .filter-col-1 {
                        width: 230px;

                        & > h3 {
                            font-size: 14px;
                            line-height: 19px;
                            text-transform: uppercase;
                            color: rgba(0, 0, 0, 0.8);
                            padding-bottom: 30px;
                            display: flex;
                            justify-content: space-between;
                            
                            .cta-clear-filter {
                                text-transform: none;
                                color: #004950;
                            }
                        }

                        .filter-box {
                            background-color: rgba(219,169,96,0.1);
                            padding: 20px 0;

                            & > ul {
                                & > li {
                                    border-top: 1px solid rgba(0, 0, 0, 0.1);
                                    padding: 20px;
                                    position: relative;
                                    display: flex;
                                    flex-wrap: wrap;

                                    &:first-child {
                                        padding-top: 0;
                                        border-top: none
                                    }

                                    &:last-child {
                                        padding-bottom: 0;
                                    }

                                    label {
                                        font-size: 14px;
                                        line-height: 19px;
                                        text-transform: uppercase;
                                        color: rgba(0, 0, 0, 0.8);
                                        display: inline-block;
                                        width: 85%;
                                        // padding-right: 18px;
                                        
                                        & ~ span {
                                            display: block;
                                            cursor: pointer;
                                            width: 15%;
                                            height: 20px;
                                            position: relative;
                                            
                                            &:before {
                                                content: '';
                                                position: absolute;
                                                right: 6px;
                                                top: 3px;
                                                width: 10px;
                                                height: 10px;
                                                border-top: 2px solid #696969;
                                                border-right: 2px solid #696969;
                                                transform: rotate(135deg);
                                                transition: 0.5s all ease;
                                                display: none;
                                            }
                                        }
                                    }

                                    &.has-child {
                                        & > label {
                                            & ~ span {
                                                &:before {
                                                    display: block;
                                                }
                                            }
                                        }
                                    }

                                    &.display-children {
                                        & > label {
                                            & ~ span {
                                                &:before {
                                                    top: 8px;
                                                    transform: rotate(-45deg);
                                                }
                                                
                                            }
                                        }
                                    }

                                    // &.selected {
                                    //     label {
                                    //         & ~ span {
                                    //             transform: translateY(-55%) rotate(135deg);
                                    //         }
                                    //     }
                                    // }

                                    &:not(:first-child) {
                                        ul {
                                            display: none;
                                        }
                                    }

                                    ul {
                                        padding-top: 20px;
                                        width: 100%;
                                        // display: none;

                                        & > li {
                                            display: flex;
                                            flex-wrap: wrap;
                                            align-items: center;
                                            position: relative;
                                            cursor: pointer;

                                            &:not(:first-child) {
                                                margin-top: 13px;
                                            }

                                            &.display-children {
                                                & > label {
                                                    & ~ span {
                                                        &:before {
                                                            top: 8px;
                                                            transform: rotate(-45deg);
                                                        }
                                                    }
                                                }
                                            }

                                            label {
                                                font-size: 13px;
                                                line-height: 16px;
                                                color: rgba(0, 0, 0, 0.8);
                                                padding-left: 23px;
                                                text-transform: none;
                                                cursor: pointer;
                                                position: relative;
                                                word-wrap: break-word;

                                                & > i {
                                                    position: absolute;
                                                    top: 50%;
                                                    left: 0;
                                                    width: 14px;
                                                    height: 14px;
                                                    border: 1px solid #6A7070;
                                                    border-radius: 3px;
                                                    background-color: #fff;
                                                    transform: translateY(-50%);
                                                    transition: 0.5s all ease;
    
                                                    &:before {
                                                        content: '';
                                                        position: absolute;
                                                        left: 1px;
                                                        bottom: -2px;
                                                        width: 100%;
                                                        height: 100%;
                                                        background: url('../../images/icon-tick.svg') no-repeat 0 0;
                                                    }
                                                }

                                                & ~ span {
                                                    &:before {
                                                        width: 8px;
                                                        height: 8px;
                                                        top: 8px;
                                                        transform: rotate(135deg);
                                                    }
                                                }
                                            }

                                            input[type=checkbox] {
                                                width: 14px;
                                                height: 14px;
                                                border: 1px solid #6A7070;
                                                border-radius: 3px;
                                                appearance: auto;
                                                visibility: hidden;
                                                position: absolute;
                                                top: 0;
                                                left: 0;

                                                &:checked {
                                                    & ~ label {
                                                        font-weight: 600;

                                                        & > i {
                                                            background-color: #004950;
                                                        }
                                                    }
                                                }
                                            }

                                            & > ul {
                                                padding-left: 20px;
                                                padding-bottom: 7px;
                                                padding-top: 13px;
                                                display: none;
                                            }

                                            &.has-child {
                                                & > label {
                                                    & ~ span {
                                                        &:before {
                                                            display: block;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
            
                    .filter-col-2 {
                        width: 800px;
                        overflow: hidden;
                        padding-left: 30px;
                        padding-top: 49px;

                        .filtered-value-wrapper {
                            margin-bottom: 30px;
                            display: none;
                            
                            ul {
                                display: flex;
                                flex-wrap: wrap;

                                li {
                                    border: 1px solid #004950;
                                    border-radius: 20px;
                                    font-size: 12px;
                                    letter-spacing: 0.1px;
                                    color: #004950;
                                    padding: 3px 25px 3px 10px;
                                    position: relative;
                                    margin-right: 8px;
                                    margin-bottom: 8px;
                                    text-transform: capitalize;
                                    cursor: pointer;

                                    & > span {
                                        position: absolute;
                                        right: 2px;
                                        top: 50%;
                                        width: 10px;
                                        height: 10px;
                                        transform: translateY(-50%);

                                        &:before,
                                        &:after {
                                            content: '';
                                            position: absolute;
                                            width: 1px;
                                            height: 100%;
                                            background-color: #004950;
                                            top: 0;
                                            left: 0;
                                        }

                                        &:before {
                                            transform: rotate(135deg);
                                        }

                                        &:after {
                                            transform: rotate(45deg);
                                        }
                                    }
                                }
                            }
                        }
            
                        .display-grid {
                            display: grid;
                            grid-template-columns: auto auto auto;
                            grid-row-gap: 30px;
            
                            .box {
                                width: 265px;
                                padding-right: 25px;
                                padding-bottom: 85px;
                                position: relative;
                                border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                                &.display-box {
                                    display: block !important;
                                }

                                &:last-child {
                                    border-bottom: none;
                                }

                                &.hide-box {
                                    display: none !important;
                                }

                                .img-box {
                                    margin-bottom: 20px;
                                }

                                .description {
                                    margin-bottom: 29px;
                                }

                                .description,
                                .cta-read-more {
                                    font-size: 14px;
                                    line-height: 19px;
                                    letter-spacing: 0.1px;
                                    color: rgba(0, 0, 0, 0.8);
                                }

                                .location-year-readmore-wrapper {
                                    position: absolute;
                                    bottom: 35px;
                                    left: 0;
                                    display: flex;
                                    flex-wrap: wrap;

                                    li {
                                        font-size: 13px;
                                        line-height: 18px;
                                        letter-spacing: 0.1px;
                                        color: #757575;
                                        position: relative;
                                        margin-left: 8px;
                                        padding-left: 11px;

                                        &:before {
                                            content: '';
                                            position: absolute;
                                            top: 50%;
                                            left: 0;
                                            width: 3px;
                                            height: 3px;
                                            border-radius: 50%;
                                            background-color: #808080;
                                            transform: translateY(-50%);
                                        }
                                    }

                                    .location {
                                        display: flex;
                                        flex-wrap: wrap;
                                        
                                        li:first-child {
                                            margin-left: 0;
                                            padding-left: 0;

                                            &:before {
                                                display: none;
                                            }
                                        }
                                    }

                                    .cta-read-more {
                                        width: 100%;
                                        color: #004950;
                                        margin-top: 10px;
                                        display: flex;
                                        align-items: center;

                                        & > span {
                                            display: inline-block;
                                            width: 21px;
                                            height: 21px;
                                            border: 1px solid #004950;
                                            border-radius: 50%;
                                            position: relative;
                                            margin-left: 10px;
                                            transition: 0.5s all ease;

                                            &:before,
                                            &:after {
                                                content: '';
                                                position: absolute;
                                                top: 50%;
                                                right: 4px;
                                            }
                                            
                                            &:before {
                                                transform: translateY(-50%) rotate(45deg);
                                                width: 8px;
                                                height: 8px;
                                                border-top: 1px solid #004950;
                                                border-right: 1px solid #004950;
                                                transition: 0.5s all ease;
                                            }

                                            &:after {
                                                width: 60%;
                                                height: 1px;
                                                background-color: #004950;
                                                transition: 0.5s all ease;
                                            }

                                            &:hover {
                                                background-color: #004950;

                                                &:before {
                                                    border-color: #fff;
                                                }

                                                &:after {
                                                    background-color: #fff;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .no-records-to-display-wrapper {
                            display: none;

                            & > p {
                                color: #757575;
                                font-style: italic;
                                font-size: 25px;
                            }
                        }

                        .pagination-wrapper {
                            display: flex;
                            justify-content: space-between;
                            border-top: 1px solid rgba(0, 0, 0, 0.1);
                            padding-top: 20px;

                            .pagination-count-wrapper {
                                font-size: 13px;
                                line-height: 18px;
                                letter-spacing: 0.1px;
                                color: #757575;
                            }

                            .pagination-box {
                                width: 165px;
                                margin-right: 35px;
                                border: 1px solid #E5EAEE;
                                border-right-color: transparent;
                                border-radius: 3px;

                                .pagination-pages {
                                    // display: flex;
                                    // border: 1px solid #E5EAEE;
                                    // border-right-color: transparent;
                                    // border-radius: 3px;
    
                                    .page {
                                        padding: 5px 12px;
                                        font-size: 12px;
                                        line-height: 16px;
                                        color: #757575;
                                        cursor: pointer;
                                        float: left;
                                        border-right: 1px solid #E5EAEE;
    
                                        &.active {
                                            color: #000000;
                                            background-color: #D1EEDF;
                                        }
                                        
                                    }

                                    .owl-nav {
                                        position: absolute;
                                        width: 128%;
                                        top: 0;
                                        transform: translateX(-13%);

                                        & > button {
                                            position: absolute;
                                            top: 0;
                                            width: 26px;
                                            height: 26px;
                                            // border: 1px solid #E5EAEE;

                                            &:before {
                                                content: '';
                                                position: absolute;
                                                top: 30%;
                                                left: 0;
                                                width: 15px;
                                                height: 15px;
                                                border-top: 1px solid #004950;
                                                border-right: 1px solid #004950;
                                            }
                                            
                                            &:first-child {
                                                &:before {
                                                    transform: rotate(-135deg);
                                                }
                                                
                                                // border: 1px solid #E5EAEE;
                                                // border-right-color: transparent;
                                            }

                                            &:last-child {
                                                right: -15px;
                                                
                                                &:before {
                                                    right: 0;
                                                    transform: rotate(45deg);
                                                }
                                                
                                                // border: 1px solid #E5EAEE;
                                                // border-left-color: transparent;
                                            }

                                            & > span {
                                                color: #004950;
                                                font-size: 35px;
                                                display: none;
                                            }
                                        }
                                    }
                                }
                            }
                            
                            
                        }
                    }
                }
            }
        }

    }
}
    

    



@media screen and (max-width : 1280px){}
