section.sec-resources-bn{
    background: url('../../images/inner-banner/impact-bn.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    &.banner-circle{
        .circle-container{
            // bottom: 60px;
                bottom: 50%;
                transform: translate(0px, 50%);

            .circle-line-wrap{
                right: -26px;
                bottom: -26px;
                z-index: 45;
                height: 508px;
                width: 508px;
            }
        }
        .inner-wrap{
        
            .circle-img{
                background: url(../../images/inner-banner/impact-small.png);
                background-size: cover;
                background-position: center center;
                width: 448px;
                height: 448px;
            }
        }
    }
    
}

// filter section 

section.sec-resources-filter{
    padding: 0;
    z-index: 55;
    
    .container{
        .wrapper{
            padding: 0;
            position: relative;

            .filter-wrapper {
                display: flex;
            
                .filter-wrapper-container {
                    display: flex;
                    justify-content: space-between;
            
                    .filter-col-1 {
                        width: 18%;
                    }
            
                    .filter-col-2 {
                        width: 80%;
                        overflow: hidden;
            
                        .display-grid {
                            display: grid;
                            grid-template-columns: auto auto auto;
            
                            .box {
                                width: 265px;
                                padding-right: 25px;
                            }
                        }
                    }
                }
            }
        }

    }
}
    

    



@media screen and (max-width : 1280px){}
