section.sec-abt-bn{
    position: relative;
    display: block;
    height: 564px;

    background: url(../../images/slider.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;

    &.bn-1{
        background-color: #004950;
    }
    &.bn-2{
        background-color: red;
    }

    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 33;
        // background-color: rgba(77, 37, 3, .3);
        opacity: 0.75;
        background: linear-gradient(318.03deg, #7A9B0D 0%, #004950 100%);
    
    }

    .container{
        z-index: 44;
        .content{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 100%;
            h1{
                color: #FFFFFF;
                font-family: 'Noto Serif JP', serif;
                // text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.55);
                
                font-size: 24px;
                font-weight: 400;
                letter-spacing: 0;
                line-height: 36px;
                z-index: 44;
    
                span{
                    font-size: 36px;
                    font-weight: 600;
                    line-height: 51px;
                }
            }
        }
    }
    
    .circle-container{
        position: absolute;
        right: 144px;
        bottom: -60px;
        z-index: 44;

        .inner-wrap{
            position: relative;
            
            .circle-img{
                background: url(../../images/slider.jpg);
                background-size: auto;
                background-repeat: no-repeat;
                background-position: center;
                width: 475px;
                height: 475px;
                border-radius: 50%;
            }
        }
    }
}


section.sec-abt-tab{
    padding: 120px 0px;
    .container{

        ul.tabs {
            height: 32px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 542px;

            li{
                position: relative;
                padding-right: 0px;
                transition: 50ms ease-out;
                -webkit-transition: 50ms ease-out;
                -moz-transition: 50ms ease-out;
                -ms-transition: 50ms ease-out;
                -o-transition: 50ms ease-out;  

                a{
                    color: #000000;
                    opacity: 0.6;
                    font-family: "Open Sans";
                    font-size: 18px;
                    letter-spacing: 0px;
                    line-height: 24px;
                    cursor: pointer;
                    @include transition(.3s ease-in-out);;
                }
                &:hover{
                    transition: 50ms ease-out;
                    -webkit-transition: 50ms ease-out;
                    -moz-transition: 50ms ease-out;
                    -ms-transition: 50ms ease-out;
                    -o-transition: 50ms ease-out;

                    a{
                        color: #004950;
                        opacity: 1;
                    }
                }
                &.current{
                    a{
                        color: #004950;
                        font-weight: bold;
                        font-size: 21px;
                        line-height: 28px;
                        opacity: 1;
                    }
                }
                
                &:after {
                    content: '';
                    display: block;
                    width: calc(0% - 0px);
                    position: absolute;
                    height: 2px;
                    background: #333;
                    transition: width 350ms ease-out;
                }

                &:hover:after {
                    width: calc(100% - 0px);
                    transition: width 350ms ease-out;
                }
                &.current:after {
                    width: calc(100% - 0px);
                }

                
            }
        }
        .tab-content {
            padding-top: 48px;
            display: none;
            &.current {
                display: inherit;
            }
            h1{
                text-align: left;
                text-transform: uppercase;
                margin-bottom: 30px;
            }
        }
    }
}