:root {
    --brand-primary: #fe413f;
    --brand-secondary: gray;

    --brand-heading: "DM Serif Text", serif;

    --brand-primary-font: "Urbanist", sans-serif;

    --brand-secondary-font: "Yantramanav", sans-serif;

    --site-bg-color: #000;
    --site-link-color: #fff;
    --site-link-hover-color: #fe413f;
    --site-text-color: #fff;

    //Colors
    --brand-grey: #ebebeb;
}
