header {
  padding: 12px 55px;
  z-index: 10;
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%; }
  header.active {
    padding: 0; }
  header .hamburger {
    display: none;
    position: absolute;
    width: 48px;
    height: 48px;
    top: 50%;
    right: 10%;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 10px 0 rgba(206, 206, 206, 0.3);
    box-shadow: 0 5px 10px 0 rgba(206, 206, 206, 0.3);
    border-radius: 50%;
    margin-top: 24px; }
    header .hamburger:hover {
      background: #f3f3f3;
      cursor: pointer; }
    header .hamburger.active {
      display: block; }
    header .hamburger.open .icon {
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      background: transparent; }
      header .hamburger.open .icon:before {
        -webkit-transform: rotateZ(45deg) scaleX(1.25) translate(5px, 5px);
        -ms-transform: rotate(45deg) scaleX(1.25) translate(5px, 5px);
        transform: rotateZ(45deg) scaleX(1.25) translate(5px, 5px); }
      header .hamburger.open .icon:after {
        -webkit-transform: rotateZ(-45deg) scaleX(1.25) translate(5px, -5px);
        -ms-transform: rotate(-45deg) scaleX(1.25) translate(5px, -5px);
        transform: rotateZ(-45deg) scaleX(1.25) translate(5px, -5px); }
    header .hamburger .icon {
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      position: absolute;
      height: 3px;
      width: 24px;
      top: 24px;
      background-color: #212121;
      border-radius: 4px;
      left: 12px; }
      header .hamburger .icon:before {
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        position: absolute;
        width: 24px;
        height: 3px;
        background-color: #212121;
        content: "";
        top: -8px;
        border-radius: 4px; }
      header .hamburger .icon:after {
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        position: absolute;
        width: 24px;
        height: 3px;
        background-color: #212121;
        content: "";
        top: 8px;
        border-radius: 4px; }
  header .container {
    position: unset; }
    header .container .flex-wrap .logo.active {
      display: none; }
    header .container .flex-wrap .logo a {
      display: block; }
      header .container .flex-wrap .logo a img {
        width: 108px;
        height: auto; }
    header .container .flex-wrap .menu-wrap.active {
      display: none; }
    header .container .flex-wrap .menu-wrap.open {
      display: block !important;
      position: absolute;
      top: 0;
      left: 0;
      background: #9D9D9D;
      width: 100%;
      padding: 150px 50px;
      height: 100vh;
      color: #fff; }
      header .container .flex-wrap .menu-wrap.open nav {
        max-width: 1180px;
        width: 100%;
        margin: 0 auto; }
        header .container .flex-wrap .menu-wrap.open nav ul.menu > li {
          width: calc(100% / 5 - 24px); }
          header .container .flex-wrap .menu-wrap.open nav ul.menu > li:after {
            content: '';
            display: none; }
          header .container .flex-wrap .menu-wrap.open nav ul.menu > li:before {
            content: '';
            width: 1px;
            height: 380px;
            background: #fff;
            position: absolute;
            top: 0;
            right: 0; }
          header .container .flex-wrap .menu-wrap.open nav ul.menu > li:hover > a {
            font-weight: normal; }
          header .container .flex-wrap .menu-wrap.open nav ul.menu > li > a {
            color: #fff;
            font-family: "Noto Serif JP";
            font-size: 24px;
            font-weight: 600;
            letter-spacing: 0.34px;
            line-height: 35px; }
          header .container .flex-wrap .menu-wrap.open nav ul.menu > li ul.dropdown {
            display: block !important;
            background: no-repeat !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important; }
            header .container .flex-wrap .menu-wrap.open nav ul.menu > li ul.dropdown li a {
              color: #fff;
              font-size: 14px;
              line-height: 19px; }
    header .container .flex-wrap .menu-wrap nav ul.menu > li {
      position: relative;
      padding-right: 30px;
      width: 80px;
      transition: 50ms ease-out;
      -webkit-transition: 50ms ease-out;
      -moz-transition: 50ms ease-out;
      -ms-transition: 50ms ease-out;
      -o-transition: 50ms ease-out; }
      header .container .flex-wrap .menu-wrap nav ul.menu > li:last-child {
        padding-right: 0; }
      header .container .flex-wrap .menu-wrap nav ul.menu > li > a {
        text-transform: uppercase;
        color: #000000;
        font-family: "Open Sans";
        font-size: 14px;
        letter-spacing: 0.2px;
        line-height: 19px;
        cursor: pointer; }
      header .container .flex-wrap .menu-wrap nav ul.menu > li.active, header .container .flex-wrap .menu-wrap nav ul.menu > li:hover {
        transition: 50ms ease-out;
        -webkit-transition: 50ms ease-out;
        -moz-transition: 50ms ease-out;
        -ms-transition: 50ms ease-out;
        -o-transition: 50ms ease-out; }
        header .container .flex-wrap .menu-wrap nav ul.menu > li.active > a, header .container .flex-wrap .menu-wrap nav ul.menu > li:hover > a {
          color: #004950;
          font-weight: bold; }
      header .container .flex-wrap .menu-wrap nav ul.menu > li:after {
        content: '';
        display: block;
        width: calc(0% - 30px);
        position: absolute;
        height: 2px;
        background: #333;
        -webkit-transition: width 350ms ease-out;
        -o-transition: width 350ms ease-out;
        transition: width 350ms ease-out; }
      header .container .flex-wrap .menu-wrap nav ul.menu > li:hover:after {
        width: calc(100% - 30px);
        -webkit-transition: width 350ms ease-out;
        -o-transition: width 350ms ease-out;
        transition: width 350ms ease-out; }
      header .container .flex-wrap .menu-wrap nav ul.menu > li.active:after {
        width: calc(100% - 30px); }
      header .container .flex-wrap .menu-wrap nav ul.menu > li:last-child:after {
        width: calc(0%); }
      header .container .flex-wrap .menu-wrap nav ul.menu > li:last-child:hover:after {
        width: calc(100%); }
      header .container .flex-wrap .menu-wrap nav ul.menu > li:last-child.active:after {
        width: calc(100%); }
      header .container .flex-wrap .menu-wrap nav ul.menu > li:hover ul.dropdown {
        display: block; }
      header .container .flex-wrap .menu-wrap nav ul.menu > li ul.dropdown {
        padding: 20px 30px;
        display: none;
        position: absolute;
        top: 100%;
        left: -30px;
        border-radius: 0 0 5px 5px;
        background-color: #FFFFFF;
        -webkit-box-shadow: 0 5px 10px 0 rgba(206, 206, 206, 0.3);
        box-shadow: 0 5px 10px 0 rgba(206, 206, 206, 0.3); }
        header .container .flex-wrap .menu-wrap nav ul.menu > li ul.dropdown li {
          width: 130px;
          padding-bottom: 12px; }
          header .container .flex-wrap .menu-wrap nav ul.menu > li ul.dropdown li:last-child {
            padding-bottom: 0px; }
          header .container .flex-wrap .menu-wrap nav ul.menu > li ul.dropdown li a {
            color: #000000;
            font-family: "Open Sans";
            font-size: 14px;
            line-height: 19px;
            cursor: pointer;
            width: 100%;
            display: block; }
          header .container .flex-wrap .menu-wrap nav ul.menu > li ul.dropdown li:hover a {
            font-weight: 600;
            color: #004950;
            -webkit-transition: 50ms ease-out;
            -o-transition: 50ms ease-out;
            transition: 50ms ease-out; }
