/*@import "./fonts";*/
/*@import "./variables";*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
hr,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

:focus {
  outline: 0; }

em {
  font-style: italic; }

a {
  text-decoration: none;
  cursor: pointer; }
  a:active, a:focus, a:hover {
    outline: 0;
    text-decoration: none; }
  a.disabled {
    cursor: not-allowed; }

html[xmlns] .clearfix {
  display: block; }

input:disabled {
  cursor: not-allowed; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*@import "./partials/plugins/jscrollpane";*/
/*@import "./partials/plugins/youtube-background";*/
@font-face {
  font-family: 'futuramedium';
  src: url("../fonts/futura-webfont.woff2") format("woff2"), url("../fonts/futura-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Futura-Bold';
  src: url("../fonts/Futura-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Futura-Bold.otf") format("opentype"), url("../fonts/Futura-Bold.woff") format("woff"), url("../fonts/Futura-Bold.ttf") format("truetype"), url("../fonts/Futura-Bold.svg#Futura-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'futura_hv_btheavy';
  src: url("../fonts/futurah-webfont.woff2") format("woff2"), url("../fonts/futurah-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Futura Bk BT';
  src: url("../fonts/Futura Bk BT Book.eot");
  src: url("../fonts/Futura Bk BT Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Futura Bk BT Book.woff2") format("woff2"), url("../fonts/Futura Bk BT Book.woff") format("woff"), url("../fonts/Futura Bk BT Book.ttf") format("truetype"), url("../fonts/Futura Bk BT Book.otf") format("opentype"), url("../fonts/Futura Bk BT Book.svg#Futura Bk BT Book") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-02DC; }

/*@font-face {
    font-family:'Arial';
    src: url('../fonts/Arial Bold.eot');
    src: url('../fonts/Arial Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Arial Bold.woff2') format('woff2'),
        url('../fonts/Arial Bold.woff') format('woff'),
        url('../fonts/Arial Bold.ttf') format('truetype'),
        url('../fonts/Arial Bold.otf') format('opentype'),
        url('../fonts/Arial Bold.svg#Arial Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}


@font-face {
    font-family:'d';
    src: url('../fonts/d.eot');
    src: url('../fonts/d.eot?#iefix') format('embedded-opentype'),
        url('../fonts/d.woff2') format('woff2'),
        url('../fonts/d.woff') format('woff'),
        url('../fonts/d.ttf') format('truetype'),
        url('../fonts/d.otf') format('opentype'),
        url('../fonts/d.svg#d') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}


*/
@font-face {
  font-family: 'Arial Narrow';
  src: url("../fonts/Arial Narrow.eot");
  src: url("../fonts/Arial Narrow.eot?#iefix") format("embedded-opentype"), url("../fonts/Arial Narrow.woff2") format("woff2"), url("../fonts/Arial Narrow.woff") format("woff"), url("../fonts/Arial Narrow.ttf") format("truetype"), url("../fonts/Arial Narrow.otf") format("opentype"), url("../fonts/Arial Narrow.svg#Arial Narrow") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: condensed;
  unicode-range: U+0020-02DC; }

@font-face {
  font-family: 'Arial Narrow';
  src: url("../fonts/Arial Narrow Bold.eot");
  src: url("../fonts/Arial Narrow Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Arial Narrow Bold.woff2") format("woff2"), url("../fonts/Arial Narrow Bold.woff") format("woff"), url("../fonts/Arial Narrow Bold.ttf") format("truetype"), url("../fonts/Arial Narrow Bold.otf") format("opentype"), url("../fonts/Arial Narrow Bold.svg#Arial Narrow Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: condensed;
  unicode-range: U+0020-02DC; }

* {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  overflow-y: auto;
  font-size: 24px; }
  @media (max-width: 1600px) {
    html {
      font-size: 24px; } }
  @media (max-width: 1440px) {
    html {
      font-size: 22px; } }
  @media (max-width: 1366px) {
    html {
      font-size: 20px; } }
  @media (max-width: 1280px) {
    html {
      font-size: 19px; } }
  @media (max-width: 991px) {
    html {
      font-size: 16px; } }
  @media (max-width: 767px) {
    html {
      font-size: 16px; } }

body {
  font-size: 1rem;
  font-family: "futuramedium";
  line-height: 1; }
  @media (max-width: 767px) {
    body {
      font-size: 1.25rem; } }

.overlay {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  opacity: 0.2;
  width: 100%;
  z-index: 1; }
  .overlay img {
    width: 100%; }

main {
  background: #fff;
  max-width: 1600px;
  margin: 0 auto;
  width: 100%; }
  main .dyBan {
    position: relative; }
    main .dyBan .slick-slide {
      text-align: center; }
      main .dyBan .slick-slide img {
        /*display: inline-block;*/
        /*max-width: 1600px;*/
        width: 100%; }
    main .dyBan ul {
      display: inline;
      width: auto;
      position: absolute;
      bottom: 70px;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0); }
      main .dyBan ul li {
        display: inline-block; }
        main .dyBan ul li button {
          border: none;
          background: none;
          text-indent: -999px;
          overflow: hidden;
          width: 10px;
          height: 10px;
          background: rgba(255, 255, 255, 0.5);
          border-radius: 50px;
          margin: 0 5px;
          float: left; }
        main .dyBan ul li.slick-active button {
          background: white; }
  main section.bannerBtm {
    /*background: #ec008c;
        border-radius: 0 0 50px 50px;*/
    background: url(../img/pink-bg.png) no-repeat center;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    width: 71.25%;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 206px;
    /* &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 40px;
            background: #fff;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        }*/ }
    main section.bannerBtm p {
      color: #feecdd;
      font-family: "futura_hv_btheavy";
      font-size: 1.8rem; }
    main section.bannerBtm.vl {
      background: url(../img/voilet--bg.png) no-repeat center;
      height: 194px; }
      main section.bannerBtm.vl p {
        line-height: 1.24; }
  main section.need2look {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #deeaac;
    margin: 171px 0 0;
    padding: 0 0 45px; }
    main section.need2look .title {
      background: url(../img/bg-title.png) no-repeat center top;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      max-width: 1172px;
      width: 73.25%;
      height: 186px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-family: "futura_hv_btheavy";
      font-size: 2rem;
      letter-spacing: 1px;
      padding: 0 0 35px;
      text-align: center;
      line-height: 1.3;
      margin: -75px 0 0 0; }
    main section.need2look .row {
      display: none;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      width: 1341px; }
      main section.need2look .row.des {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        main section.need2look .row.des .box {
          width: 33%; }
      main section.need2look .row .box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        /*justify-content: center;*/
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 30px 0 8px; }
        main section.need2look .row .box .img {
          margin: 0 0 14px; }
        main section.need2look .row .box h3 {
          font-family: "Futura-Bold";
          font-size: 1.17rem;
          letter-spacing: 1px;
          margin: 0 0 11px; }
        main section.need2look .row .box p {
          font-family: "Futura Bk BT";
          font-size: 1.2rem;
          line-height: 1.2;
          text-align: center;
          letter-spacing: 1px; }
          main section.need2look .row .box p sup {
            margin: -5px 0 0;
            font-size: 12px; }
        main section.need2look .row .box:nth-child(4), main section.need2look .row .box:nth-child(5), main section.need2look .row .box:nth-child(6) {
          margin: 45px 0 0; }
          main section.need2look .row .box:nth-child(4) .img, main section.need2look .row .box:nth-child(5) .img, main section.need2look .row .box:nth-child(6) .img {
            margin: 0 0 19px; }
      main section.need2look .row .col {
        width: 33%; }
  main section.stepUp {
    text-align: center;
    margin: 62px 0 0; }
    main section.stepUp img {
      width: 47.31%; }
  main section.vaccine {
    text-align: center;
    margin: 61px 0 63px; }
    main section.vaccine img {
      width: 80.81%; }
  main section.copyright-references {
    background: #e1e3f3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 43px 0 0; }
    main section.copyright-references p {
      font-family: arial;
      font-size: 1.125rem;
      text-align: center;
      line-height: 1.4; }
      main section.copyright-references p.button {
        /*background: #fff;
                border-radius: 15px;
                padding: 15px 22px 10px;
                font-family: arial;
                font-weight: bold;
                position: relative;*/
        margin: 55px 0 78px;
        /*font-size: 1rem;*/
        /*span {
                    img {
                        position: absolute;
                        top: 50%;
                        transform: translate(0, -50px);
                    }       
                }*/ }
        main section.copyright-references p.button a {
          color: #000; }
        main section.copyright-references p.button img {
          /*margin: -45px 0 -31px;*/ }
    main section.copyright-references .reference p {
      font-family: 'Arial Narrow';
      font-size: 0.67rem;
      line-height: 1.616; }
      main section.copyright-references .reference p:nth-child(2) {
        margin: 34px 0 19px; }
      main section.copyright-references .reference p:last-child {
        margin: 0 0 26px;
        font-size: 0.542rem; }
  main section.issued {
    text-align: center;
    padding: 62px 0; }

@media (max-width: 1440px) {
  main section.bannerBtm,
  main section.bannerBtm.vl {
    background-size: contain;
    background-position: top center;
    height: 184px; }
  main section.copyright-references p.button {
    width: 90%; }
  main section.copyright-references p.button img {
    width: 100%; }
  main section.need2look .title {
    background-size: contain;
    height: 170px; }
  main section.need2look .row .box .img img {
    width: 150px; } }

@media (max-width: 1280px) {
  main section.need2look .row {
    width: 95%; } }

@media (max-width: 991px) {
  main section.vaccine img {
    max-width: 95%; }
  main section.need2look .row {
    width: 95%; }
  main section.need2look .title {
    background-size: contain;
    height: 120px;
    padding: 0 0 30px;
    font-size: 1.8rem;
    line-height: 1.2;
    margin: -49px 0 0 0; }
  main section.bannerBtm,
  main section.bannerBtm.vl {
    height: 128px; }
  main .dyBan ul {
    bottom: 50px; }
  main section.copyright-references p.button img {
    margin: -40px 0 -21px;
    /*width: 150px;*/ }
  main section.copyright-references p.button {
    margin: 35px 0 48px; } }

@media (max-width: 767px) {
  main section.need2look .row.des {
    display: none; }
  main section.need2look .row.mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    main section.need2look .row.mob .slick-arrow {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 30px; }
      main section.need2look .row.mob .slick-arrow.prevArr {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg); }
  main section.bannerBtm,
  main section.bannerBtm.vl {
    height: 116px;
    width: 89.17%; }
  main section.bannerBtm {
    height: 125px; }
  main section.copyright-references p {
    width: 85%; }
  main section.issued img {
    width: 34.17%; }
  main section.vaccine img,
  main section.vaccine picture {
    width: 100%;
    max-width: unset; }
  main section.need2look {
    margin: 86px 0 0; }
  main section.need2look .title {
    padding: 0 0 25px;
    font-size: 1.55rem;
    width: 91.46%; }
  main section.need2look .row .box .img img {
    width: 100%; }
  main section.need2look .row .box .img {
    margin: 0 0 29px; }
  main section.need2look .row .box .img img {
    margin: 0 auto;
    width: 100%; }
  main section.need2look .row .box h3 {
    font-size: 1.78rem;
    letter-spacing: 1px; }
  main section.need2look .row .box p {
    font-size: 1.7rem;
    width: 76%; }
  /*main section.need2look .row .box p br {
        display: none;
    }*/
  main section.need2look .row .box:last-child {
    margin: 42px 0 0; }
  main section.need2look .row .box:last-child p {
    width: 85%; }
  main section.stepUp {
    margin: 40px 0 0; }
  main section.stepUp img {
    width: 53%; }
  main section.vaccine {
    margin: 28px 0 24px; }
  main section.copyright-references {
    padding: 21px 0 0; }
  main section.copyright-references .reference p {
    margin: 0 auto;
    line-height: 1.1; }
  main section.copyright-references > p:first-child {
    line-height: 1.3;
    width: 76%; }
  main section.copyright-references > p:first-child br {
    display: none; }
  main section.copyright-references .reference p:nth-child(2) {
    margin: 13px auto 19px; }
  main section.copyright-references p.button {
    margin: 22px 0 62px;
    width: 93.8%; }
  main section.copyright-references .reference p:last-child {
    margin: 0 auto 26px; }
  main section.copyright-references .reference p:nth-child(2) br {
    display: none; }
  main section.copyright-references .reference p:nth-child(3) {
    width: 85%; }
  /*main section.copyright-references .reference p:last-child {
        margin: 0 auto 12px;
    }*/
  main section.issued {
    padding: 24px 0; } }

@media (max-width: 680px) {
  main section.bannerBtm p {
    font-size: 1.5rem; }
  main section.need2look .title {
    padding: 0 0 39px;
    font-size: 1.40rem;
    width: 90%; }
  main section.need2look .row .box .img img {
    width: 90%; }
  main section.need2look .row .box {
    margin: 13px 0 0; }
  main section.need2look .row .box .img {
    margin: 0 0 18px; }
  main section.need2look .row .box h3 {
    font-size: 1.59rem; }
  main section.need2look .row .box p {
    font-size: 1.55rem;
    width: 81%; }
  main section.need2look .row .box:last-child p {
    width: 86%; }
  main section.need2look .row .box:last-child {
    margin: 38px 0 0; }
  main section.need2look .row .box:last-child .img {
    margin: 0 0 23px; }
  main section.need2look {
    padding: 0 0 40px; }
  main section.bannerBtm,
  main section.bannerBtm.vl {
    height: 116px; }
  main section.bannerBtm {
    height: 109px; }
  main section.bannerBtm.vl p {
    font-size: 1.46rem; }
  main section.stepUp {
    margin: 15px 0 0; }
  main section.copyright-references {
    padding: 20px 0 0; }
  main section.copyright-references > p:first-child {
    font-size: 1rem; }
  main section.copyright-references p.button {
    margin: 17px 0 59px; }
  main section.vaccine {
    margin: 28px 0 20px; } }

@media (max-width: 480px) {
  main .dyBan ul {
    bottom: 31px; }
  main section.bannerBtm p {
    font-size: 1.1rem; }
  main section.bannerBtm {
    height: 77px; }
  main section.need2look {
    margin: 60px 0 0;
    padding: 0 0 25px; }
  main section.need2look .title {
    margin: -35px 0 0;
    font-size: 0.93rem;
    height: 96px;
    line-height: 1.27; }
  main section.need2look .row .box {
    margin: 0; }
  main section.need2look .row .box .img {
    margin: 0 0 14px; }
  main section.need2look .row .box .img img {
    width: 63%; }
  main section.need2look .row .box h3 {
    font-size: 1.1rem;
    margin: 0 0 7px; }
  main section.need2look .row .box p {
    font-size: 1.1rem;
    width: 85%; }
  main section.need2look .row .box:last-child {
    margin: 26px 0 0; }
  main section.need2look .row .box:last-child .img {
    margin: 0 0 19px; }
  main section.need2look .row .box:last-child p {
    width: 92%; }
  main section.bannerBtm.vl p {
    font-size: 1.06rem; }
  main section.bannerBtm.vl {
    height: 74px; }
  main section.stepUp {
    margin: 19px 0 0; }
  main section.vaccine {
    margin: 17px 0 14px; }
  main section.copyright-references > p:first-child {
    width: 90%;
    font-size: 0.8rem;
    line-height: 1.1; }
  main section.copyright-references {
    padding: 12px 0 0; }
  main section.copyright-references p.button {
    margin: 2px 0 44px; }
  main section.copyright-references .reference p {
    font-size: 0.6rem; } }

@media (max-width: 414px) {
  main section.bannerBtm {
    height: 67px; }
  main section.bannerBtm p {
    font-size: 0.9rem; }
  main section.need2look {
    margin: 51px 0 0; }
  main section.need2look .title {
    margin: -29px 0 0;
    height: 58px;
    font-size: 0.8rem;
    padding: 0 0 10px; }
  main section.need2look .row .box {
    margin: 22px 0 0; }
  main section.need2look .row .box .img img {
    width: 55%; }
  main section.need2look .row .box .img {
    margin: 0 0 11px; }
  main section.need2look .row .box h3 {
    font-size: 1rem; }
  main section.need2look .row .box p {
    width: 100%;
    font-size: 0.90rem; }
  main section.need2look .row .box:last-child .img {
    margin: 0 0 12px; }
  main section.bannerBtm.vl {
    height: 63px; }
  main section.bannerBtm.vl p {
    font-size: 0.9rem; }
  main section.vaccine {
    margin: 12px 0 13px; } }
