/** default css starts **/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Work Sans', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    letter-spacing: -0.40px;
    font-size: 62.5%;
}

body {
    background-color: #dadada;
    line-height: inherit;
}


/** default css ends **/

@font-face {
    font-family: 'wash_your_handregular';
    src: url('../fonts/wash_your_hand-webfont.woff2') format('woff2'),
         url('../fonts/wash_your_hand-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_bk_btbook';
    src: url('../fonts/tt0140m_-webfont.woff2') format('woff2'),
         url('../fonts/tt0140m_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_bkbold';
    src: url('../fonts/ftrabd_-webfont.woff2') format('woff2'),
         url('../fonts/ftrabd_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_hv_btheavy';
    src: url('../fonts/futurah-webfont.woff2') format('woff2'),
         url('../fonts/futurah-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.display-flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-space-between {
    justify-content: space-between;
}

.align-items-end {
    align-items: flex-end;
}

.pd-wrapper {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
}

.pd-wrapper p {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding-bottom: 0;
}

.pd-wrapper img {
    vertical-align: inherit;
}

.pd-banner-wrapper {
    background: url('../images/banner-background-gradient.jpg') repeat-x 0 0;
    background-size: contain;
    border-bottom: 75px solid #00adef;
}

.pd-banner-wrapper-bg {
    background: url('../images/banner-bg.jpg') no-repeat 0 0;
    background-size: cover;
}

.pd-logo {
    margin: 54px 45px 76px 0;
}

.pd-logo > img, .pd-banner-tagline > img {
    max-width: 100%;
    width: fit-content;
}

.pd-banner-content {
    width: 53%;
}

.pd-banner-text {
    font-family: 'wash_your_handregular';
    font-size: 6.875rem;
    color: #fff200;
    margin: 0 153px 56px 0;
}

.pd-banner-tagline {
    width: 100%;
}

.pd-announcement-wrapper {
    background: url('../images/announcement-wrapper-bg.png') no-repeat 0 0;
    background-size: contain;
    width: 87%;
    margin: 0 auto;
    font-family: 'futura_bk_btbook';
    color: #26247b;
    transform: translateY(-39px);
    text-align: center;
    padding: 33px 60px 28px 60px;
}

.pd-announcement-wrapper > .pd-heading {
    font-size: 5.833rem;
    margin-bottom: 10px;
}

.pd-announcement-wrapper > .pd-description {
    font-family: 'futura_bkbold';
    font-size: 3.958rem;
    width: 75%;
    margin: 0 auto;
}

.pd-note-wrapper {
    margin-bottom: 94px;
}

.pd-note-wrapper > .pd-description {
    font-family: 'futura_hv_btheavy';
    font-size: 3.958rem;
    color: #3a3a3a;
    width: 75%;
    text-align: center;
    margin: 0 auto;
}

.pd-note-wrapper > .pd-description > span {
    color: #26247b;
}

.pd-why-booster-wrapper {
    margin: 0 45px 140px 45px;
}

.pd-why-booster-wrapper-content {
    background-color: #f5f6cb;
    padding: 54px 65px 30px 54px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    margin-bottom: 116px;
}

.pd-why-booster-wrapper-content > .pd-heading {
    font-family: 'wash_your_handregular';
    font-size: 6.25rem;
    color: #ed1651;
    text-align: center;
}

.pd-why-booster-wrapper-content > .pd-columnar-wrapper {
    text-align: center;
    color: #58595b;
}

.pd-why-booster-wrapper-content > .pd-columnar-wrapper > .column {
    width: 45%;
}

.pd-why-booster-wrapper-content > .pd-columnar-wrapper > .column > .pd-banner {
    margin-bottom: 10px;
}

.pd-why-booster-wrapper-content > .pd-columnar-wrapper > .column > .pd-banner > img {
    width: fit-content;
    max-width: 100%;
}

.pd-why-booster-wrapper-content > .pd-columnar-wrapper > .column > .pd-heading {
    font-family: 'futura_bkbold';
    font-size: 2.917rem;
    margin-bottom: 10px;
}

.pd-why-booster-wrapper-content > .pd-columnar-wrapper > .column > .pd-description {
    font-family: 'futura_bk_btbook';
    font-size: 2.5rem;
}

.pd-why-booster-wrapper-content > .pd-columnar-wrapper > .column > .pd-description > sup {
    font-size: 1.5rem;
}

.pd-booster-infographic > img {
    width: fit-content;
    max-width: 100%;
    margin: 0 auto;
}

.pd-get-booster-wrapper {
    /* margin-bottom: 100px; */
}

.pd-get-booster-wrapper > .pd-dont-wait-vaccinate-wrapper {
    background-color: #2e3092;
    width: 65%;
    padding: 36px 0 18px 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
}

.pd-get-booster-wrapper > .pd-dont-wait-vaccinate-wrapper > .pd-heading {
    font-family: 'futura_bkbold';
    font-size: 7.083rem;
    margin-bottom: 20px;
    color: #fff;
}

.pd-get-booster-wrapper > .pd-dont-wait-vaccinate-wrapper > .pd-description {
    position: relative;
    font-family: 'futura_bk_btbook';
    font-size: 5.833rem;
    color: #fff200;
    padding-top: 30px;
}

.pd-get-booster-wrapper > .pd-dont-wait-vaccinate-wrapper > .pd-description:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 98%;
    height: 11px;
    background: url('../images/separator.png') repeat-x 0 0;
    transform: translateX(-50%);
}

.pd-get-booster-wrapper > .pd-dont-wait-vaccinate-wrapper > .pd-description > span {
    font-weight: bold;
}

.pd-booster-guide-wrapper {
    width: 500px;
    height: 500px;
    background-color: #ed1651;
    border-radius: 50%;
    margin: -230px auto 100px auto;
    border: 15px solid #f26d7d;
    text-align: center;
    padding: 0 30px;
}

.pd-booster-guide-wrapper > a {
    color: #fff;
    font-family: 'futura_bk_btbook';
    font-size: 4.283rem;
    line-height: 4.3rem;
    padding-top: 220px;
    text-decoration: none;
    width: 95%;
    margin: 0 auto;
}

.pd-booster-guide-wrapper > a > span {
    font-family: 'futura_hv_btheavy';
}

.pd-booster-guide-wrapper > a > span.pd-click-here {
    display: block;
    font-size: 6.267rem;
    line-height: 6.4rem;
    margin-bottom: 15px;
}

.pd-get-booster-guide-wrapper {
    background-color: #0095da;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    font-family: 'wash_your_handregular';
    color: #fff200;
    font-size: 5.833rem;
    line-height: 7rem;
    text-align: center;
    margin: 0 auto;
    padding: 30px 140px;
}

.pd-get-booster-guide-wrapper > .pd-description > span {
    font-weight: bold;
    color: #fff;
}

.pd-footer-wrapper {
    background-color: #ffe500;
    padding: 60px 90px 37px 90px;
    text-align: center;
}

.pd-footer-wrapper .pd-heading {
    font-family: 'wash_your_handregular';
    font-size: 5.152rem;
    color: #4f5ca5;
    margin-bottom: 50px;
}

.pd-footer-wrapper .pd-heading > img {
    display: inline-block;
    transform: translateY(5px);
}

.pd-footer-wrapper > a {
    font-family: 'futura_bk_btbook';
    color: #000;
    font-size: 5.152rem;
    margin-bottom: 90px;
    text-decoration: none;
}

.pd-footer-wrapper .pd-description {
    font-family: 'futura_bk_btbook';
    font-size: 2.5rem;
    color: #231f20;
}

@media only screen and (max-width: 1400px) {
    body {
        zoom: 75%;
    }
}

@media only screen and (max-width: 768px) {
    body {
        zoom: 100%;
    }

    .pd-banner-wrapper-bg {
        background-image: url('../images/banner-bg-device.jpg');
    }

    .pd-banner-wrapper {
        border-bottom-width: 42px;
    }

    .pd-banner-content {
        width: 55%;
    }

    .pd-logo {
        margin: 14px 15px 27px 0;
        width: 70%;
    }

    .pd-banner-text {
        margin: 0 15px 25px 0;
        padding-left: 30px;
        font-size: 4.5rem;
    }

    .pd-announcement-wrapper {
        padding: 15px 15px 10px 15px;
        width: 98%;
        transform: translateY(-20px);
        background-size: contain;
    }
    
    .pd-announcement-wrapper > .pd-heading {
        font-size: 3.2rem;
        margin-bottom: 5px;
    }

    .pd-announcement-wrapper > .pd-description {
        font-size: 2rem;
        width: 70%;
    }

    .pd-get-booster-wrapper > .pd-dont-wait-vaccinate-wrapper {
        width: 95%;
        padding: 15px 0 10px 0;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }

    .pd-get-booster-wrapper > .pd-dont-wait-vaccinate-wrapper > .pd-heading {
        font-size: 5rem;
        margin-bottom: 5px;
    }

    .pd-get-booster-wrapper > .pd-dont-wait-vaccinate-wrapper > .pd-description {
        font-size: 3.5rem;
        padding-top: 20px;
    }

    .pd-get-booster-wrapper > .pd-dont-wait-vaccinate-wrapper > .pd-description:before {
        height: 8px;
        background-size: 5%;
    }

    .pd-booster-guide-wrapper {
        width: 350px;
        height: 350px;
        margin: -160px auto 100px auto;
        border-width: 4px;
        padding: 0 18px;
    }

    .pd-booster-guide-wrapper > a {
        font-size: 2.5rem;
        padding-top: 170px;
        line-height: normal;
    }

    .pd-booster-guide-wrapper > a > span.pd-click-here {
        font-size: 4rem;
        line-height: normal;
        margin-bottom: 5px;
    }

    .pd-get-booster-guide-wrapper {
        padding: 20px 50px;
        width: 90%;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        font-size: 3rem;
        line-height: 4.5rem;
    }

    .pd-footer-wrapper {
        padding: 20px 30px;
    }

    .pd-footer-wrapper .pd-heading {
        font-size: 3.5rem;
        margin-bottom: 15px;
    }

    .pd-footer-wrapper .pd-heading > img {
        width: 25%;
        transform: translateY(3px);
    }

    .pd-footer-wrapper > a {
        font-size: 3rem;
        margin-bottom: 20px;
    }

    .pd-footer-wrapper .pd-description {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 480px) {
    /* .pd-banner-wrapper-bg {
        background-image: url('../images/banner-bg-device.jpg');
    } */

    .pd-banner-wrapper {
        border-bottom-width: 22px;
    }

    .pd-banner-content {
        width: 62%;
    }

    .pd-logo {
        margin: 14px 8px 27px 0;
        /* width: 70%; */
    }

    .pd-banner-text {
        /* margin: 0 15px 25px 0;
        padding-left: 30px; */
        font-size: 1.9rem;
    }

    .pd-announcement-wrapper {
        padding: 5px 15px 5px 15px;
        /* width: 98%; */
        background-size: cover;
        transform: translateY(-10px);
    }
    
    .pd-announcement-wrapper > .pd-heading {
        font-size: 1.498rem;
        /* margin-bottom: 5px; */
    }

    .pd-announcement-wrapper > .pd-description {
        font-size: 1.016rem;
        /* width: 70%; */
    }

    .pd-note-wrapper {
        margin-bottom: 33px;
    }

    .pd-note-wrapper > .pd-description {
        font-size: 1.016rem;
    }

    .pd-why-booster-wrapper {
        margin: 0 20px 30px 20px;
    }

    .pd-why-booster-wrapper-content {
        padding: 17px 30px 10px 30px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-bottom: 40px;
    }

    .pd-why-booster-wrapper-content > .pd-heading {
        font-size: 1.875rem;
    }

    .pd-why-booster-wrapper-content > .pd-columnar-wrapper > .column {
        width: 100%;
    }

    .pd-why-booster-wrapper-content > .pd-columnar-wrapper > .column > .pd-banner {
        width: 60%;
        margin: 0 auto;
    }

    .pd-why-booster-wrapper-content > .pd-columnar-wrapper > .column > .pd-heading {
        font-size: 1.072rem;
        margin-bottom: 0;
    }

    .pd-why-booster-wrapper-content > .pd-columnar-wrapper > .column > .pd-description {
        font-size: 1rem;
    }

    .pd-why-booster-wrapper-content > .pd-columnar-wrapper > .column > .pd-description > sup {
        font-size: 0.8rem;
    }

    .pd-why-booster-wrapper-content > .pd-columnar-wrapper {
        flex-direction: column;
    }

    .pd-get-booster-wrapper > .pd-dont-wait-vaccinate-wrapper {
        width: 65%;
        padding: 8px 0 4px 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .pd-get-booster-wrapper > .pd-dont-wait-vaccinate-wrapper > .pd-heading {
        font-size: 1.594rem;
        margin-bottom: 5px;
    }

    .pd-get-booster-wrapper > .pd-dont-wait-vaccinate-wrapper > .pd-description {
        font-size: 1.313rem;
        padding-top: 8px;
    }

    .pd-get-booster-wrapper > .pd-dont-wait-vaccinate-wrapper > .pd-description:before {
        height: 3px;
        background-size: 5%;
    }

    .pd-booster-guide-wrapper {
        width: 140px;
        height: 140px;
        margin: -62px auto 20px auto;
        border-width: 4px;
        padding: 0 18px;
    }

    .pd-booster-guide-wrapper > a {
        font-size: 1.032rem;
        padding-top: 60px;
        line-height: normal;
    }

    .pd-booster-guide-wrapper > a > span.pd-click-here {
        font-size: 1.501rem;
        line-height: normal;
        margin-bottom: 5px;
    }

    .pd-get-booster-guide-wrapper {
        padding: 10px 30px;
        width: 90%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        font-size: 1.313rem;
        line-height: 1.5rem;
    }

    .pd-footer-wrapper {
        padding: 14px 20px;
    }

    .pd-footer-wrapper .pd-heading {
        font-size: 1.116rem;
        margin-bottom: 15px;
    }

    .pd-footer-wrapper .pd-heading > img {
        width: 25%;
        transform: translateY(3px);
    }

    .pd-footer-wrapper > a {
        font-size: 1.16rem;
        margin-bottom: 20px;
    }

    .pd-footer-wrapper .pd-description {
        font-size: 0.563rem;
    }
}

@media only screen and (max-width: 320px) {
    body {
        zoom: 90%;
    }

    .pd-announcement-wrapper {
        background-size: contain;
    }
}