.about-prodige 
    .intro
        h2 PRODIGE Digital is
            span ...
        p A full-service product, app and platform digital services company.

        p Its mission is to be prodigious for their clients, i.e. to be a versatile, state-of-the-art and exceptional digital partner to companies building powerful market relationships. A flexible, agile and robust digital services company, Prodige tackles a wide range of digital challenges for clients in a variety of engagement modes.

        p It is led by seasoned professionals with multi-disciplinary experience across technology, strategy and design. True to their name, they constantly research modern business and technology trends, and expand Prodige's capabilities in providing digital solutions.

        p They design and deploy digital products and experiences that help companies build traction and growth, whether they are enterprise brands or startups. And they do it with custom design, scalable apps and agile delivery for measurable value on time and on budget.
        

        p Prodige aims to be a digital partner to companies from inception through evolution, with quality, innovation and proven solutions as cornerstones of its reputation.

        p Its goal is to partner companies for a break-through connect with their customers.
    include _services.pug
    .teams
        h2 OUR TEAM

        .team
            img(src="images/man.png", alt="Rajesh Sawant")
            h3 Rajesh Sawant
            .social-icons
                a(href="https://linkedin.com" target="_blank") 
                    img(src="images/linkedin.png", alt="")
                a(href="https://facebook.com" target="_blank") 
                    img(src="images/facebook.png", alt="")
        .team
            img(src="images/man.png", alt="")
            h3 Murtaza Patanwala
            .social-icons
                a(href="https://linkedin.com" target="_blank") 
                    img(src="images/linkedin.png", alt="")
                a(href="https://facebook.com" target="_blank") 
                    img(src="images/facebook.png", alt="")
        .team
            img(src="images/man.png", alt="")
            h3 Shivkumar Gupta
            .social-icons
                a(href="https://linkedin.com" target="_blank") 
                    img(src="images/linkedin.png", alt="")
                a(href="https://facebook.com" target="_blank") 
                    img(src="images/facebook.png", alt="")
    .counters 
        .count
            .counter(data-count="300") 0+
            span Projects
        .count
            .counter(data-count="60") 0+
            span Clients
        .count
            .counter(data-count="15") 0+
            span Years of experience
    .work_sectors
        h2 TECH STACKS
        p HTML5 | CSS3 | JavaScript | TypeScript | jQuery | Ionic | Angular | React | MongoDB | PHP | MySQL |  Drupal  | Laravel | CI/CD | GWD | WordPress | Shopify | Webflow | AWS | Azure
    
    .testimonials
        h2 OUR WORK 
        p SPEAK'S FOR US
        #carousel
            .testimonial 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sagittis viverra velit. Nunc pretium suscipit tincidunt. Nunc mi orci, finibus at nibh imperdiet, commodo molestie e nim.  
                h5 Client Name / Company name
                    span Position / Property (Website , landing pages, mailers etc.)
            .testimonial 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sagittis viverra velit. Nunc pretium suscipit tincidunt. Nunc mi orci, finibus at nibh imperdiet, commodo molestie e nim.  
                h5 Client Name / Company name
                    span Position / Property (Website , landing pages, mailers etc.)
            .testimonial 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sagittis viverra velit. Nunc pretium suscipit tincidunt. Nunc mi orci, finibus at nibh imperdiet, commodo molestie e nim.  
                h5 Client Name / Company name
                    span Position / Property (Website , landing pages, mailers etc.)
            .testimonial 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sagittis viverra velit. Nunc pretium suscipit tincidunt. Nunc mi orci, finibus at nibh imperdiet, commodo molestie e nim.  
                h5 Client Name / Company name
                    span Position / Property (Website , landing pages, mailers etc.)         
            .testimonial 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sagittis viverra velit. Nunc pretium suscipit tincidunt. Nunc mi orci, finibus at nibh imperdiet, commodo molestie e nim.  
                h5 Client Name / Company name
                    span Position / Property (Website , landing pages, mailers etc.)
            .testimonial 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sagittis viverra velit. Nunc pretium suscipit tincidunt. Nunc mi orci, finibus at nibh imperdiet, commodo molestie e nim.  
                h5 Client Name / Company name
                    span Position / Property (Website , landing pages, mailers etc.)                                                                    
