<meta charset="utf-8">

<link rel="manifest" href="site.webmanifest">
<link rel="apple-touch-icon" href="icon.png">
<!-- Place favicon.ico in the root directory -->


<meta name="theme-color" content="#fafafa">

<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Primary Meta Tags -->
<title></title>
<meta name="title" content="">
<meta name="description" content="">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://metatags.io/">
<meta property="og:title" content="">
<meta property="og:description" content="">
<meta property="og:image" content="">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://metatags.io/">
<meta property="twitter:title" content="">
<meta property="twitter:description" content="">
<meta property="twitter:image" content="">


<!-- fONTS -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Urbanist:wght@100;200;300;400;500;600;700;800;900&family=Yantramanav:wght@100;300;700;900&display=swap" rel="stylesheet"> 

<!-- cAROUSEL -->
//- <link rel="stylesheet" type="text/css" href="css/slick.css"/>
<link rel="stylesheet" href="css/homepage.css">