.loader.hide 
    .logo
        .squarebg
        .p
        .d
        .squares
            .sq
            .sq
            .sq
            .sq
            .sq
            .sq
            .sq
            .sq
            .sq
            .sq
            .sq
            .sq