.loader 
    svg(width="400" height="400" viewBox="0 0 400 400" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M23.6447 235.777C4.11845 216.25 4.11844 184.592 23.6447 165.066L165.066 23.6447C184.592 4.11845 216.25 4.11844 235.777 23.6447L377.198 165.066C396.724 184.592 396.724 216.25 377.198 235.777L235.777 377.198C216.25 396.724 184.592 396.724 165.066 377.198L23.6447 235.777Z" fill="url(#paint0_linear_1104_2)")
        path(d="M141.256 247.322C127.191 233.257 119.289 214.181 119.289 194.289C119.289 174.398 127.191 155.322 141.256 141.256C155.321 127.191 174.398 119.289 194.289 119.289C214.18 119.289 233.257 127.191 247.322 141.256" stroke="white" stroke-width="50")
        path(d="M259.322 153.256C273.387 167.322 281.289 186.398 281.289 206.289C281.289 226.181 273.387 245.257 259.322 259.322C245.257 273.388 226.18 281.289 206.289 281.289C186.398 281.289 167.321 273.388 153.256 259.322" stroke="white" stroke-width="50")
        line(x1="307" y1="25" x2="307" y2="282" stroke="white" stroke-width="50")
        line(x1="94" y1="376" x2="96" y2="119" stroke="white" stroke-width="50")
        defs
            linearGradient(id="paint0_linear_1104_2" x1="94.3551" y1="94.3554" x2="306.487" y2="306.487" gradientUnits="userSpaceOnUse")
                stop(stop-color="#FE413F")
                stop(offset="0.494792" stop-color="#FE413F")
                stop(offset="0.494892" stop-color="#545454")
                stop(offset="1" stop-color="#545454")
//-     .logo
//-         .squarebg
//-         .p
//-         .d
//-         .squares
//-             .sq
//-             .sq
//-             .sq
//-             .sq
//-             .sq
//-             .sq
//-             .sq
//-             .sq
//-             .sq
//-             .sq
//-             .sq
//-             .sq