ul 
    li 
        a(href="javascript:;" data-category="") Website Development
    li 
        a(href="javascript:;" data-category="") Emailers
    li 
        a(href="javascript:;" data-category="") Front end
    li 
        a(href="javascript:;" data-category="") Back end

.listings 
    a.prjListing(data-category="") 
        img(src="", alt="")
        p.title Project Title
    a.prjListing(data-category="") 
        img(src="", alt="")
        p.title Project Title
    a.prjListing(data-category="") 
        img(src="", alt="")
        p.title Project Title
    a.prjListing(data-category="") 
        img(src="", alt="")
        p.title Project Title
    a.prjListing(data-category="") 
        img(src="", alt="")
        p.title Project Title
    a.prjListing(data-category="") 
        img(src="", alt="")
        p.title Project Title
    a.prjListing(data-category="") 
        img(src="", alt="")
        p.title Project Title
    a.prjListing(data-category="") 
        img(src="", alt="")
        p.title Project Title
    a.prjListing(data-category="") 
        img(src="", alt="")
        p.title Project Title
    a.prjListing(data-category="") 
        img(src="", alt="")
        p.title Project Title
    a.prjListing(data-category="") 
        img(src="", alt="")
        p.title Project Title
        