section.projects
    .projects-carousel
        div
            <picture>
                source(media="(max-width:768px)" srcset="images/projects/alg-m.png")
                img(src="images/projects/alg.png", alt="")
        div
            <picture>
                source(media="(max-width:768px)" srcset="images/projects/bbst-m.png")
                img(src="images/projects/bbst.png", alt="")
        div
            <picture>
                source(media="(max-width:768px)" srcset="images/projects/cg-m.png")
                img(src="images/projects/cg.png", alt="")
        div
            <picture>
                source(media="(max-width:768px)" srcset="images/projects/nissan-m.png")
                img(src="images/projects/nissan.png", alt="")
        div
            <picture>
                source(media="(max-width:768px)" srcset="images/projects/nzmp-m.png")
                img(src="images/projects/nzmp.png", alt="")
        div
            <picture>
                source(media="(max-width:768px)" srcset="images/projects/wipro-sustainability-m.png")
                img(src="images/projects/wipro-sustainability.png", alt="")
    .project-titles 
        a.active(href="https://alittlegiant.com/" target="_blank" data-slide="1") Little Giant 
        a(href="https://www.baconbuttiestation.com/" target="_blank" data-slide="2") Bacon Buttie Station
        a(href="/projects/cg/" target="_blank" data-slide="3") Centuro Global
        a(href="/projects/Nissan-v1/" target="_blank" data-slide="4") Nissan
        a(href="https://nzmotionpictures.com/" target="_blank" data-slide="5") NZ Motion Pictures
        a(href="https://www.wipro.com/sustainability/" target="_blank" data-slide="6") Wipro
        
            