section.projects
    .projects-carousel
        div
            img(src="https://picsum.photos/1366/768", alt="")
        div
            img(src="https://picsum.photos/1366/767", alt="")
        div
            img(src="https://picsum.photos/1366/765", alt="")
        div
            img(src="https://picsum.photos/1366/764", alt="")
        div
            img(src="https://picsum.photos/1366/763", alt="")
    .project-titles 
        a.active(href="/projects/cg/" target="_blank" data-slide="1") Centuro Global 
        a(href="/projects/cg/" target="_blank" data-slide="2") Nissan 
        a(href="https://alittlegiant.com/" target="_blank" data-slide="3") Little Giant
        a(href="https://www.wipro.com/sustainability/" target="_blank" data-slide="4") Wipro 
        a(href="/projects/cg/" target="_blank" data-slide="5") ICICI 
        
            