.services 
    ul.services
        li Design
            span Branding <br> UI / UX
        li Develop
            span Frontend <br> Backend <br> Wordpress <br> Apps <br> AMP <br> Calculators <br> E-Commerce <br> CMS
        li Deploy
            span Hosting <br> Go Live support