/*/// Adds a browser prefix to the property*/
/*/// @param {*} $property Property*/
/*/// @param {*} $value Value*/
/*/// Background Gradient*/
/*/// @param {Color} $startColor [#3C3C3C] - Start Color*/
/*/// @param {Color} $endColor [#999999] - End Color*/
/*/// Background Horizontal*/
/*/// @param {Color} $startColor [#3C3C3C] - Start Color*/
/*/// @param {Color} $endColor [#999999] - End Color*/
/*/// Background Horizontal - inverse direction*/
/*/// @param {Color} $startColor [#999999] - Start Color*/
/*/// @param {Color} $endColor [#3C3C3C] - End Color*/
/*/// Background Radial*/
/*/// @param {Color} $startColor [#3C3C3C] - Start Color*/
/*/// @param {Percentage} $startPos [0%] - Start position*/
/*/// @param {Color} $endColor [#999999] - End Color*/
/*/// @param {Percentage} $endPos [100%] - End position*/
/*/// Background Size*/
/*/// @param {Size} $width [100%] - Width*/
/*/// @param {Size} $width [$width] - Height*/
/*/// @require {mixin} css3-prefix*/
/*/// Background Color Opacity*/
/*/// @param {Color} $color [100%] - Color*/
/*/// @param {Double} $opacity [0.85] - Opacity*/
/*/// Border Radius*/
/*/// @param {Size} $radius [5px] - Radius*/
/*/// @require {mixin} css3-prefix*/
/*/// Border Radius Separate*/
/*/// @param {Size} $topLeftRadius [5px] - Top Left*/
/*/// @param {Size} $topRightRadius [5px] - Top Right*/
/*/// @param {Size} $bottomLeftRadius [5px] - Bottom Left*/
/*/// @param {Size} $bottomRightRadius [5px] - Bottom Right*/
/*/// Box*/
/*/// @param {*} $orient [horizontal] - Orientation*/
/*/// @param {*} $pack [center] - Pack*/
/*/// @param {*} $align [center] - Align*/
/*/// @require {mixin} css3-prefix*/
/*/// Box RGBA*/
/*/// @param {Integer} $r [60] - Red*/
/*/// @param {Integer} $g [3] - Green*/
/*/// @param {Integer} $b [12] - Blue*/
/*/// @param {Double} $opacity [0.23] - Opacity*/
/*/// @param {Color} $color [#3C3C3C] - Color*/
/*/// Box Shadow*/
/*/// @param {Size} $x [2px] - X*/
/*/// @param {Size} $y [2px] - Y*/
/*/// @param {Size} $blur [5px] - Blur*/
/*/// @param {Color} $color [rgba(0,0,0,.4)] - Color*/
/*/// @param {Boolean} $inset - Inset*/
/*/// Box Sizing*/
/*/// @param {*} $type [border-box] - Type*/
/*/// @require {mixin} css3-prefix*/
/*/// Columns*/
/*/// @param {Integer} $count [3] - Count*/
/*/// @param {Integer} $gap [10] - Gap*/
/*/// @require {mixin} css3-prefix*/
/*/// Double Borders*/
/*/// @param {Color} $colorOne [#3C3C3C] - Color One*/
/*/// @param {Color} $colorTwo [#999999] - Color Two*/
/*/// @param {Size} $radius [0] - Radius*/
/*/// @require {mixin} css3-prefix*/
/*/// @require {mixin} border-radius*/
/*/// Flex*/
/*/// @param {Integer} $value [1] - Value*/
/*/// @require {mixin} css3-prefix*/
/*/// Flip*/
/*/// @param {Double} $scaleX [-1] - ScaleX*/
/*/// @require {mixin} css3-prefix*/
/*/// Font Face*/
/*/// @param {Font} $fontFamily [myFont] - Font Family*/
/*/// @param {String} $eotFileSrc ['myFont.eot'] - Eot File Source*/
/*/// @param {String} $woffFileSrc ['myFont.woff'] - Woff File Source*/
/*/// @param {String} $ttfFileSrc ['myFont.ttf'] - Ttf File Source*/
/*/// @param {String} $svgFileSrc ['myFont.svg'] - Svg File Source*/
/*/// Opacity*/
/*/// @param {Double} $opacity [0.5] - Opacity*/
/*/// @require {mixin} css3-prefix*/
/*/// Outline Radius*/
/*/// @param {Size} $radius [5px] - Radius*/
/*/// @require {mixin} css3-prefix*/
/*/// Resize*/
/*/// @param {*} $directoin [both] - Direction*/
/*/// @require {mixin} css3-prefix*/
/*/// Rotate*/
/*/// CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html*/
/*/// @param {Double} $deg [0] - Degree*/
/*/// @param {Double} $m11 [0] - M11*/
/*/// @param {Double} $m12 [0] - M12*/
/*/// @param {Double} $m21 [0] - M21*/
/*/// @param {Double} $m22 [0] - M22*/
/*/// @require {mixin} css3-prefix*/
/*/// Text Shadow*/
/*/// @param {Size} $x [2px] - X*/
/*/// @param {Size} $y [2px] - Y*/
/*/// @param {Size} $blur [2px] - Blur*/
/*/// @param {Color} $color [rgba(0,0,0,.4)] - Color*/
/*/// Transform*/
/*/// @param {List} $params - Params*/
/*/// @require {mixin} css3-prefix*/
/*/// Transform-Origin*/
/*/// @param {List} $params - Params*/
/*/// @require {mixin} css3-prefix*/
/*/// @param {List} $params - Params*/
/*/// @require {mixin} css3-prefix*/
/*/// Transition*/
/*/// @param {List} $properties - Properties*/
/*/// @require {mixin} css3-prefix*/
/*/// Triple Borders*/
/*/// @param {Color} $colorOne [#3C3C3C] - Color One*/
/*/// @param {Color} $colorTwo [#999999] - Color Two*/
/*/// @param {Color} $colorThree [#000000] - Color Three*/
/*/// @param {Size} $radius [0] - Radius*/
/*/// @require {mixin} border-radius*/
/*/// @require {mixin} css3-prefix*/
/*/// Keyframes*/
/*/// @param {*} $animation-name - Animation name*/
/*/// @content [Animation css]*/
/*/// Animation*/
/*/// @param {*} $str - name duration timing-function delay iteration-count direction fill-mode play-state ([http://www.w3schools.com/cssref/css3_pr_animation.asp](http://www.w3schools.com/cssref/css3_pr_animation.asp))*/
/*/// @require {mixin} css3-prefix*/
body.event {
  background: rgba(223, 129, 114, 0.05) !important;
}
body.press-release {
  background: rgba(2, 130, 131, 0.05) !important;
}
body#mediaCenterPage {
  background: #e7e7e7;
}
body#mediaCenterPage .scrollDownHolder #back2Top {
  top: -170px;
}
body#mediaCenterPage .scrollDownHolder::before {
  top: -35px;
}

.overlayWrapper {
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 999;
}
.overlayWrapper img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
}

.scrollDownHolder {
  z-index: 10;
}

.scrollDownHolder #back2Top {
  color: #fff;
}

.scrollDownHolder.showTop #back2Top {
  opacity: 1;
  display: block;
}

.mediacenter-landingpage {
  padding: 9% 0 80px 0;
}
.mediacenter-landingpage .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.mediacenter-landingpage .introText p {
  font-size: 48px;
  color: #562359;
}
.mediacenter-landingpage .introText p .textGrad {
  color: #c96b86;
}
.mediacenter-landingpage .introText p .textGrad.animate {
  color: #c96b86;
}
.mediacenter-landingpage .flexBoxWrapper {
  width: 100%;
  margin: 42px auto 0;
}
.mediacenter-landingpage .flexBox {
  position: relative;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  margin-left: -30px;
  margin-top: -30px;
}
.mediacenter-landingpage .flexItem {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s all ease;
  height: 415px;
  /* border-bottom: 1px solid #888; */
  min-width: 270px;
  margin-left: 30px;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  overflow: hidden;
}
.mediacenter-landingpage .flexItem .mobileLink {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: none;
  left: 0;
  top: 0;
  z-index: 10;
}
.mediacenter-landingpage .flexItem:hover {
  margin-top: 25px;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
}
.mediacenter-landingpage .flexItem.smallCard-text, .mediacenter-landingpage .flexItem.smallCard-img {
  max-width: 277px;
}
.mediacenter-landingpage .flexItem.smallCard-text {
  background-color: #df8172;
}
.mediacenter-landingpage .filterNavigation {
  float: right;
  margin-top: -30px;
  position: relative;
  z-index: 2;
}
.mediacenter-landingpage .filterNavigation li {
  float: left;
  margin: 0 5px;
}
.mediacenter-landingpage .filterNavigation li a {
  padding: 5px 30px;
  color: #562359;
  border: 2px solid transparent;
  text-decoration: none;
  font-size: 14px;
  font-family: "Montserrat-Regular", Helvetica, sans-serif;
}
.mediacenter-landingpage .filterNavigation li a:hover {
  border: 2px solid #562359;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}
.mediacenter-landingpage .filterNavigation li.active a {
  border: 2px solid #562359;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.bigCard-img {
  max-width: 600px;
}
.bigCard-img.event .title {
  background-color: #df8172;
}
.bigCard-img.press-release .title {
  background-color: #028283;
}
.bigCard-img .imgWrapper {
  position: relative;
}
.bigCard-img .imgWrapper .title {
  padding: 6px 20px;
  text-align: center;
  min-width: 80px;
  color: #fff;
  font-size: 11px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  font-weight: normal;
  position: absolute;
  left: 25px;
  top: 20px;
  z-index: 2;
  text-transform: capitalize;
}
.bigCard-img .imgWrapper img {
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.bigCard-img .imgWrapper video {
  height: 230px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.bigCard-img .imgWrapper .imageCarousel {
  height: 230px;
  overflow: hidden;
  position: relative;
}
.bigCard-img .imgWrapper .imageCarousel .owl-stage-outer:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}
.bigCard-img .contentWrapper {
  float: left;
  padding: 10px 34px;
}
.bigCard-img .date {
  font-size: 12px;
  color: #787878;
  padding-top: 27px;
  font-family: "Montserrat-Regular", Helvetica, sans-serif;
}
.bigCard-img h2 {
  font-family: "Montserrat-Bold", Helvetica, sans-serif;
  font-size: 18px;
  color: #222222;
  text-transform: uppercase;
  padding: 11px 0 28px 0;
  line-height: normal;
  position: relative;
  background: url(../images/horz-line.jpg) 0 bottom no-repeat;
}
.bigCard-img .postContent {
  font-size: 12px;
  color: #222222;
  font-family: "Open Sans", sans-serif;
  line-height: 1.3em;
  height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bigCard-img .postContent * {
  font-family: "Open Sans", sans-serif !important;
}
.bigCard-img .postContent strong {
  font-weight: bold;
}
.bigCard-img .viewMore {
  color: #787878;
  font-size: 10px;
  font-family: "Montserrat-Regular", Helvetica, sans-serif;
  margin-top: 13px;
  text-decoration: none;
  float: left;
}

.noImage.event .title {
  background-color: #934b3f;
}
.noImage.press-release .title {
  background-color: #028283;
}
.noImage .imgWrapper .title {
  padding: 5px 0;
  text-align: center;
  width: 80px;
  color: #fff;
  font-size: 11px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  font-weight: normal;
  position: absolute;
  left: 25px;
  top: 20px;
}
.noImage .imgWrapper .imageCarousel {
  display: none;
}
.noImage .contentWrapper {
  padding: 25px 20px;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
}
.noImage .contentWrapper .date {
  font-size: 12px;
  color: #fff;
  padding-top: 27px;
  font-family: "Montserrat-Regular", Helvetica, sans-serif;
}
.noImage .contentWrapper h2 {
  font-family: "Montserrat-Bold", Helvetica, sans-serif;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 0 50px 0;
  line-height: normal;
  position: relative;
}
.noImage .contentWrapper h2:before {
  position: absolute;
  left: 0;
  bottom: 20%;
  content: "";
  width: 25%;
  border-top: 2px solid #fff;
}
.noImage .contentWrapper .postContent {
  font-size: 12px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  line-height: 1.3em;
}
.noImage .contentWrapper .viewMore {
  color: #fff;
  font-size: 10px;
  font-family: "Montserrat-Regular", Helvetica, sans-serif;
  margin-top: 30px;
  text-decoration: none;
}

.smallCard-img {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
}
.smallCard-img.event .title {
  background-color: #df8172;
}
.smallCard-img.press-release .title {
  background-color: #028283;
}
.smallCard-img.noImage.event .title {
  background-color: #934b3f;
}
.smallCard-img.noImage.press-release .title {
  background-color: #028283;
}
.smallCard-img .imgWrapper {
  position: relative;
}
.smallCard-img .imgWrapper .title {
  padding: 5px 15px;
  text-align: center;
  color: #fff;
  font-size: 11px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  font-weight: normal;
  position: absolute;
  left: 25px;
  top: 20px;
  z-index: 2;
  text-transform: capitalize;
}
.smallCard-img .imgWrapper .owl-stage-outer {
  height: 100%;
}
.smallCard-img .imgWrapper .owl-carousel .owl-stage {
  height: 100%;
}
.smallCard-img .imgWrapper .owl-carousel.owl-drag .owl-item {
  height: 100%;
}
.smallCard-img .imgWrapper img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.smallCard-img .imgWrapper .imageCarousel {
  height: 185px;
  overflow: hidden;
  position: relative;
}
.smallCard-img .imgWrapper .imageCarousel .owl-stage-outer:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}
.smallCard-img .contentWrapper {
  padding: 10px 20px 25px 20px;
}
.smallCard-img .date {
  font-size: 12px;
  color: #787878;
  padding-top: 27px;
  font-family: "Montserrat-Regular", Helvetica, sans-serif;
}
.smallCard-img h2 {
  font-family: "Montserrat-Bold", Helvetica, sans-serif;
  font-size: 18px;
  color: #222222;
  text-transform: uppercase;
  padding: 18px 0 34px 0;
  line-height: normal;
  position: relative;
}
.smallCard-img h2:before {
  position: absolute;
  left: 0;
  bottom: 10%;
  content: "";
  width: 25%;
  border-top: 2px solid #bababa;
}
.smallCard-img .viewMore {
  color: #787878;
  font-size: 10px;
  font-family: "Montserrat-Regular", Helvetica, sans-serif;
  margin-top: 5px;
  text-decoration: none;
  float: left;
}
.smallCard-img .postContent {
  display: none;
}
.smallCard-img.noImage .postContent {
  display: block;
}

.mediacenter-detailpage {
  padding: 10% 0 40px 0px;
}
.mediacenter-detailpage .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.mediacenter-detailpage .leftSec {
  width: 75%;
  max-width: 893px;
  background-color: #ffffff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  position: relative;
}
.mediacenter-detailpage .leftSec .headingWrapper {
  padding: 5% 46px 3% 45px;
  position: relative;
}
.mediacenter-detailpage .leftSec .headingWrapper h1 {
  font-size: 22px;
  font-family: "Montserrat-Bold", Helvetica, sans-serif;
  padding-bottom: 16px;
  width: 85%;
  text-transform: uppercase;
  line-height: normal;
}
.mediacenter-detailpage .leftSec .headingWrapper h3 {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
}
.mediacenter-detailpage .leftSec .headingWrapper .viewSourceBtn {
  position: absolute;
  right: 3%;
  top: 25%;
  font-size: 14px;
}
.mediacenter-detailpage .leftSec .headingWrapper .title {
  padding: 6px 20px;
  min-width: 80px;
  text-align: center;
  color: #fff;
  font-size: 11px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  font-weight: normal;
  position: absolute;
  top: -10px;
  left: 50px;
  text-transform: capitalize;
}
.mediacenter-detailpage .leftSec .headingWrapper .title.event {
  background-color: #df8172;
}
.mediacenter-detailpage .leftSec .headingWrapper .title.press-release {
  background-color: #028283;
}
.mediacenter-detailpage .leftSec .galleryContainer {
  position: relative;
}
.mediacenter-detailpage .leftSec .galleryContainer.fullsizeGallery {
  padding: 2%;
  background-color: #fff;
  position: fixed;
  z-index: 12;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1100px;
  top: 50%;
}
.mediacenter-detailpage .leftSec .galleryContainer.fullsizeGallery .imgContainer:before {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 65px;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1;
}
.mediacenter-detailpage .leftSec .galleryContainer.fullsizeGallery .galleryControls {
  background: rgba(0, 0, 0, 0.9);
  display: none;
}
.mediacenter-detailpage .leftSec .galleryContainer.fullsizeGallery .owl-nav {
  bottom: 12px;
}
.mediacenter-detailpage .leftSec .galleryContainer.fullsizeGallery .closeBtn {
  display: block;
  background: #000;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border: 3px solid #fff;
}
.mediacenter-detailpage .leftSec .galleryContainer .owl-carousel {
  z-index: unset;
}
.mediacenter-detailpage .leftSec .galleryContainer .owl-carousel img {
  width: 100%;
}
.mediacenter-detailpage .leftSec .galleryContainer .owl-nav {
  position: absolute;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  background-color: #ffffff;
  bottom: 9px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  box-shadow: 0 5px 10px 0 rgba(0, 3, 51, 0.2);
}
.mediacenter-detailpage .leftSec .galleryContainer .owl-nav .owl-prev,
.mediacenter-detailpage .leftSec .galleryContainer .owl-nav .owl-next {
  padding: 14px 24px !important;
  outline: none;
}
.mediacenter-detailpage .leftSec .galleryContainer .owl-nav .owl-prev span {
  font-size: 0px;
  position: relative;
}
.mediacenter-detailpage .leftSec .galleryContainer .owl-nav .owl-prev span:after {
  content: "";
  height: 10px;
  width: 10px;
  display: block;
  border: 2px solid #562359;
  border-right-width: 0;
  border-bottom-width: 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  position: absolute;
  top: -12px;
  left: -5px;
}
.mediacenter-detailpage .leftSec .galleryContainer .owl-nav .owl-next span {
  font-size: 0px;
  position: relative;
}
.mediacenter-detailpage .leftSec .galleryContainer .owl-nav .owl-next span:before {
  border-left: 1px solid #e6e6e6;
  position: absolute;
  left: -25px;
  top: -18px;
  content: "";
  height: 26.9px;
}
.mediacenter-detailpage .leftSec .galleryContainer .owl-nav .owl-next span:after {
  content: "";
  height: 10px;
  width: 10px;
  display: block;
  border: 2px solid #562359;
  border-left-width: 0;
  border-top-width: 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  position: absolute;
  top: -12px;
  right: -5px;
}
.mediacenter-detailpage .leftSec .galleryContainer .galleryControls {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 64px;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.mediacenter-detailpage .leftSec .galleryContainer .galleryControls .fullSize {
  float: right;
  margin: 13px 19px 0 0;
  cursor: pointer;
  transform: scale(0.6);
}
.mediacenter-detailpage .leftSec .galleryContainer .closeBtn {
  position: absolute;
  z-index: 15;
  right: -45px;
  top: -44px;
  cursor: pointer;
  display: none;
}
.mediacenter-detailpage .leftSec .galleryContainer .closeBtn:before, .mediacenter-detailpage .leftSec .galleryContainer .closeBtn:after {
  content: "";
  height: 5px;
  width: 24px;
  display: block;
  background: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  position: absolute;
  top: 20px;
  left: 10px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}
.mediacenter-detailpage .leftSec .galleryContainer .closeBtn:after {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
.mediacenter-detailpage .leftSec .galleryContentWrapper {
  padding: 55px 45px;
  position: relative;
}
.mediacenter-detailpage .leftSec .galleryContentWrapper:before {
  position: absolute;
  left: 45px;
  top: 30px;
  content: "";
  width: 60px;
  border-top: 2px solid #bababa;
}
.mediacenter-detailpage .leftSec .galleryContentWrapper .contentContainer p.title {
  padding-bottom: 5px;
}
.mediacenter-detailpage .leftSec .galleryContentWrapper p {
  font-size: 14px;
  color: #222;
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  padding-bottom: 36px;
}
.mediacenter-detailpage .leftSec .galleryContentWrapper p strong {
  font-weight: bold;
}
.mediacenter-detailpage .leftSec .galleryContentWrapper ul {
  margin-bottom: 30px;
}
.mediacenter-detailpage .leftSec .galleryContentWrapper ul li {
  font-size: 14px;
  color: #222;
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  padding-bottom: 5px;
  list-style: disc;
  margin-left: 20px;
}
.mediacenter-detailpage .leftSec .galleryContentWrapper .venueDetailWrapper {
  padding-bottom: 36px;
  display: flex;
  flex-direction: column;
}
.mediacenter-detailpage .leftSec .galleryContentWrapper .venueDetailWrapper span {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 15px;
  font-family: "Open Sans", sans-serif;
}
.mediacenter-detailpage .leftSec .galleryContentWrapper .venueDetailWrapper p {
  font-size: 14px;
  font-weight: normal;
  padding: 0;
}
.mediacenter-detailpage .leftSec .galleryContentWrapper .dateStatusWrapper {
  display: flex;
}
.mediacenter-detailpage .leftSec .galleryContentWrapper .dateStatusWrapper .date,
.mediacenter-detailpage .leftSec .galleryContentWrapper .dateStatusWrapper .status,
.mediacenter-detailpage .leftSec .galleryContentWrapper .dateStatusWrapper .timing {
  width: 30%;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  font-size: 14px;
}
.mediacenter-detailpage .leftSec .galleryContentWrapper .dateStatusWrapper .date span,
.mediacenter-detailpage .leftSec .galleryContentWrapper .dateStatusWrapper .status span,
.mediacenter-detailpage .leftSec .galleryContentWrapper .dateStatusWrapper .timing span {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 15px;
}
.mediacenter-detailpage .leftSec .galleryContentWrapper .dateStatusWrapper .date .dateValue,
.mediacenter-detailpage .leftSec .galleryContentWrapper .dateStatusWrapper .date .statusValue,
.mediacenter-detailpage .leftSec .galleryContentWrapper .dateStatusWrapper .date .timingValue,
.mediacenter-detailpage .leftSec .galleryContentWrapper .dateStatusWrapper .status .dateValue,
.mediacenter-detailpage .leftSec .galleryContentWrapper .dateStatusWrapper .status .statusValue,
.mediacenter-detailpage .leftSec .galleryContentWrapper .dateStatusWrapper .status .timingValue,
.mediacenter-detailpage .leftSec .galleryContentWrapper .dateStatusWrapper .timing .dateValue,
.mediacenter-detailpage .leftSec .galleryContentWrapper .dateStatusWrapper .timing .statusValue,
.mediacenter-detailpage .leftSec .galleryContentWrapper .dateStatusWrapper .timing .timingValue {
  font-size: 14px;
  font-weight: normal;
  padding: 0;
}
.mediacenter-detailpage .leftSec .galleryContentWrapper .viewSourceBtn {
  margin-top: 36px;
  font-size: 14px;
}
.mediacenter-detailpage .flex-wrap {
  display: flex;
  justify-content: space-between;
}
.mediacenter-detailpage .viewSourceBtn {
  border: 2px solid #562359;
  background: none;
  transition: all 0.5s ease-in-out;
  margin: 0;
}
.mediacenter-detailpage .viewSourceBtn span {
  color: #562359;
  transition: all 0.5s ease-in-out;
}
.mediacenter-detailpage .viewSourceBtn:hover {
  background: #562359;
}
.mediacenter-detailpage .viewSourceBtn:hover span {
  color: #fff;
}

.overlay {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 11;
}

.noScroll {
  overflow-y: hidden;
}

.relatedPostWrapper {
  width: 25%;
  max-width: 278px;
}
.relatedPostWrapper h2 {
  font-size: 16px;
  font-family: "Montserrat-Bold", Helvetica, sans-serif;
  padding-bottom: 20px;
  font-weight: bold;
}
.relatedPostWrapper .relatedPostCarousel .imgWrapper {
  height: 185px;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.relatedPostWrapper .relatedPostCarousel .imgWrapper img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.relatedPostWrapper .relatedPostCarousel .post {
  width: 100%;
  height: 380px;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
.relatedPostWrapper .relatedPostCarousel .post .contentWrapper {
  padding: 16px 20px 22px 20px;
}
.relatedPostWrapper .relatedPostCarousel .post .contentWrapper .contSection {
  height: 38px;
  overflow: hidden;
}
.relatedPostWrapper .relatedPostCarousel .post .contentWrapper p {
  font-size: 12px;
  line-height: normal;
}
.relatedPostWrapper .relatedPostCarousel .post .title {
  padding: 6px 20px;
  text-align: center;
  min-width: 80px;
  color: #fff;
  font-size: 11px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  font-weight: normal;
  position: absolute;
  top: 25px;
  left: 20px;
  z-index: 2;
  text-transform: capitalize;
}
.relatedPostWrapper .relatedPostCarousel .post .title.event {
  background-color: #df8172;
}
.relatedPostWrapper .relatedPostCarousel .post .title.press-release {
  background-color: #028283;
}
.relatedPostWrapper .relatedPostCarousel .post .date {
  font-size: 12px;
  color: #787878;
  padding-top: 27px;
  font-family: "Montserrat-Regular", Helvetica, sans-serif;
}
.relatedPostWrapper .relatedPostCarousel .post h2 {
  font-size: 18px;
  color: #222222;
  text-transform: uppercase;
  padding: 15px 0 32px 0;
  line-height: normal;
  position: relative;
}
.relatedPostWrapper .relatedPostCarousel .post h2:before {
  position: absolute;
  left: 0;
  bottom: 15px;
  content: "";
  width: 25%;
  border-top: 2px solid #bababa;
}
.relatedPostWrapper .relatedPostCarousel .post .postContent {
  font-size: 12px;
  color: #222222;
  font-family: "Open Sans", sans-serif;
  line-height: 1.3em;
}
.relatedPostWrapper .relatedPostCarousel .post .viewMore {
  color: #787878;
  font-size: 10px;
  font-family: "Montserrat-Regular", Helvetica, sans-serif;
  margin-top: 10px;
  text-decoration: none;
  float: left;
  clear: both;
}
.relatedPostWrapper .owl-carousel .owl-nav {
  position: absolute;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  background-color: #ffffff;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  box-shadow: 0 3px 3px 0 rgba(0, 3, 51, 0.2);
}
.relatedPostWrapper .owl-carousel .owl-nav .owl-prev,
.relatedPostWrapper .owl-carousel .owl-nav .owl-next {
  padding: 15px 26px !important;
  outline: none;
}
.relatedPostWrapper .owl-carousel .owl-nav .owl-prev span {
  font-size: 0px;
  position: relative;
}
.relatedPostWrapper .owl-carousel .owl-nav .owl-prev span:after {
  content: "";
  height: 10px;
  width: 10px;
  display: block;
  border: 2px solid #562359;
  border-right-width: 0;
  border-bottom-width: 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  position: absolute;
  top: -12px;
  left: -5px;
}
.relatedPostWrapper .owl-carousel .owl-nav .owl-next span {
  font-size: 0px;
  position: relative;
}
.relatedPostWrapper .owl-carousel .owl-nav .owl-next span:before {
  border-left: 1px solid #e6e6e6;
  position: absolute;
  left: -25px;
  top: -18px;
  content: "";
  height: 26.9px;
}
.relatedPostWrapper .owl-carousel .owl-nav .owl-next span:after {
  content: "";
  height: 10px;
  width: 10px;
  display: block;
  border: 2px solid #562359;
  border-left-width: 0;
  border-top-width: 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  position: absolute;
  top: -12px;
  right: -5px;
}

@media (max-width: 1600px) {
  .mediacenter-detailpage .leftSec .galleryContainer.fullsizeGallery {
    padding: 3% 2% 4%;
  }
}
@media (max-width: 1366px) {
  .mediacenter-detailpage .leftSec .galleryContainer.fullsizeGallery {
    max-width: 900px;
  }
}
@media (device-height: 1366px) and (device-width: 1024px) and (orientation: portrait) {
  .ipadPro {
    /*.relatedPostWrapper .relatedPostCarousel .imgWrapper*/
  }
  .ipadPro .introText {
    margin: 35px 0 0 30px;
    padding: 0 0 0 42px !important;
  }
  .ipadPro .relatedPostWrapper .relatedPostCarousel .post .date,
  .ipadPro .flexItem .date {
    font-size: 14px;
  }
  .ipadPro .mediaCenterPost h2 span {
    font-size: 42px;
  }
  .ipadPro .relatedPostWrapper .relatedPostCarousel .post h2,
  .ipadPro .flexItem h2 {
    font-size: 20px;
    padding: 25px 0 42px 0;
  }
  .ipadPro .mediacenter-detailpage .leftSec .headingWrapper h1 {
    font-size: 30px;
  }
  .ipadPro .mediacenter-detailpage .leftSec .headingWrapper h3 {
    font-size: 18px;
  }
  .ipadPro .mediacenter-detailpage .leftSec .galleryContentWrapper p, .ipadPro .mediacenter-detailpage .leftSec .galleryContentWrapper .venueDetailWrapper span, .ipadPro .mediacenter-detailpage .leftSec .galleryContentWrapper .dateStatusWrapper .date span, .ipadPro .mediacenter-detailpage .leftSec .galleryContentWrapper .dateStatusWrapper .status span, .ipadPro .mediacenter-detailpage .leftSec .galleryContentWrapper .dateStatusWrapper .timing span {
    font-size: 18px;
  }
  .ipadPro .relatedPostWrapper .relatedPostCarousel .post h2:before,
  .ipadPro .flexItem h2:before {
    bottom: 20px;
  }
  .ipadPro .relatedPostWrapper .relatedPostCarousel .post .contentWrapper p,
  .ipadPro .flexItem p {
    font-size: 14px;
  }
  .ipadPro .relatedPostWrapper .relatedPostCarousel .post .viewMore,
  .ipadPro .flexItem .viewMore {
    font-size: 12px;
    margin-top: 15px;
  }
  .ipadPro .relatedPostWrapper .relatedPostCarousel .post .title,
  .ipadPro .flexItem .title,
  .ipadPro .mediacenter-detailpage .leftSec .headingWrapper .title {
    font-size: 13px;
  }
  .ipadPro .relatedPostWrapper .relatedPostCarousel .post {
    height: 440px;
  }
  .ipadPro .flexItem .imgWrapper {
    height: 255px;
  }
  .ipadPro .flexItem .imageCarousel {
    height: 255px !important;
  }
  .ipadPro .mediacenter-landingpage .flexItem {
    height: 500px;
  }
  .ipadPro .services .sec4 .mediaCenterPost .imgWrapper {
    height: 185px !important;
  }
  .ipadPro .flexItem h2 {
    background-position: 0 93%;
  }
  .ipadPro .relatedPostWrapper h2 {
    font-size: 20px;
  }
  .ipadPro .mediacenter-detailpage .rightSec {
    padding: 0 10%;
  }
  .ipadPro .services .sec4 .mediaCenterPost .post {
    margin: 0;
    max-width: unset;
  }
  .ipadPro .relatedPostWrapper .owl-carousel .owl-nav {
    position: relative !important;
    margin: 0px auto 8px !important;
    box-shadow: 0 1px 3px 0 rgba(0, 3, 51, 0.2) !important;
    display: inline-block;
  }
}
@media (max-width: 1280px) {
  .mediacenter-detailpage .container {
    max-width: 95%;
  }
  .mediacenter-detailpage .leftSec .galleryContainer.fullsizeGallery {
    padding: 3% 2% 5%;
  }
  .mediacenter-detailpage .leftSec {
    width: 73%;
  }
  body#mediaCenterPage .scrollDownHolder #back2Top {
    top: unset;
  }
  .mediacenter-landingpage .container {
    max-width: 1100px;
  }
  .mediacenter-landingpage .container {
    max-width: 1100px;
  }
  .mediacenter-landingpage .flexBox {
    max-width: 1100px;
  }
  .mediacenter-landingpage .flexItem {
    min-width: 230px;
  }
  .mediacenter-landingpage.smallCard-img {
    max-width: 237px;
  }
  .bigCard-img {
    max-width: 550px;
  }
  .mediacenter-detailpage .container {
    width: 88%;
  }
}
@media (max-width: 1024px) {
  .flexBox {
    margin-left: auto !important;
    margin-right: auto;
    transform: translateX(-30px);
  }
  .flexItem {
    box-shadow: 0 5px 7px 0px rgba(0, 0, 0, 0.1);
  }
  .mediacenter-landingpage .flexItem .mobileLink {
    display: block;
  }
  .mediacenter-detailpage .container {
    width: 100%;
    max-width: 100%;
  }
  .mediacenter-detailpage .flex-wrap {
    flex-direction: column;
  }
  .mediacenter-detailpage .leftSec {
    width: 100%;
    max-width: 100%;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
  }
  .mediacenter-detailpage .rightSec {
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
  }
  .mediacenter-detailpage .rightSec {
    margin-top: 30px;
  }
  .mediacenter-detailpage {
    padding: 7% 0;
  }
  .mediacenter-detailpage .leftSec .galleryContainer .galleryControls {
    position: relative;
    background: rgb(0, 0, 0);
  }
  .mediacenter-detailpage .leftSec .galleryContainer .galleryControls .fullSize {
    transform: scale(0.8);
  }
  .mediacenter-detailpage .leftSec .headingWrapper .viewSourceBtn {
    display: none;
  }
  .mediacenter-detailpage .leftSec .headingWrapper {
    padding: 5% 46px 5% 30px;
  }
  .mediacenter-detailpage .leftSec .headingWrapper .title {
    position: relative;
    float: left;
    left: 0;
    clear: both;
    top: 0;
  }
  .mediacenter-detailpage .leftSec .headingWrapper h1 {
    clear: both;
    padding: 30px 0 20px 0;
  }
  .mediacenter-detailpage .leftSec .galleryContainer .owl-nav {
    bottom: -53px;
  }
  .mediacenter-detailpage .leftSec .galleryContainer.fullsizeGallery {
    padding: 4% 2%;
  }
  .noScroll {
    overflow-y: scroll;
  }
  .mediacenter-detailpage .leftSec .galleryContainer.fullsizeGallery {
    position: absolute;
  }
  .mediacenter-landingpage .filterNavigation {
    float: left;
    margin: 30px 0 0 30px;
  }
  .mediacenter-landingpage .flexBoxWrapper {
    margin-top: 80px;
  }
  .mediacenter-landingpage .flexItem.smallCard-img {
    max-width: 100%;
  }
  .bigCard-img .imgWrapper .imageCarousel {
    height: 185px;
  }
  .galleryControls .fullSize {
    display: none;
  }
  .relatedPostWrapper h2 {
    padding: 0 25px 29px 25px;
  }
}
@media (max-width: 800px) {
  .mediacenter-detailpage .leftSec .galleryContainer .closeBtn {
    top: -1px;
    right: 30px;
  }
  .mediacenter-landingpage .owl-carousel .owl-stage-outer {
    height: 100%;
  }
  .mediacenter-landingpage .owl-carousel .owl-stage {
    height: 100%;
  }
  .mediacenter-landingpage .owl-carousel .owl-stage-outer img {
    width: 100%;
    height: 100%;
  }
  .bigCard-img {
    max-width: 50%;
  }
}
@media (max-width: 640px) {
  .mediacenter-detailpage .leftSec .galleryContentWrapper:before {
    left: 30px;
  }
  .mediacenter-detailpage .leftSec .headingWrapper h1 {
    font-size: 16px;
  }
  .mediacenter-detailpage .leftSec .headingWrapper h3 {
    font-size: 12px;
  }
  .mediacenter-detailpage .leftSec .galleryContentWrapper {
    padding: 45px 30px;
  }
  .mediacenter-detailpage .leftSec .galleryContainer .owl-nav {
    bottom: -54px;
    transform: scale(0.8) translateX(-50%);
  }
  .mediacenter-detailpage .leftSec .galleryContainer.fullsizeGallery .closeBtn {
    transform: scale(0.8);
  }
  .flexBox .flexItem {
    margin-left: 0;
  }
  .relatedPostWrapper h2 {
    padding: 0 30px 20px 30px;
  }
  .mediacenter-detailpage .leftSec .galleryContentWrapper .dateStatusWrapper {
    flex-wrap: wrap;
  }
  .mediacenter-detailpage .leftSec .galleryContentWrapper .dateStatusWrapper .status {
    margin-top: 30px;
  }
  .mediacenter-detailpage .leftSec .galleryContentWrapper .dateStatusWrapper .date,
  .mediacenter-detailpage .leftSec .galleryContentWrapper .dateStatusWrapper .status,
  .mediacenter-detailpage .leftSec .galleryContentWrapper .dateStatusWrapper .timing {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 480px) {
  .flexBox {
    transform: translateX(0);
  }
  .mediacenter-detailpage {
    padding: 15% 0 15%;
  }
  .mediacenter-detailpage .leftSec .galleryContainer.fullsizeGallery {
    padding: 9% 2%;
  }
  .mediacenter-detailpage .leftSec .galleryContainer.fullsizeGallery .closeBtn {
    top: 6px;
  }
  .mediacenter-landingpage .filterNavigation li a {
    padding: 5px 24px;
  }
  .mediacenter-landingpage .filterNavigation {
    margin: 30px 0 0 10px;
  }
  .relatedPostWrapper h2 {
    padding: 0 10px 20px 10px;
  }
  .bigCard-img {
    max-width: 100%;
  }
}
@media (max-width: 320px) {
  .mediacenter-detailpage .leftSec .galleryContainer.fullsizeGallery .closeBtn {
    top: 2px;
  }
  .mediacenter-landingpage .filterNavigation li a {
    padding: 5px 17px;
  }
}/*# sourceMappingURL=mediaCenter.css.map */